openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Factory Wip Controller API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: factory-wip-controller
  description: Factory Wip Controller
paths:
  /api/v1/path/factory-wip/calendar/step-group-orders-list:
    get:
      tags:
      - factory-wip-controller
      summary: getStepGroupOrderList
      operationId: getStepGroupOrderListUsingGET
      parameters:
      - name: brandIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: companyIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: dateType
        in: query
        required: false
        schema:
          type: string
      - name: dueDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: dueDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: statuses
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepStatus
        in: query
        required: false
        schema:
          type: string
      - name: stepTemplateId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stepTemplateIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: userIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/factory-wip/calendar/steps:
    get:
      tags:
      - factory-wip-controller
      summary: getStepGroups
      operationId: getStepGroupsUsingGET
      parameters:
      - name: brandIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: companyIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: dateType
        in: query
        required: false
        schema:
          type: string
      - name: dueDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: dueDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: statuses
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepStatus
        in: query
        required: false
        schema:
          type: string
      - name: stepTemplateId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stepTemplateIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: userIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/factory-wip/calendar/steps-group-by-time:
    get:
      tags:
      - factory-wip-controller
      summary: getStepGroupsByTime
      operationId: getStepGroupsByTimeUsingGET
      parameters:
      - name: brandIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: companyIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: dateType
        in: query
        required: false
        schema:
          type: string
      - name: dueDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: dueDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: statuses
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepStatus
        in: query
        required: false
        schema:
          type: string
      - name: stepTemplateId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stepTemplateIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: userIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
