openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Pre Order Po Finance Controller API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: pre-order-po-finance-controller
  description: Pre Order Po Finance Controller
paths:
  /api/v1/pre-orders/rm/po:
    get:
      tags:
      - pre-order-po-finance-controller
      summary: index
      operationId: indexUsingGET_24
      parameters:
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    post:
      tags:
      - pre-order-po-finance-controller
      summary: create
      operationId: createUsingPOST_13
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PreOrderPoDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreOrderPoDto'
        description: dto
        required: true
  /api/v1/pre-orders/rm/po/{id}:
    get:
      tags:
      - pre-order-po-finance-controller
      summary: getById
      operationId: getByIdUsingGET_1
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PreOrderPoDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    put:
      tags:
      - pre-order-po-finance-controller
      summary: update
      operationId: updateUsingPUT_10
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PreOrderPoDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreOrderPoDto'
        description: dto
        required: true
    delete:
      tags:
      - pre-order-po-finance-controller
      summary: delete
      operationId: deleteUsingDELETE_9
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
components:
  schemas:
    PreOrderPoStyleVariantDto:
      type: object
      properties:
        color:
          type: string
        id:
          type: integer
          format: int64
        price:
          type: number
        quantity:
          type: integer
          format: int64
        size:
          type: string
      title: PreOrderPoStyleVariantDto
    PreOrderPoStyleDto:
      type: object
      properties:
        currency_price:
          type: number
        id:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
        style_code:
          type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/PreOrderPoStyleVariantDto'
      title: PreOrderPoStyleDto
    PoTypeDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      title: PoTypeDto
    PreOrderPoDto:
      type: object
      properties:
        buyer_handover_date:
          type: integer
          format: int64
        buyer_po_no:
          type: string
        buyer_shipment_type:
          type: string
        created_at:
          type: integer
          format: int64
        created_by:
          type: string
        currency:
          type: string
        currency_price:
          type: number
        factory_handover_date:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
        po_date:
          type: integer
          format: int64
        po_doc_url:
          type: string
        po_type:
          $ref: '#/components/schemas/PoTypeDto'
        po_type_id:
          type: integer
          format: int64
        pre_order_po_styles:
          type: array
          items:
            $ref: '#/components/schemas/PreOrderPoStyleDto'
        quantity:
          type: integer
          format: int64
      title: PreOrderPoDto
