openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Mill Controller API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: mill-controller
  description: Mill Controller
paths:
  /api/v1/path/mill:
    post:
      tags:
      - mill-controller
      summary: onboard
      operationId: onboardUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MillDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MillSignupRequestPayload'
        description: millSignupRequestPayload
        required: true
    delete:
      tags:
      - mill-controller
      summary: clear
      operationId: clearUsingDELETE
      parameters:
      - name: gaId
        in: query
        required: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pin
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v1/path/mill/UpdateGaId:
    post:
      tags:
      - mill-controller
      summary: updateGaId
      operationId: updateGaIdUsingPOST
      parameters:
      - name: requestMethod
        in: query
        required: false
        schema:
          type: string
          enum:
          - DELETE
          - GET
          - HEAD
          - OPTIONS
          - PATCH
          - POST
          - PUT
          - TRACE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MillDto'
  /api/v1/path/mill/gaId/{gaId}:
    get:
      tags:
      - mill-controller
      summary: getMillByGaId
      operationId: getMillByGaIdUsingGET
      parameters:
      - name: gaId
        in: path
        description: gaId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MillDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/mill/name/{millName}:
    get:
      tags:
      - mill-controller
      summary: getMill
      operationId: getMillUsingGET_1
      parameters:
      - name: millName
        in: path
        description: millName
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MillDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/mill/upload/docs:
    post:
      tags:
      - mill-controller
      summary: uploadDocs
      operationId: uploadDocsUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponsePayload'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: string
              format: binary
        description: file
        required: true
  /api/v1/path/mill/{millId}:
    get:
      tags:
      - mill-controller
      summary: getMill
      operationId: getMillUsingGET
      parameters:
      - name: millId
        in: path
        description: millId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MillDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/mill/{millId}/addresses:
    get:
      tags:
      - mill-controller
      summary: getMillAddres
      operationId: getMillAddresUsingGET
      parameters:
      - name: millId
        in: path
        description: millId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/mill/{millId}/page/{pageId}:
    put:
      tags:
      - mill-controller
      summary: update
      operationId: updateUsingPUT_7
      parameters:
      - name: millId
        in: path
        description: millId
        required: true
        schema:
          type: integer
          format: int64
      - name: pageId
        in: path
        description: pageId
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MillDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MillDto'
        description: millDto
        required: true
components:
  schemas:
    MillDocsDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
        url:
          type: string
      title: MillDocsDto
    MillDto:
      type: object
      properties:
        address_proof_type:
          type: string
        address_proof_url:
          type: string
        bank_account_number:
          type: string
        bank_name:
          type: string
        billing_address:
          $ref: '#/components/schemas/AddressSubmitResponsePayload'
        billing_address_id:
          type: integer
          format: int64
        business_type:
          type: string
        cancelled_cheque_url:
          type: string
        capacity:
          type: string
        capacity_uom:
          type: string
        company_address:
          $ref: '#/components/schemas/AddressSubmitResponsePayload'
        company_address_id:
          type: integer
          format: int64
        company_profile_url:
          type: string
        company_website:
          type: string
        contact_person_department:
          type: string
        contact_person_email:
          type: string
        contact_person_name:
          type: string
        contact_person_phone:
          type: string
        firm_type:
          type: string
        ga_id:
          type: string
        gst:
          type: string
        gst_doc_url:
          type: string
        id:
          type: integer
          format: int64
        ifsc_code:
          type: string
        mill_docs:
          type: array
          items:
            $ref: '#/components/schemas/MillDocsDto'
        name:
          type: string
        pan:
          type: string
        pan_doc_url:
          type: string
        region:
          type: string
        steps_completed:
          type: integer
          format: int64
        swift_code:
          type: string
        tan:
          type: string
      title: MillDto
    UploadResponsePayload:
      type: object
      properties:
        bucket_name:
          type: string
        doc_id:
          type: integer
          format: int64
        error_file:
          type: string
          format: byte
        error_messages:
          type: array
          items:
            type: string
        filename:
          type: string
        key:
          type: string
        status:
          type: string
        url:
          type: string
      title: UploadResponsePayload
    MillSignupRequestPayload:
      type: object
      properties:
        email:
          type: string
        first_name:
          type: string
        ga_id:
          type: string
        last_name:
          type: string
        password:
          type: string
        region:
          type: string
        steps_completed:
          type: integer
          format: int64
      title: MillSignupRequestPayload
    AddressSubmitResponsePayload:
      type: object
      properties:
        address_line1:
          type: string
        address_line2:
          type: string
        city:
          type: string
        contact_person_name:
          type: string
        contact_person_number:
          type: string
        country:
          type: string
        entity_id:
          type: integer
          format: int64
        entity_type:
          type: string
        id:
          type: integer
          format: int64
        landmark:
          type: string
        name:
          type: string
        pincode:
          type: string
        state:
          type: string
        type:
          type: string
      title: AddressSubmitResponsePayload
