openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Qc Tech Controller API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: qc-tech-controller
  description: QC Tech Controller
paths:
  /api/v1/path/qc_tech/:
    get:
      tags:
      - qc-tech-controller
      summary: getAll
      operationId: getAllUsingGET
      parameters:
      - name: brandList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: companyList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: completionEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: completionStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: leadList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: managers
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderType
        in: query
        required: false
        schema:
          type: string
      - name: requestConsideredEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: requestConsideredStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: requestEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: requestStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: rms
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: statusList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: supplierList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/qc_tech/SearchRM:
    get:
      tags:
      - qc-tech-controller
      summary: index
      operationId: indexUsingGET_29
      parameters:
      - name: contactinfo
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: email
        in: query
        required: false
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: rmId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: rmIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: userName
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/qc_tech/buyer-evaluation-excel-query:
    get:
      tags:
      - qc-tech-controller
      summary: getBuyerEvaluationExcelQuery
      operationId: getBuyerEvaluationExcelQueryUsingGET
      parameters:
      - name: brandList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: companyList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: completionEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: completionStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: leadList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: managers
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderType
        in: query
        required: false
        schema:
          type: string
      - name: requestConsideredEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: requestConsideredStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: requestEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: requestStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: rms
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: statusList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: supplierList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/qc_tech/buyer-evaluation/{buyerEvaluationId}/complete-step:
    post:
      tags:
      - qc-tech-controller
      summary: completeTnaStepForBuyer
      operationId: completeTnaStepForBuyerUsingPOST
      parameters:
      - name: buyerEvaluationId
        in: path
        description: buyerEvaluationId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v1/path/qc_tech/buyerInspection/{id}:
    get:
      tags:
      - qc-tech-controller
      summary: getBuyerInspection
      operationId: getBuyerInspectionUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechBuyerEvaluationResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    put:
      tags:
      - qc-tech-controller
      summary: updateBuyerInspection
      operationId: updateBuyerInspectionUsingPUT
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechBuyerEvaluationResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestQcTechBuyerPayload'
        description: requestQcTechPayload
        required: true
  /api/v1/path/qc_tech/buyer_evaluation_list:
    get:
      tags:
      - qc-tech-controller
      summary: getBuyerEvaluationList
      operationId: getBuyerEvaluationListUsingGET
      parameters:
      - name: brandList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: companyList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: completionEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: completionStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: leadList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: managers
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderType
        in: query
        required: false
        schema:
          type: string
      - name: requestConsideredEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: requestConsideredStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: requestEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: requestStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: rms
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: statusList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: supplierList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/qc_tech/cancellationHistory/{id}:
    get:
      tags:
      - qc-tech-controller
      summary: cancellationHistory
      operationId: cancellationHistoryUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QcTechCancelledStatusResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/qc_tech/evaluation/{qcTechEvaluationId}/complete-step:
    post:
      tags:
      - qc-tech-controller
      summary: completeTnaStep
      operationId: completeTnaStepUsingPOST
      parameters:
      - name: qcTechEvaluationId
        in: path
        description: qcTechEvaluationId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v1/path/qc_tech/excel-query:
    get:
      tags:
      - qc-tech-controller
      summary: getExcelQuery
      operationId: getExcelQueryUsingGET
      parameters:
      - name: brandList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: companyList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: completionEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: completionStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: leadList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: managers
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderType
        in: query
        required: false
        schema:
          type: string
      - name: requestConsideredEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: requestConsideredStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: requestEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: requestStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: rms
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: statusList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: supplierList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/qc_tech/inspectionHistory/{id}:
    get:
      tags:
      - qc-tech-controller
      summary: inspectionHistory
      operationId: inspectionHistoryUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QcTechInspectionHistoryResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/qc_tech/inspectionPresent/{orderId}/{typeOfSample}:
    get:
      tags:
      - qc-tech-controller
      summary: inspectionPresent
      operationId: inspectionPresentUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      - name: typeOfSample
        in: path
        description: typeOfSample
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechInspectionPresentPayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/qc_tech/qcTechFormOptions:
    post:
      tags:
      - qc-tech-controller
      summary: qcTechFormOptions
      operationId: qcTechFormOptionsUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechFormOptionsDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QcTechOptionsPayload'
        description: qcTechOptionsPayload
        required: true
  /api/v1/path/qc_tech/requestBuyerInspection/{id}:
    get:
      tags:
      - qc-tech-controller
      summary: requestBuyerInspection
      operationId: requestBuyerInspectionUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechBuyerEvaluationResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/qc_tech/requestInspection/{orderId}:
    get:
      tags:
      - qc-tech-controller
      summary: requestInspection
      operationId: requestInspectionUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    post:
      tags:
      - qc-tech-controller
      summary: submitRequestInspection
      operationId: submitRequestInspectionUsingPOST
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestQcTechPayload'
        description: requestQcTechPayload
        required: true
  /api/v1/path/qc_tech/submitBuyerInspection/{id}:
    post:
      tags:
      - qc-tech-controller
      summary: submitBuyerInspection
      operationId: submitBuyerInspectionUsingPOST
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechBuyerEvaluationResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestQcTechBuyerPayload'
        description: requestQcTechPayload
        required: true
  /api/v1/path/qc_tech/submitTechInspection/{id}:
    post:
      tags:
      - qc-tech-controller
      summary: submitTechInspection
      operationId: submitTechInspectionUsingPOST
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechEvaluationResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestQcTechEvaluationPayload'
        description: requestQcTechEvaluationPayload
        required: true
  /api/v1/path/qc_tech/techInspection/{id}:
    get:
      tags:
      - qc-tech-controller
      summary: getTechInspection
      operationId: getTechInspectionUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechEvaluationResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    put:
      tags:
      - qc-tech-controller
      summary: updateTechInspection
      operationId: updateTechInspectionUsingPUT
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechEvaluationResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestQcTechEvaluationPayload'
        description: requestQcTechEvaluationPayload
        required: true
  /api/v1/path/qc_tech/{id}:
    get:
      tags:
      - qc-tech-controller
      summary: getInspection
      operationId: getInspectionUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    put:
      tags:
      - qc-tech-controller
      summary: updateInspection
      operationId: updateInspectionUsingPUT
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcTechResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestQcTechPayload'
        description: requestQcTechPayload
        required: true
    delete:
      tags:
      - qc-tech-controller
      summary: deleteInspection
      operationId: deleteInspectionUsingDELETE
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v1/path/qc_tech/{id}/audit:
    post:
      tags:
      - qc-tech-controller
      summary: getInspection
      operationId: getInspectionUsingPOST
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QcTechAuditDto'
        description: qcTechAuditDto
        required: true
components:
  schemas:
    RequestQcTechBuyerPayload:
      type: object
      properties:
        buyer_comments:
          type: integer
          format: int64
        buyer_result:
          type: string
        gm_date_out:
          type: integer
          format: int64
        perform_grading:
          type: string
          pattern: Yes|No|NA|N/A
        remarks:
          type: string
        sample_authorization:
          type: string
        season:
          type: string
      title: RequestQcTechBuyerPayload
    BrandVpDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        vp_email:
          type: string
        vp_id:
          type: integer
          format: int64
        vp_name:
          type: string
      title: BrandVpDto
    QcTechColorWisePayload:
      type: object
      properties:
        color:
          type: string
        no_of_sample:
          type: integer
          format: int64
      title: QcTechColorWisePayload
    LeadGenerationResponse:
      type: object
      properties:
        brand:
          $ref: '#/components/schemas/BrandResponse'
        client_id:
          type: integer
          format: int64
        company:
          $ref: '#/components/schemas/CompanyDTO'
        country:
          type: string
        email:
          type: string
        id:
          type: integer
          format: int64
        lead_approval_status:
          type: string
        lead_projection_list:
          type: array
          items:
            $ref: '#/components/schemas/LeadProjectionDTO'
        name:
          type: string
      title: LeadGenerationResponse
    QcTechResponse:
      type: object
      properties:
        art_work:
          type: string
        buyer_eta_date:
          type: string
        buyer_workbook_avl:
          type: string
        buyer_workbook_doc:
          type: string
        buyer_workbook_doc_secondary:
          type: string
        cancellation_reason:
          type: string
        color:
          type: string
        creation_date_time:
          type: string
          format: date-time
        division:
          type: string
        emb_grading_quality:
          type: string
        eta_date:
          type: string
          format: date-time
        executive:
          $ref: '#/components/schemas/RmDetail'
        fabric_color:
          type: string
        fabric_quality:
          type: string
        finance_approved_once:
          type: boolean
        gcr:
          type: string
        handfeel:
          type: string
        id:
          type: integer
          format: int64
        kids_safety_sheet:
          type: string
        lead:
          $ref: '#/components/schemas/LeadPageDTO'
        manufacturer:
          type: string
        no_of_sample:
          type: integer
          format: int64
        order_assignee:
          $ref: '#/components/schemas/UMSUserResponsePayload'
        order_id:
          type: integer
          format: int64
        order_ops_assignee:
          $ref: '#/components/schemas/UMSUserResponsePayload'
        order_steps:
          type: array
          items:
            $ref: '#/components/schemas/QcTechStepResponse'
        packaging:
          type: string
        ppm_report:
          type: string
        print:
          type: string
        production_begin:
          type: string
        qc_tech_audit:
          $ref: '#/components/schemas/QcTechAuditDto'
        ra_sheet:
          type: string
        raised_by:
          $ref: '#/components/schemas/RmDetail'
        ref_sample_avl:
          type: string
        repeat_reason:
          type: string
        request_considered_time:
          type: integer
          format: int64
        sku:
          type: string
        sku_images:
          type: array
          items:
            type: string
        status:
          type: string
        style_code:
          type: string
        testing_status:
          type: string
        trims:
          type: string
        type_of_sample:
          type: string
        wash_care:
          type: string
      title: QcTechResponse
    QcTechCancelledStatusResponse:
      type: object
      properties:
        cancellation_date:
          type: string
          format: date-time
        cancellation_reason:
          type: string
        cancelled_by:
          $ref: '#/components/schemas/UMSUserResponsePayload'
        data:
          type: object
        id:
          type: integer
          format: int64
        old_status:
          type: string
        qc_tech_id:
          type: integer
          format: int64
        status:
          type: string
      title: QcTechCancelledStatusResponse
    RequestQcTechEvaluationPayload:
      type: object
      properties:
        checked_by_date:
          type: integer
          format: int64
        docs:
          type: array
          items:
            $ref: '#/components/schemas/QcTechDocsDto'
        failed_comment:
          type: string
        qc_tech_workbook:
          type: string
        qc_tech_workbook_date:
          type: integer
          format: int64
        remarks:
          type: string
        status:
          type: string
      title: RequestQcTechEvaluationPayload
    LeadPageDTO:
      type: object
      properties:
        current_stage_name:
          type: string
        current_user:
          $ref: '#/components/schemas/UserResponsePayload'
        last_stage_id:
          type: integer
          format: int64
        lead_generation:
          $ref: '#/components/schemas/LeadGenerationResponse'
        time_difference:
          type: integer
          format: int64
      title: LeadPageDTO
    UMSUserResponsePayload:
      type: object
      properties:
        country_code:
          type: string
        created_by:
          type: string
        first_name:
          type: string
        group_ids:
          type: array
          items:
            type: integer
            format: int64
        id:
          type: integer
          format: int64
        last_name:
          type: string
        manager:
          $ref: '#/components/schemas/UMSUserResponsePayload'
        phone_number:
          type: string
        roles:
          type: array
          items:
            type: string
        username:
          type: string
        whatsapp_opt_in:
          type: boolean
      title: UMSUserResponsePayload
    CompanyDTO:
      type: object
      properties:
        ask_buyer_wip_on_order:
          type: boolean
        company_name:
          type: string
        compliances:
          type: array
          items:
            type: string
        id:
          type: integer
          format: int64
        min_buy_sell_margin:
          type: number
        min_commission_margin:
          type: number
        min_trading_margin:
          type: number
      title: CompanyDTO
    BrandCategoryDto:
      type: object
      properties:
        category_id:
          type: integer
          format: int64
        category_name:
          type: string
        id:
          type: integer
          format: int64
      title: BrandCategoryDto
    QcTechInspectionPresentPayload:
      type: object
      properties:
        id:
          type: integer
          format: int64
        status:
          type: string
      title: QcTechInspectionPresentPayload
    QcTechDocsDto:
      type: object
      properties:
        doc_type:
          type: string
        id:
          type: integer
          format: int64
        url:
          type: string
      title: QcTechDocsDto
    QcTechOptionsPayload:
      type: object
      properties:
        order_id:
          type: integer
          format: int64
        type_of_sample:
          type: string
      title: QcTechOptionsPayload
    QcTechInspectionHistoryResponse:
      type: object
      properties:
        color:
          type: string
        completion_date:
          type: string
          format: date-time
        id:
          type: integer
          format: int64
        inspection_type:
          type: string
        is_equal_to_current:
          type: boolean
        order_confirmation_date:
          type: string
          format: date-time
        qc_tech_buyer_evaluation_id:
          type: integer
          format: int64
        qc_tech_evaluation_id:
          type: integer
          format: int64
        repeat_reason:
          type: string
        requested_date:
          type: string
          format: date-time
        status:
          type: string
        testing_status:
          type: string
        tna_present:
          type: boolean
      title: QcTechInspectionHistoryResponse
    RmDetail:
      type: object
      properties:
        categoryId:
          type: integer
          format: int64
        categoryName:
          type: string
        contactInfo:
          type: string
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        name:
          type: string
      title: RmDetail
    QcTechBuyerEvaluationResponse:
      type: object
      properties:
        buyer_comments:
          type: integer
          format: int64
        buyer_result:
          type: string
        category:
          type: string
        checked_by_date:
          type: integer
          format: int64
        color:
          type: string
        date_in:
          type: integer
          format: int64
        date_out:
          type: integer
          format: int64
        gm_date_out:
          type: integer
          format: int64
        gm_result:
          type: string
        id:
          type: integer
          format: int64
        images:
          type: array
          items:
            type: string
        lead:
          $ref: '#/components/schemas/LeadPageDTO'
        manufacturer:
          type: string
        merchandiser:
          $ref: '#/components/schemas/RmDetail'
        no_of_sample:
          type: integer
          format: int64
        perform_grading:
          type: string
        production_begin:
          type: string
        qa_tech:
          $ref: '#/components/schemas/RmDetail'
        remarks:
          type: string
        sample_authorization:
          type: string
        sample_type:
          type: string
        season:
          type: string
        sku:
          type: string
        style_code:
          type: string
      title: QcTechBuyerEvaluationResponse
    QcTechStepResponse:
      type: object
      properties:
        completion_date:
          type: string
          format: date-time
        doc_name:
          type: string
        doc_url:
          type: string
        due_date:
          type: string
          format: date-time
        initial_due_date:
          type: string
          format: date-time
        step_name:
          type: string
      title: QcTechStepResponse
    RequestQcTechPayload:
      type: object
      properties:
        art_work:
          type: string
        buyer_workbook_avl:
          type: string
        buyer_workbook_doc:
          type: string
        buyer_workbook_doc_secondary:
          type: string
        cancellation_reason:
          type: string
        color_wise_list:
          type: array
          items:
            $ref: '#/components/schemas/QcTechColorWisePayload'
        colors:
          type: array
          items:
            type: string
        division:
          type: string
        emb_grading_quality:
          type: string
        fabric_color:
          type: string
        fabric_quality:
          type: string
        gcr:
          type: string
        handfeel:
          type: string
        is_cancelled:
          type: boolean
        kids_safety_sheet:
          type: string
        no_of_sample:
          type: integer
          format: int64
        packaging:
          type: string
        print:
          type: string
        production_begin:
          type: string
        qc_tech_manager:
          type: integer
          format: int64
        ra_sheet:
          type: string
        ref_sample_avl:
          type: string
        repeat_reason:
          type: string
        request_considered_time:
          type: integer
          format: int64
        testing_status:
          type: string
        trims:
          type: string
        type_of_sample:
          type: string
        wash_care:
          type: string
      title: RequestQcTechPayload
    BrandResponse:
      type: object
      properties:
        address_list:
          type: array
          items:
            $ref: '#/components/schemas/AddressSubmitResponsePayload'
        ask_buyer_wip_on_order:
          type: boolean
        billing_address:
          $ref: '#/components/schemas/AddressSubmitResponsePayload'
        brand_name:
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/BrandCategoryDto'
        compliances:
          type: array
          items:
            type: string
        created_by:
          type: string
        id:
          type: integer
          format: int64
        legal_address:
          $ref: '#/components/schemas/AddressSubmitResponsePayload'
        legal_address_response:
          type: string
        legal_name:
          type: string
        vp_details:
          type: array
          items:
            $ref: '#/components/schemas/BrandVpDto'
        vps:
          type: array
          items:
            type: integer
            format: int64
      title: BrandResponse
    QcTechEvaluationResponse:
      type: object
      properties:
        checked_by_date:
          type: integer
          format: int64
        created_by:
          type: string
        docs:
          type: array
          items:
            $ref: '#/components/schemas/QcTechDocsDto'
        failed_comment:
          type: string
        id:
          type: integer
          format: int64
        qc_tech_buyer_evaluation_id:
          type: integer
          format: int64
        qc_tech_response:
          $ref: '#/components/schemas/QcTechResponse'
        qc_tech_workbook:
          type: string
        qc_tech_workbook_date:
          type: integer
          format: int64
        ref_sample_avl:
          type: string
        remarks:
          type: string
        revised_work_book_date:
          type: integer
          format: int64
        revised_work_book_doc:
          type: string
        status:
          type: string
        step_completed:
          type: boolean
      title: QcTechEvaluationResponse
    UserResponsePayload:
      type: object
      properties:
        created_by:
          type: string
        first_name:
          type: string
        id:
          type: integer
          format: int64
        last_name:
          type: string
        manager:
          $ref: '#/components/schemas/UserResponsePayload'
        phone_number:
          type: string
        roles:
          type: array
          items:
            type: string
        username:
          type: string
      title: UserResponsePayload
    LeadProjectionDTO:
      type: object
      properties:
        achieved_business_value:
          type: number
        amount:
          type: integer
          format: int64
        business_size:
          type: number
        id:
          type: integer
          format: int64
        lead_probability:
          type: integer
          format: int32
        probable_completion_date:
          type: integer
          format: int64
      title: LeadProjectionDTO
    QcTechFormOptionsDto:
      type: object
      properties:
        art_work:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        buyer_workbook_avl:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        division:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        docs:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        emb_grading_quality:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        fabric_color:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        fabric_quality:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        gcr:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        handfeel:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        kids_safety_sheet:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        no_of_sample:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        packaging:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        print:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        production_begin:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        ra_sheet:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        ref_sample_avl:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        testing_status:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        trims:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
        wash_care:
          type: array
          items:
            $ref: '#/components/schemas/QcTechFormKeyDto'
      title: QcTechFormOptionsDto
    QcTechFormKeyDto:
      type: object
      properties:
        label:
          type: string
        value:
          type: string
      title: QcTechFormKeyDto
    QcTechAuditDto:
      type: object
      properties:
        audit_status:
          type: string
        audit_ts:
          type: integer
          format: int64
        auditor:
          $ref: '#/components/schemas/UMSUserResponsePayload'
        auditor_id:
          type: integer
          format: int64
        communication_to_buyer_or_supplier:
          type: boolean
        gcr:
          type: boolean
        id:
          type: integer
          format: int64
        product_risk_assessment:
          type: boolean
        product_safety_sheet:
          type: boolean
        sample_tag_sign_off_with_date_verified:
          type: boolean
        supplier_call_out_sheet:
          type: boolean
        workbook_available_verified:
          type: boolean
      title: QcTechAuditDto
    AddressSubmitResponsePayload:
      type: object
      properties:
        address_line1:
          type: string
        address_line2:
          type: string
        city:
          type: string
        contact_person_name:
          type: string
        contact_person_number:
          type: string
        country:
          type: string
        entity_id:
          type: integer
          format: int64
        entity_type:
          type: string
        id:
          type: integer
          format: int64
        landmark:
          type: string
        name:
          type: string
        pincode:
          type: string
        state:
          type: string
        type:
          type: string
      title: AddressSubmitResponsePayload
