openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Invoice Logistics Controller API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: invoice-logistics-controller
  description: Invoice Logistics Controller
paths:
  /api/v1/path/logistics/invoice/{invoiceId}/add/custom/params:
    put:
      tags:
      - invoice-logistics-controller
      summary: addCustomParameter
      operationId: addCustomParameterUsingPUT
      parameters:
      - name: invoiceId
        in: path
        description: invoiceId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponsePayload'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceRequestPayload'
        description: createInvoiceRequestPayload
        required: true
components:
  schemas:
    LeadGenerationLiteResponse:
      type: object
      properties:
        brand:
          $ref: '#/components/schemas/BrandResponse'
        client_id:
          type: integer
          format: int64
        company:
          $ref: '#/components/schemas/CompanyDTO'
        country:
          type: string
        country_code:
          type: string
        created_at:
          type: string
          format: date-time
        creator_id:
          type: integer
          format: int64
        email:
          type: string
        first_name:
          type: string
        id:
          type: integer
          format: int64
        last_name:
          type: string
        lead_projection_list:
          type: array
          items:
            $ref: '#/components/schemas/LeadProjectionMiniDTO'
        name:
          type: string
        phone:
          type: string
      title: LeadGenerationLiteResponse
    BrandVpDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        vp_email:
          type: string
        vp_id:
          type: integer
          format: int64
        vp_name:
          type: string
      title: BrandVpDto
    OrderDocDto:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        doc_no:
          type: string
        doc_type:
          type: string
        docs:
          $ref: '#/components/schemas/DocDto'
        id:
          type: integer
          format: int64
        is_additional_doc:
          type: boolean
        order_id:
          type: integer
          format: int64
        s3_path:
          type: string
      title: OrderDocDto
    LogisticsInvoiceRequestPayload:
      type: object
      properties:
        bl_doc:
          type: string
        carrier_number:
          type: string
        carrier_type:
          type: string
        clearance_charges:
          type: number
        cost_sheet_doc_url:
          type: string
        custom_duty:
          type: number
        custom_inco_term:
          type: string
        factory_invoice_docs:
          type: array
          uniqueItems: true
          items:
            type: string
        factory_invoice_no:
          type: string
        final_destination:
          type: string
        id:
          type: integer
          format: int64
        invoice_id:
          type: integer
          format: int64
        local_freight:
          type: number
        management_approval_doc_url:
          type: string
        packing_list_docs:
          type: array
          uniqueItems: true
          items:
            type: string
        pod_docs:
          type: array
          uniqueItems: true
          items:
            type: string
        port_of_discharge:
          type: string
        port_of_loading:
          type: string
        pre_carriage_by:
          type: string
        sea_freight:
          type: number
        shipping_bill_doc:
          type: string
        total_shipping_cost:
          type: number
        warehouse:
          type: string
        wh_charges:
          type: number
      title: LogisticsInvoiceRequestPayload
    CreateInvoiceBuyerPoRequestPayload:
      type: object
      properties:
        factory_invoices:
          type: array
          items:
            $ref: '#/components/schemas/FactoryInvoiceDto'
        id:
          type: integer
          format: int64
        order_buyer_po_id:
          type: integer
          format: int64
      title: CreateInvoiceBuyerPoRequestPayload
    InvoiceVariantBuyerPoMappingDto:
      type: object
      properties:
        buyer_currency_price_total:
          type: number
        commission_amount_buyer_currency:
          type: number
        commission_amount_geniemode_currency:
          type: number
        currency_price_total:
          type: number
        factory_currency_price_total:
          type: number
        geniemode_currency_price_total:
          type: number
        id:
          type: integer
          format: int64
        locked_quantity:
          type: integer
          format: int64
        order_buyer_po:
          $ref: '#/components/schemas/OrderBuyerPoBaseDto'
        quantity:
          type: integer
          format: int64
      title: InvoiceVariantBuyerPoMappingDto
    FinalInvoiceInInvoiceDto:
      type: object
      properties:
        comment:
          type: string
        discount:
          $ref: '#/components/schemas/FinalInvoiceDiscountDto'
        grn_doc_url:
          type: string
        grn_status:
          type: string
        id:
          type: integer
          format: int64
        invoice_doc_url:
          type: string
        invoice_no:
          type: string
        pod_doc_url:
          type: string
        raised_on_timestamp:
          type: integer
          format: int64
        status:
          type: string
        total_amount:
          type: number
      title: FinalInvoiceInInvoiceDto
    OrderBuyerPoBaseDto:
      type: object
      properties:
        buyer_po_no:
          type: string
        id:
          type: integer
          format: int64
      title: OrderBuyerPoBaseDto
    InvoiceBuyerPoResponsePayload:
      type: object
      properties:
        factory_invoices:
          type: array
          items:
            $ref: '#/components/schemas/FactoryInvoiceDto'
        id:
          type: integer
          format: int64
        order_buyer_po:
          $ref: '#/components/schemas/OrderBuyerPoDto'
      title: InvoiceBuyerPoResponsePayload
    GeniemodeEntityDto:
      type: object
      properties:
        address:
          type: object
        address_id:
          type: integer
          format: int64
        address_list:
          type: array
          items:
            $ref: '#/components/schemas/AddressSubmitResponsePayload'
        compliance:
          type: string
        currency:
          type: string
        id:
          type: integer
          format: int64
        invoice_declaration:
          type: string
        label:
          type: string
        legal_name:
          type: string
        tally_currency:
          type: string
        value:
          type: string
      title: GeniemodeEntityDto
    DocDto:
      type: object
      properties:
        doc_display_name:
          type: string
        id:
          type: integer
          format: int64
        s3_path:
          type: string
        s3_version:
          type: integer
          format: int64
      title: DocDto
    InvoiceShipmentsResponsePayload:
      type: object
      properties:
        id:
          type: integer
          format: int64
        shipment:
          $ref: '#/components/schemas/ShipmentInInvoiceDto'
      title: InvoiceShipmentsResponsePayload
    AddressSubmitResponsePayload:
      type: object
      properties:
        address_line1:
          type: string
        address_line2:
          type: string
        city:
          type: string
        contact_person_name:
          type: string
        contact_person_number:
          type: string
        country:
          type: string
        entity_id:
          type: integer
          format: int64
        entity_type:
          type: string
        id:
          type: integer
          format: int64
        landmark:
          type: string
        name:
          type: string
        pincode:
          type: string
        state:
          type: string
        type:
          type: string
      title: AddressSubmitResponsePayload
    BankResponsePayload:
      type: object
      properties:
        account_no:
          type: string
        address:
          type: object
        address_id:
          type: integer
          format: int64
        bank_routing_number:
          type: string
        beneficiary_address:
          type: object
        beneficiary_address_id:
          type: integer
          format: int64
        beneficiary_name:
          type: string
        entity_id:
          type: string
        entity_type:
          type: string
        iban_aba:
          type: string
        id:
          type: integer
          format: int64
        ifsc:
          type: string
        name:
          type: string
        sort_code:
          type: string
        sub_type:
          type: string
        swift:
          type: string
      title: BankResponsePayload
    FactoryInvoiceDto:
      type: object
      properties:
        factory_invoice_no:
          type: string
        factory_invoice_url:
          type: string
        id:
          type: integer
          format: int64
      title: FactoryInvoiceDto
    CompanyDTO:
      type: object
      properties:
        ask_buyer_wip_on_order:
          type: boolean
        company_name:
          type: string
        compliances:
          type: array
          items:
            type: string
        id:
          type: integer
          format: int64
        min_buy_sell_margin:
          type: number
        min_commission_margin:
          type: number
        min_trading_margin:
          type: number
      title: CompanyDTO
    BrandCategoryDto:
      type: object
      properties:
        category_id:
          type: integer
          format: int64
        category_name:
          type: string
        id:
          type: integer
          format: int64
      title: BrandCategoryDto
    FinalInvoiceDiscountDto:
      type: object
      properties:
        discount_amount:
          type: number
        discount_percentage:
          type: number
        type:
          type: string
      title: FinalInvoiceDiscountDto
    CreateInvoiceRequestPayload:
      type: object
      properties:
        bill_to_id:
          type: integer
          format: int64
        bill_to_type:
          type: string
        bl_doc:
          type: string
        declaration:
          type: string
        declaration_addendum:
          type: string
        factory_email_doc_url:
          type: string
        factory_eway_bill_doc_url:
          type: string
        factory_invoice_docs:
          type: array
          uniqueItems: true
          items:
            type: string
        grn_doc_url:
          type: string
        id:
          type: integer
          format: int64
        invoice_buyer_pos:
          type: array
          items:
            $ref: '#/components/schemas/CreateInvoiceBuyerPoRequestPayload'
        logistics_info:
          $ref: '#/components/schemas/LogisticsInvoiceRequestPayload'
        packing_list_docs:
          type: array
          uniqueItems: true
          items:
            type: string
        pod_doc_url:
          type: string
        pod_docs:
          type: array
          uniqueItems: true
          items:
            type: string
        ship_to_id:
          type: integer
          format: int64
        shipments:
          type: array
          items:
            $ref: '#/components/schemas/CreateInvoiceShipmentsRequestPayload'
        shipping_bill_doc:
          type: string
        variant_custom_field_keys:
          type: array
          items:
            type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceVariantsDto'
      title: CreateInvoiceRequestPayload
    OrderBuyerPoDto:
      type: object
      properties:
        asset_url:
          type: string
        buyer_po_doc:
          $ref: '#/components/schemas/OrderDocDtoV2'
        buyer_po_no:
          type: string
        doc:
          $ref: '#/components/schemas/DocDto'
        id:
          type: integer
          format: int64
        po_doc_id:
          type: integer
          format: int64
        po_type:
          type: string
      title: OrderBuyerPoDto
    LeadProjectionMiniDTO:
      type: object
      properties:
        amount:
          type: integer
          format: int64
        business_size:
          type: number
          format: float
        id:
          type: integer
          format: int64
        lead_probability:
          type: integer
          format: int32
        probable_completion_date:
          type: integer
          format: int64
      title: LeadProjectionMiniDTO
    InvoiceResponsePayload:
      type: object
      properties:
        allow_conversion_change:
          type: boolean
        allow_manual_invoice_no:
          type: boolean
        bank:
          $ref: '#/components/schemas/BankResponsePayload'
        bill_to_address:
          type: object
        bill_to_id:
          type: integer
          format: int64
        bl_date:
          type: integer
          format: int64
        bl_doc:
          type: string
        bl_number:
          type: string
        buyer_type:
          type: string
        carrier_number:
          type: string
        carrier_type:
          type: string
        clearance_charges:
          type: number
        cost_sheet_doc_url:
          type: string
        created_at:
          type: string
          format: date-time
        current_shipment_status:
          type: string
          enum:
          - booked
          - complete
          - deliveryDate
          - paymentFollowup
          - preplanned
          - shipped
        custom_duty:
          type: number
        custom_inco_term:
          type: string
        declaration:
          type: string
        declaration_addendum:
          type: string
        docs:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/OrderDocDto'
        factory_email_doc_url:
          type: string
        factory_eway_bill_doc_url:
          type: string
        factory_invoice_docs:
          type: array
          uniqueItems: true
          items:
            type: string
        factory_invoice_no:
          type: string
        factory_invoice_no_remark:
          type: string
        final_destination:
          type: string
        final_inspection_complete:
          type: boolean
        final_invoice:
          $ref: '#/components/schemas/FinalInvoiceInInvoiceDto'
        finance_remark:
          type: string
        geniemode_entity:
          $ref: '#/components/schemas/GeniemodeEntityDto'
        id:
          type: integer
          format: int64
        invoice_buyer_pos:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceBuyerPoResponsePayload'
        invoice_no:
          type: string
        invoice_raised_date:
          type: string
          format: date-time
        is_system_invoice_final:
          type: boolean
        local_freight:
          type: number
        management_approval_doc_url:
          type: string
        manufacturer_address:
          type: object
        manufacturer_address_id:
          type: integer
          format: int64
        manufacturer_name:
          type: string
        master_order_ids:
          type: array
          uniqueItems: true
          items:
            type: integer
            format: int64
        model_type:
          type: string
        next_invoice_no:
          type: string
        orders:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceOrdersDto'
        packing_list_docs:
          type: array
          uniqueItems: true
          items:
            type: string
        pod_date:
          type: integer
          format: int64
        pod_docs:
          type: array
          uniqueItems: true
          items:
            type: string
        pod_number:
          type: string
        port_of_discharge:
          type: string
        port_of_loading:
          type: string
        pre_carriage_by:
          type: string
        sea_freight:
          type: number
        ship_to_address:
          type: object
        ship_to_id:
          type: integer
          format: int64
        shipment_inco_term:
          type: string
        shipments:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceShipmentsResponsePayload'
        shipping_bill_doc:
          type: string
        status:
          type: string
        status_change_date:
          type: integer
          format: int64
        total_invoice_amount:
          type: number
        total_invoice_factory_amount:
          type: number
        total_invoice_quantity:
          type: integer
          format: int64
        total_shipping_cost:
          type: number
        type:
          type: string
        variant_custom_field_keys:
          type: array
          items:
            type: string
        variant_order_ids:
          type: array
          uniqueItems: true
          items:
            type: integer
            format: int64
        warehouse:
          type: string
        wh_charges:
          type: number
      title: InvoiceResponsePayload
    ShipmentInInvoiceOrderDto:
      type: object
      properties:
        assignee_id:
          type: integer
          format: int64
        bill_address_id:
          type: integer
          format: int64
        bill_to_address:
          type: object
        buyer_days:
          type: integer
          format: int64
        buyer_payment_type:
          type: string
        buyer_shipment_type:
          type: string
        buyer_type:
          type: string
        factory_payment_type:
          type: string
        geniemode_entity:
          $ref: '#/components/schemas/GeniemodeEntityDto'
        id:
          type: integer
          format: int64
        lead_data:
          $ref: '#/components/schemas/LeadGenerationLiteResponse'
        lead_id:
          type: integer
          format: int64
        manufacturer_days:
          type: integer
          format: int64
        model_type:
          type: string
        sku_data:
          type: object
        sku_id:
          type: string
        style_code:
          type: string
        tolerance_approval_doc:
          type: string
      title: ShipmentInInvoiceOrderDto
    InvoiceOrdersDto:
      type: object
      properties:
        buyer_currency:
          type: string
        currency_price:
          type: number
        currency_price_total:
          type: number
        factory_currency:
          type: string
        factory_currency_price:
          type: number
        factory_currency_price_total:
          type: number
        hsn_code:
          type: string
        hts_code:
          type: string
        order_id:
          type: integer
          format: int64
        parent_order_id:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
        sku:
          type: string
        sku_data:
          type: object
        style_code:
          type: string
        tolerance_approval_doc:
          type: string
        uom:
          type: string
      title: InvoiceOrdersDto
    InvoiceVariantsDto:
      type: object
      properties:
        buyer_currency:
          type: string
        color:
          type: string
        currency_price:
          type: number
        currency_price_total:
          type: number
        custom_fields:
          type: object
        factory_currency:
          type: string
        factory_currency_price:
          type: number
        factory_currency_price_total:
          type: number
        hsn_code:
          type: string
        hts_code:
          type: string
        id:
          type: integer
          format: int64
        order_id:
          type: integer
          format: int64
        order_variant_quantity:
          type: integer
          format: int64
        parent_order_id:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
        size:
          type: string
        sku:
          type: string
        sku_data:
          type: object
        style_code:
          type: string
        uom:
          type: string
        variant_buyer_po_mappings:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceVariantBuyerPoMappingDto'
        variant_id:
          type: integer
          format: int64
      title: InvoiceVariantsDto
    OrderDocDtoV2:
      type: object
      properties:
        created_by:
          type: string
        doc:
          $ref: '#/components/schemas/DocDto'
        doc_type:
          type: string
        id:
          type: integer
          format: int64
      title: OrderDocDtoV2
    BrandResponse:
      type: object
      properties:
        address_list:
          type: array
          items:
            $ref: '#/components/schemas/AddressSubmitResponsePayload'
        ask_buyer_wip_on_order:
          type: boolean
        billing_address:
          $ref: '#/components/schemas/AddressSubmitResponsePayload'
        brand_name:
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/BrandCategoryDto'
        compliances:
          type: array
          items:
            type: string
        created_by:
          type: string
        id:
          type: integer
          format: int64
        legal_address:
          $ref: '#/components/schemas/AddressSubmitResponsePayload'
        legal_address_response:
          type: string
        legal_name:
          type: string
        vp_details:
          type: array
          items:
            $ref: '#/components/schemas/BrandVpDto'
        vps:
          type: array
          items:
            type: integer
            format: int64
      title: BrandResponse
    ShipmentInInvoiceDto:
      type: object
      properties:
        actual_shipment_mode:
          type: string
          enum:
          - Air
          - Courier
          - Land
          - Sea
        address_id:
          type: integer
          format: int64
        buyer_currency:
          type: string
        current_status:
          type: string
          enum:
          - booked
          - complete
          - deliveryDate
          - paymentFollowup
          - preplanned
          - shipped
        ex_factory_date:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
        inco_term:
          type: string
        order:
          $ref: '#/components/schemas/ShipmentInInvoiceOrderDto'
        planned_shipment_mode:
          type: string
          enum:
          - Air
          - Courier
          - Land
          - Sea
        ship_to_address:
          type: object
        total_shipment_currency_price:
          type: number
        total_shipment_factory_currency_price:
          type: number
        total_shipment_quantity:
          type: integer
          format: int64
        variants:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceVariantsDto'
      title: ShipmentInInvoiceDto
    CreateInvoiceShipmentsRequestPayload:
      type: object
      properties:
        id:
          type: integer
          format: int64
        shipment_id:
          type: integer
          format: int64
      title: CreateInvoiceShipmentsRequestPayload
