openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Courier Partner Controller API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: courier-partner-controller
  description: Courier Partner Controller
paths:
  /api/v1/courier/partner:
    get:
      tags:
      - courier-partner-controller
      summary: index
      operationId: indexUsingGET_5
      parameters:
      - name: search
        in: query
        description: search
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    post:
      tags:
      - courier-partner-controller
      summary: create
      operationId: createUsingPOST_2
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CourierPartnerDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourierPartnerDto'
        description: courierPartnerDto
        required: true
  /api/v1/courier/partner/{id}:
    get:
      tags:
      - courier-partner-controller
      summary: get
      operationId: getUsingGET_1
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CourierPartnerDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    put:
      tags:
      - courier-partner-controller
      summary: update
      operationId: updateUsingPUT_1
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CourierPartnerDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CourierPartnerDto'
        description: courierPartnerDto
        required: true
    delete:
      tags:
      - courier-partner-controller
      summary: delete
      operationId: deleteUsingDELETE_3
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
components:
  schemas:
    CourierPartnerDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      title: CourierPartnerDto
