openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Pi Finance Controller API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: pi-finance-controller
  description: Pi Finance Controller
paths:
  /api/v1/path/piFinance/listing:
    get:
      tags:
      - pi-finance-controller
      summary: listing
      operationId: listingUsingGET_1
      parameters:
      - name: buyerPoNumberList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: leadIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: opsAssignee
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderStatus
        in: query
        required: false
        schema:
          type: string
      - name: piIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: skipStatus
        in: query
        required: false
        schema:
          type: boolean
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/piFinance/updatePi:
    put:
      tags:
      - pi-finance-controller
      summary: updatePiForFinance
      operationId: updatePiForFinanceUsingPUT
      parameters:
      - name: piId
        in: query
        description: piId
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePiFromFinanceRequestPayload'
        description: requestPayload
        required: true
components:
  schemas:
    UpdatePiFromFinanceRequestPayload:
      type: object
      properties:
        bank_id:
          type: integer
          format: int64
        compliance_list:
          type: array
          items:
            $ref: '#/components/schemas/PiComplianceDto'
        insurance_charges:
          type: number
        reason:
          type: string
        status:
          type: string
      title: UpdatePiFromFinanceRequestPayload
    PiComplianceDto:
      type: object
      properties:
        compliance:
          type: string
        id:
          type: integer
          format: int64
      title: PiComplianceDto
