openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Order Controller API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: order-controller
  description: Order Controller
paths:
  /api/orders/BulkOrderCreation:
    post:
      tags:
      - order-controller
      summary: mapReapExcelDatatoDB
      operationId: mapReapExcelDatatoDBUsingPOST
      parameters:
      - name: sheet
        in: query
        description: sheet
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOrderCreationResponse'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: string
              format: binary
        description: file
        required: true
  /api/orders/ChangeOrderStatus:
    post:
      tags:
      - order-controller
      summary: change_order_status
      operationId: change_order_statusUsingPOST_1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeOrderStatusRequest'
        description: requestPayload
        required: true
  /api/orders/CompleteOrder:
    get:
      tags:
      - order-controller
      summary: complete_order
      operationId: complete_orderUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderUpdateMessage'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/CompleteOrderList:
    post:
      tags:
      - order-controller
      summary: CompleteOrderList
      operationId: CompleteOrderListUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderUpdateMessage'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteOrderListRequestPayload'
        description: requestPayload
        required: true
  /api/orders/CreateOrder:
    post:
      tags:
      - order-controller
      summary: create_order
      operationId: create_orderUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponseDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequestPayload'
        description: orderRequestPayload
        required: true
  /api/orders/EncodeOrderId:
    get:
      tags:
      - order-controller
      summary: encode_orderId
      operationId: encode_orderIdUsingGET
      parameters:
      - name: orderId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncodeOrderIdResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/GetAllClientOrders/{userName}:
    get:
      tags:
      - order-controller
      summary: clientOrdersLite
      operationId: clientOrdersLiteUsingGET_1
      parameters:
      - name: approvalStatus
        in: query
        required: false
        schema:
          type: string
      - name: assigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: brandIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: businessOwnerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: buyerExFactoryEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: buyerExFactoryStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: companyIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: confirmationDateEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: confirmationDateStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: draftOrders
        in: query
        required: false
        schema:
          type: boolean
      - name: fieldName
        in: query
        required: false
        schema:
          type: string
      - name: filters
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: financeApprovedOnce
        in: query
        required: false
        schema:
          type: boolean
      - name: financialStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: forPo
        in: query
        required: false
        schema:
          type: boolean
      - name: fromDb
        in: query
        required: false
        schema:
          type: boolean
      - name: getDataFor
        in: query
        required: false
        schema:
          type: string
      - name: havingShipmentsOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: inventoryCreated
        in: query
        required: false
        schema:
          type: boolean
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: manufacturerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: modelTypes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: opsAssigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: parentOrderOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: searchList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: object
      - name: skipList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: typeOfDelivery
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: userName
        in: path
        description: userName
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/GetAllOrder:
    post:
      tags:
      - order-controller
      summary: get_all
      operationId: get_allUsingPOST_1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderSearchRequestPayload'
        description: orderSearchRequestPayload
        required: true
  /api/orders/GetAllOrdersLite:
    get:
      tags:
      - order-controller
      summary: index_light
      operationId: index_lightUsingGET_1
      parameters:
      - name: approvalStatus
        in: query
        required: false
        schema:
          type: string
      - name: assigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: brandIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: businessOwnerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: buyerExFactoryEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: buyerExFactoryStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: companyIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: confirmationDateEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: confirmationDateStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: draftOrders
        in: query
        required: false
        schema:
          type: boolean
      - name: fieldName
        in: query
        required: false
        schema:
          type: string
      - name: filters
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: financeApprovedOnce
        in: query
        required: false
        schema:
          type: boolean
      - name: financialStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: forPo
        in: query
        required: false
        schema:
          type: boolean
      - name: fromDb
        in: query
        required: false
        schema:
          type: boolean
      - name: getDataFor
        in: query
        required: false
        schema:
          type: string
      - name: havingShipmentsOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: inventoryCreated
        in: query
        required: false
        schema:
          type: boolean
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: manufacturerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: modelTypes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: opsAssigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: parentOrderOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: searchList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: object
      - name: skipList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: typeOfDelivery
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    post:
      tags:
      - order-controller
      summary: index_light_post
      operationId: index_light_postUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderSearchRequestPayload'
        description: orderSearchRequestPayload
        required: true
  /api/orders/GetAllParentsOrders:
    get:
      tags:
      - order-controller
      summary: GetAllParentsOrders
      operationId: GetAllParentsOrdersUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int64
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/GetAllQcSteps:
    get:
      tags:
      - order-controller
      summary: GetAllQcSteps
      operationId: GetAllQcStepsUsingGET
      parameters:
      - name: orderId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QcStepFiltersDTO'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/GetOrder:
    post:
      tags:
      - order-controller
      summary: get_order
      operationId: get_orderUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponsePayload'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrderRequestPayload'
        description: requestPayload
        required: true
  /api/orders/GetOrder/{orderId}:
    get:
      tags:
      - order-controller
      summary: getOrderView
      operationId: getOrderViewUsingGET
      parameters:
      - name: baseDate
        in: query
        required: false
        schema:
          type: string
      - name: checkExFactory
        in: query
        required: false
        schema:
          type: boolean
      - name: checkOrderConfirmation
        in: query
        required: false
        schema:
          type: boolean
      - name: lineVariables
        in: query
        required: false
        schema:
          type: boolean
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      - name: stepName
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderViewResponsePayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/GetOrder/{orderId}/child-orders:
    get:
      tags:
      - order-controller
      summary: getChildOrders
      operationId: getChildOrdersUsingGET
      parameters:
      - name: baseDate
        in: query
        required: false
        schema:
          type: string
      - name: checkExFactory
        in: query
        required: false
        schema:
          type: boolean
      - name: checkOrderConfirmation
        in: query
        required: false
        schema:
          type: boolean
      - name: lineVariables
        in: query
        required: false
        schema:
          type: boolean
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      - name: stepName
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetOrdersViewChildDTO'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/GetOrderAndSkuSummaryOfMasterOrder/{orderId}:
    get:
      tags:
      - order-controller
      summary: GetOrderAndSkuSummaryOfMasterOrder
      operationId: GetOrderAndSkuSummaryOfMasterOrderUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderAndSkuSummaryResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/GetOrderStep/{orderId}/{stepId}:
    get:
      tags:
      - order-controller
      summary: getOrderViewStep
      operationId: getOrderViewStepUsingGET
      parameters:
      - name: baseDate
        in: query
        required: false
        schema:
          type: string
      - name: checkExFactory
        in: query
        required: false
        schema:
          type: boolean
      - name: checkOrderConfirmation
        in: query
        required: false
        schema:
          type: boolean
      - name: lineVariables
        in: query
        required: false
        schema:
          type: boolean
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      - name: stepId
        in: path
        description: stepId
        required: true
        schema:
          type: integer
          format: int64
      - name: stepName
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WfStepOrderViewMapDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/GetOrderSteps/{orderId}:
    get:
      tags:
      - order-controller
      summary: getOrderViewSteps
      operationId: getOrderViewStepsUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WfStepOrderViewMapDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/GetSkuSummaryOfMasterOrder/{orderId}:
    get:
      tags:
      - order-controller
      summary: GetSkuSummaryOfMasterOrder
      operationId: GetSkuSummaryOfMasterOrderUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SkuSummaryDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/GetStepDateInfo:
    get:
      tags:
      - order-controller
      summary: GetStepDateInfo
      operationId: GetStepDateInfoUsingGET
      parameters:
      - name: baseDate
        in: query
        required: false
        schema:
          type: string
      - name: orderId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStepDateInfo'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/MoveToDraft/{orderId}:
    put:
      tags:
      - order-controller
      summary: move_order_to_draft
      operationId: move_order_to_draftUsingPUT
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
  /api/orders/RemovePackage:
    delete:
      tags:
      - order-controller
      summary: removePackageFromOrder
      operationId: removePackageFromOrderUsingDELETE
      parameters:
      - name: orderid
        in: query
        description: orderid
        required: false
        schema:
          type: integer
          format: int64
      - name: packageid
        in: query
        description: packageid
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /api/orders/RemovePackageItem:
    delete:
      tags:
      - order-controller
      summary: removePackageItemFromOrder
      operationId: removePackageItemFromOrderUsingDELETE
      parameters:
      - name: orderid
        in: query
        description: orderid
        required: true
        schema:
          type: integer
          format: int64
      - name: packageid
        in: query
        description: packageid
        required: true
        schema:
          type: integer
          format: int64
      - name: packageitemid
        in: query
        description: packageitemid
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /api/orders/SearchOrder:
    post:
      tags:
      - order-controller
      summary: index
      operationId: indexUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderSearchRequestPayload'
        description: orderSearchRequestPayload
        required: true
  /api/orders/UpdateManufacturerComments:
    put:
      tags:
      - order-controller
      summary: index
      operationId: indexUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateManufacturerCommentRequestPayload'
        description: updateManufacturerCommentRequestPayload
        required: true
  /api/orders/UpdateOrder:
    put:
      tags:
      - order-controller
      summary: update_order
      operationId: update_orderUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponseDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequestPayload'
        description: orderRequestPayload
        required: true
  /api/orders/UpdateOrder/MarkInventoryCreated:
    put:
      tags:
      - order-controller
      summary: markInventoryCreatedForOrder
      operationId: markInventoryCreatedForOrderUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponseDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequestPayload'
        description: orderRequestPayload
        required: true
  /api/orders/UpdateOrder/revertCompletedStep:
    put:
      tags:
      - order-controller
      summary: revertCompletedStep
      operationId: revertCompletedStepUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevertCompletedStepResponsePayload'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevertCompletedStepPayload'
        description: revertCompletedStepPayload
        required: true
  /api/orders/UpdateOrderGen:
    put:
      tags:
      - order-controller
      summary: update_order_gen
      operationId: update_order_genUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderGenResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderGenRequestPayload'
        description: requestPayload
        required: true
  /api/orders/UpdateOrderStep/bulk:
    put:
      tags:
      - order-controller
      summary: update_order_step_bulk
      operationId: update_order_step_bulkUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStepBulkPayload'
        description: orderStepBulkRequestPayload
        required: true
  /api/orders/UpdateQcSteps:
    put:
      tags:
      - order-controller
      summary: UpdateQcSteps
      operationId: UpdateQcStepsUsingPUT
      parameters:
      - name: orderId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQcStepsRequestPayload'
        description: updateQcStepsRequestPayload
        required: true
  /api/orders/add/leads:
    post:
      tags:
      - order-controller
      summary: addOrderLeads
      operationId: addOrderLeadsUsingPOST
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderLeadsRequestPayload'
        description: orderLeadsRequestPayload
        required: true
  /api/orders/all/lead/{leadId}:
    get:
      tags:
      - order-controller
      summary: clientOrdersLite
      operationId: clientOrdersLiteUsingGET
      parameters:
      - name: approvalStatus
        in: query
        required: false
        schema:
          type: string
      - name: assigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: brandIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: businessOwnerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: buyerExFactoryEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: buyerExFactoryStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: companyIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: confirmationDateEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: confirmationDateStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: draftOrders
        in: query
        required: false
        schema:
          type: boolean
      - name: fieldName
        in: query
        required: false
        schema:
          type: string
      - name: filters
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: financeApprovedOnce
        in: query
        required: false
        schema:
          type: boolean
      - name: financialStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: forPo
        in: query
        required: false
        schema:
          type: boolean
      - name: fromDb
        in: query
        required: false
        schema:
          type: boolean
      - name: getDataFor
        in: query
        required: false
        schema:
          type: string
      - name: havingShipmentsOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: inventoryCreated
        in: query
        required: false
        schema:
          type: boolean
      - name: leadId
        in: path
        description: leadId
        required: true
        schema:
          type: integer
          format: int64
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: manufacturerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: modelTypes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: opsAssigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: parentOrderOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: searchList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: object
      - name: skipList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: typeOfDelivery
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/assignOrder:
    post:
      tags:
      - order-controller
      summary: assign_order
      operationId: assign_orderUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderUpdateMessage'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignOrderRequestPayload'
        description: assignOrderRequestPayload
        required: true
  /api/orders/auditorListing:
    get:
      tags:
      - order-controller
      summary: auditorListing
      operationId: auditorListingUsingGET
      parameters:
      - name: auditorList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: auditStatusList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: bdAssigneeList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: fieldName
        in: query
        required: false
        schema:
          type: string
      - name: filters
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: financialStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: forPo
        in: query
        required: false
        schema:
          type: boolean
      - name: getDataFor
        in: query
        required: false
        schema:
          type: string
      - name: inventoryCreated
        in: query
        required: false
        schema:
          type: boolean
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: opsAssigneeList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: parentOrderOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: searchList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: object
      - name: skipList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/auditorUserList:
    get:
      tags:
      - order-controller
      summary: auditorUserList
      operationId: auditorUserListUsingGET
      parameters:
      - name: allRoleList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: ignoreRmFlag
        in: query
        required: false
        schema:
          type: boolean
      - name: roleList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: vpList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/bulkAssignOrder:
    post:
      tags:
      - order-controller
      summary: assign_order
      operationId: assign_orderUsingPOST_1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderUpdateMessage'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAssignOrderRequestPayload'
        description: bulkAssignOrderRequestPayload
        required: true
  /api/orders/checkSkuCosting:
    get:
      tags:
      - order-controller
      summary: check_sku_costing
      operationId: check_sku_costingUsingGET
      parameters:
      - name: sku
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/checkSkuOrder:
    get:
      tags:
      - order-controller
      summary: check_sku_order
      operationId: check_sku_orderUsingGET
      parameters:
      - name: sku
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/get/stepDates:
    get:
      tags:
      - order-controller
      summary: getStepDates
      operationId: getStepDatesUsingGET
      parameters:
      - name: baseDate
        in: query
        required: false
        schema:
          type: string
      - name: orderId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderStepDates'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/getAllCurrency:
    get:
      tags:
      - order-controller
      summary: allCurrency
      operationId: allCurrencyUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyDTO'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/getForwarderQuotationOrderData:
    get:
      tags:
      - order-controller
      summary: getForwarderQuotationOrderData
      operationId: getForwarderQuotationOrderDataUsingGET
      parameters:
      - name: approvalStatus
        in: query
        required: false
        schema:
          type: string
      - name: assigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: brandIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: businessOwnerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: buyerExFactoryEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: buyerExFactoryStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: companyIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: confirmationDateEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: confirmationDateStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: draftOrders
        in: query
        required: false
        schema:
          type: boolean
      - name: fieldName
        in: query
        required: false
        schema:
          type: string
      - name: filters
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: financeApprovedOnce
        in: query
        required: false
        schema:
          type: boolean
      - name: financialStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: forPo
        in: query
        required: false
        schema:
          type: boolean
      - name: fromDb
        in: query
        required: false
        schema:
          type: boolean
      - name: getDataFor
        in: query
        required: false
        schema:
          type: string
      - name: havingShipmentsOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: inventoryCreated
        in: query
        required: false
        schema:
          type: boolean
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: manufacturerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: modelTypes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: opsAssigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: parentOrderOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: searchList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: object
      - name: skipList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: typeOfDelivery
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ForwarderQuotationOrderDataDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/lead/order/{leadId}:
    get:
      tags:
      - order-controller
      summary: getLeadOrders
      operationId: getLeadOrdersUsingGET
      parameters:
      - name: leadId
        in: path
        description: leadId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int64
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/lead/orderAmount:
    post:
      tags:
      - order-controller
      summary: getLeadsOrderAmount
      operationId: getLeadsOrderAmountUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadsRequestPayload'
        description: leadsRequestPayload
        required: true
  /api/orders/lead/orderDetails:
    post:
      tags:
      - order-controller
      summary: getLeadsOrderDetails
      operationId: getLeadsOrderDetailsUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyOrderRmDetailsDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadsRequestPayload'
        description: leadsRequestPayload
        required: true
  /api/orders/log/relic:
    put:
      tags:
      - order-controller
      summary: logToNewRelic
      operationId: logToNewRelicUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/orders/my-orders:
    get:
      tags:
      - order-controller
      summary: myOrders
      operationId: myOrdersUsingGET
      parameters:
      - name: assigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: baseDate
        in: query
        required: false
        schema:
          type: string
      - name: companies
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: financeApprovedOnce
        in: query
        required: false
        schema:
          type: boolean
      - name: hasLogisticsAssignee
        in: query
        required: false
        schema:
          type: boolean
      - name: hasShipment
        in: query
        required: false
        schema:
          type: boolean
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: manufacturerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: opsAssigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderTypes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: showCompleted
        in: query
        required: false
        schema:
          type: boolean
      - name: showVpOrders
        in: query
        required: false
        schema:
          type: boolean
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: styleCodes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/my-orders-lite:
    get:
      tags:
      - order-controller
      summary: myOrdersLite
      operationId: myOrdersLiteUsingGET
      parameters:
      - name: assigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: baseDate
        in: query
        required: false
        schema:
          type: string
      - name: companies
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: financeApprovedOnce
        in: query
        required: false
        schema:
          type: boolean
      - name: hasLogisticsAssignee
        in: query
        required: false
        schema:
          type: boolean
      - name: hasShipment
        in: query
        required: false
        schema:
          type: boolean
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: manufacturerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: opsAssigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderTypes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: showCompleted
        in: query
        required: false
        schema:
          type: boolean
      - name: showVpOrders
        in: query
        required: false
        schema:
          type: boolean
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: styleCodes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/newListing:
    get:
      tags:
      - order-controller
      summary: get_dashboard_orders_page2
      operationId: get_dashboard_orders_page2UsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/orderAmount:
    post:
      tags:
      - order-controller
      summary: getOrderAmount
      operationId: getOrderAmountUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderAmountResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderAmountRequestPayload'
        description: orderAmountRequestPayload
        required: true
  /api/orders/orderHistory:
    get:
      tags:
      - order-controller
      summary: assign_order_history
      operationId: assign_order_historyUsingGET
      parameters:
      - name: changeFilters
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: orderId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderAssignHistory'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/orderslist/GetAllOrdersLite:
    get:
      tags:
      - order-controller
      summary: getAllOrdersList
      operationId: getAllOrdersListUsingGET
      parameters:
      - name: approvalStatus
        in: query
        required: false
        schema:
          type: string
      - name: assigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: brandIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: businessOwnerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: buyerExFactoryEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: buyerExFactoryStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: companyIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: confirmationDateEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: confirmationDateStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: draftOrders
        in: query
        required: false
        schema:
          type: boolean
      - name: fieldName
        in: query
        required: false
        schema:
          type: string
      - name: filters
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: financeApprovedOnce
        in: query
        required: false
        schema:
          type: boolean
      - name: financialStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: forPo
        in: query
        required: false
        schema:
          type: boolean
      - name: fromDb
        in: query
        required: false
        schema:
          type: boolean
      - name: getDataFor
        in: query
        required: false
        schema:
          type: string
      - name: havingShipmentsOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: inventoryCreated
        in: query
        required: false
        schema:
          type: boolean
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: manufacturerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: modelTypes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: opsAssigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: parentOrderOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: searchList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: object
      - name: skipList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: typeOfDelivery
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/orderslist/inventory/GetAllOrdersLite:
    get:
      tags:
      - order-controller
      summary: getAllOrdersListForInventoryCreation
      operationId: getAllOrdersListForInventoryCreationUsingGET
      parameters:
      - name: approvalStatus
        in: query
        required: false
        schema:
          type: string
      - name: assigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: brandIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: businessOwnerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: buyerExFactoryEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: buyerExFactoryStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: companyIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: confirmationDateEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: confirmationDateStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: draftOrders
        in: query
        required: false
        schema:
          type: boolean
      - name: fieldName
        in: query
        required: false
        schema:
          type: string
      - name: filters
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: financeApprovedOnce
        in: query
        required: false
        schema:
          type: boolean
      - name: financialStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: forPo
        in: query
        required: false
        schema:
          type: boolean
      - name: fromDb
        in: query
        required: false
        schema:
          type: boolean
      - name: getDataFor
        in: query
        required: false
        schema:
          type: string
      - name: havingShipmentsOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: inventoryCreated
        in: query
        required: false
        schema:
          type: boolean
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: manufacturerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: modelTypes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: opsAssigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: parentOrderOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: searchList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: object
      - name: skipList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: typeOfDelivery
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/poFinanceListing:
    get:
      tags:
      - order-controller
      summary: poFinanceListing
      operationId: poFinanceListingUsingGET
      parameters:
      - name: approvalStatus
        in: query
        required: false
        schema:
          type: string
      - name: assigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: brandIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: businessOwnerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: buyerExFactoryEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: buyerExFactoryStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: companyIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: confirmationDateEndDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: confirmationDateStartDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: draftOrders
        in: query
        required: false
        schema:
          type: boolean
      - name: fieldName
        in: query
        required: false
        schema:
          type: string
      - name: filters
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: financeApprovedOnce
        in: query
        required: false
        schema:
          type: boolean
      - name: financialStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: forPo
        in: query
        required: false
        schema:
          type: boolean
      - name: fromDb
        in: query
        required: false
        schema:
          type: boolean
      - name: getDataFor
        in: query
        required: false
        schema:
          type: string
      - name: havingShipmentsOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: inventoryCreated
        in: query
        required: false
        schema:
          type: boolean
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: manufacturerIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: modelTypes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: opsAssigneeIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: parentOrderOnly
        in: query
        required: false
        schema:
          type: boolean
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: searchList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: object
      - name: skipList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: typeOfDelivery
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/orders/sku/manufacturerIds:
    post:
      tags:
      - order-controller
      summary: getManufacturerIdForSku
      operationId: getManufacturerIdForSkuUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/ManufacturerDetailMiniDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkuManufacturerDataRequest'
        description: payload
        required: true
  /api/orders/update/lead:
    put:
      tags:
      - order-controller
      summary: updateLead
      operationId: updateLeadUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/orders/updateAuditor:
    put:
      tags:
      - order-controller
      summary: updateAuditor
      operationId: updateAuditorUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAuditorStatusRequestPayload'
        description: requestPayload
        required: true
  /api/orders/value-summary:
    get:
      tags:
      - order-controller
      summary: getOrdersValueSummary
      operationId: getOrdersValueSummaryUsingGET
      parameters:
      - name: orderIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersValueSummaryApiResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
components:
  schemas:
    ProcessStepsDto:
      type: object
      properties:
        advance_percentage_comments:
          type: string
        approval_status:
          type: string
        audit_status:
          type: string
        buffer_date:
          type: string
          format: date-time
        buyer_advance_payment:
          type: integer
          format: int64
        buyer_advance_percentage:
          type: integer
          format: int64
        comments:
          type: object
        completion_date:
          type: string
          format: date-time
        copy_state_as_master:
          type: boolean
        due_date:
          type: string
          format: date-time
        factory_advance_payment:
          type: integer
          format: int64
        factory_advance_percentage:
          type: integer
          format: int64
        initial_due_date:
          type: integer
          format: int64
        is_tna_update:
          type: boolean
        is_valid:
          type: boolean
        order_id:
          type: integer
          format: int64
        pending:
          type: boolean
        pending_buffer_date:
          type: integer
          format: int64
        qc:
          type: boolean
        qc_payload:
          type: object
        require_approval:
          type: string
        require_due_date:
          type: string
        status:
          type: string
        step_display_order:
          type: integer
          format: int32
        step_name:
          type: string
        step_success_criteria:
          type: string
        step_template_id:
          type: integer
          format: int64
        validation_failure_reasons:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
        visible_to_client:
          type: string
        visible_to_manufacturer:
          type: string
        wf_template_id:
          type: integer
          format: int64
        workflow_step_order_map_id:
          type: integer
          format: int64
      title: ProcessStepsDto
    QcAbortDocDto:
      type: object
      properties:
        alias:
          type: string
        id:
          type: integer
          format: int64
        url:
          type: string
      title: QcAbortDocDto
    BulkCreateOrderResponseDto:
      type: object
      properties:
        create_order_response_dto:
          $ref: '#/components/schemas/CreateOrderResponseDto'
        message:
          type: string
      title: BulkCreateOrderResponseDto
    PiChangeDataDto:
      type: object
      properties:
        previous_value:
          type: string
      title: PiChangeDataDto
    BrandVpDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        vp_email:
          type: string
        vp_id:
          type: integer
          format: int64
        vp_name:
          type: string
      title: BrandVpDto
    PoChangeTypeDto:
      type: object
      properties:
        added:
          $ref: '#/components/schemas/PoChangeDataDto'
        modify:
          $ref: '#/components/schemas/PoChangeDataDto'
        subtracted:
          $ref: '#/components/schemas/PoChangeDataDto'
      title: PoChangeTypeDto
    QCLineDetailsDto:
      type: object
      properties:
        allowed_values:
          type: array
          items:
            type: string
        allowed_values_v2:
          type: array
          items:
            type: string
        comment:
          type: string
        doc_alias:
          type: string
        doc_details:
          $ref: '#/components/schemas/DocDetailsDto'
        doc_id:
          type: integer
          format: int64
        doc_mandatory:
          type: string
        doc_required:
          type: boolean
        doc_type:
          type: string
        input_value:
          type: string
        is_template_question:
          type: boolean
        name:
          type: string
        parent_question:
          type: integer
          format: int64
        phase:
          type: string
        phase_rank:
          type: integer
          format: int64
        qc_line_item_id:
          type: integer
          format: int64
        qc_line_template_id:
          type: integer
          format: int64
        question:
          type: string
        show_on_value:
          type: string
        uploaded_doc_type:
          type: string
        value_type:
          type: string
        video_enabled:
          type: boolean
      title: QCLineDetailsDto
    GeniemodeEntityTags:
      type: object
      required:
      - geniemodeEntity
      - tag
      properties:
        createdBy:
          type: string
        geniemodeEntity:
          $ref: '#/components/schemas/GeniemodeEntity'
        id:
          type: integer
          format: int64
        tag:
          type: string
      title: GeniemodeEntityTags
    QcSamplingItemDto:
      type: object
      properties:
        alias:
          type: string
        cue_point:
          $ref: '#/components/schemas/QcCuePointDto'
        id:
          type: integer
          format: int64
        image_url:
          type: string
        kind_of_defect:
          type: string
        other_defect:
          type: string
        other_visual_defect:
          type: string
        packing_defect_type:
          type: string
        reason_for_failure:
          type: string
        status:
          type: string
        type_of_defect:
          type: string
        visual_defect_category:
          type: string
        visual_defect_desc:
          type: string
      title: QcSamplingItemDto
    PacketVariants:
      type: object
      required:
      - packet
      - variant
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        locked:
          type: boolean
        packet:
          $ref: '#/components/schemas/Packet'
        quantity:
          type: integer
          format: int64
        variant:
          $ref: '#/components/schemas/Variant'
      title: PacketVariants
    GetOrderViewResponsePayload:
      type: object
      properties:
        billing_address_id:
          type: integer
          format: int64
        business_owner:
          $ref: '#/components/schemas/BusinessOwnerDto'
        business_owner_id:
          type: integer
          format: int64
        buyer_gstin:
          type: string
        dpr_data:
          $ref: '#/components/schemas/OrderDprDto'
        geniemode_entity:
          $ref: '#/components/schemas/GeniemodeEntityDto'
        is_final_inspection_complete:
          type: boolean
        latest_po_rejected_reason:
          type: string
        latest_po_status:
          type: string
        margin_data:
          $ref: '#/components/schemas/OrderMarginDto'
        order_data:
          $ref: '#/components/schemas/OrderDetailViewDto'
        po_history_list:
          type: array
          items:
            $ref: '#/components/schemas/PoGetResponsePayloadDto'
        qc_file_check_list_id:
          type: integer
          format: int64
        qc_file_check_list_status:
          type: string
        qc_hold:
          type: boolean
        special_instruction:
          type: string
        step_data:
          type: array
          items:
            $ref: '#/components/schemas/WfStepOrderViewMapDto'
        step_date_info:
          type: array
          items:
            type: array
            items:
              type: string
        terms_condition:
          type: string
      title: GetOrderViewResponsePayload
    ManufacturerAgreementDetails:
      type: object
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        indiaEntityBuySellModelAgreementApprovalDate:
          type: integer
          format: int64
        indiaEntityBuySellModelAgreementDocUrl:
          type: string
        indiaEntityBuySellModelAgreementJson:
          type: string
        indiaEntityBuySellModelAgreementLocation:
          type: string
        indiaEntityBuySellModelAgreementSignatureDocUrl:
          type: string
        indiaEntityCommissionModelAgreementApprovalDate:
          type: integer
          format: int64
        indiaEntityCommissionModelAgreementDocUrl:
          type: string
        indiaEntityCommissionModelAgreementJson:
          type: string
        indiaEntityCommissionModelAgreementLocation:
          type: string
        indiaEntityCommissionModelAgreementSignatureDocUrl:
          type: string
        manufacturerDetail:
          $ref: '#/components/schemas/Manufacturer'
        ukEntityBuySellModelAgreementApprovalDate:
          type: integer
          format: int64
        ukEntityBuySellModelAgreementDocUrl:
          type: string
        ukEntityBuySellModelAgreementJson:
          type: string
        ukEntityBuySellModelAgreementLocation:
          type: string
        ukEntityBuySellModelAgreementSignatureDocUrl:
          type: string
        ukEntityCommissionModelAgreementApprovalDate:
          type: integer
          format: int64
        ukEntityCommissionModelAgreementDocUrl:
          type: string
        ukEntityCommissionModelAgreementJson:
          type: string
        ukEntityCommissionModelAgreementLocation:
          type: string
        ukEntityCommissionModelAgreementSignatureDocUrl:
          type: string
        usEntityBuySellModelAgreementApprovalDate:
          type: integer
          format: int64
        usEntityBuySellModelAgreementDocUrl:
          type: string
        usEntityBuySellModelAgreementJson:
          type: string
        usEntityBuySellModelAgreementLocation:
          type: string
        usEntityBuySellModelAgreementSignatureDocUrl:
          type: string
        usEntityCommissionModelAgreementApprovalDate:
          type: integer
          format: int64
        usEntityCommissionModelAgreementDocUrl:
          type: string
        usEntityCommissionModelAgreementJson:
          type: string
        usEntityCommissionModelAgreementLocation:
          type: string
        usEntityCommissionModelAgreementSignatureDocUrl:
          type: string
      title: ManufacturerAgreementDetails
    VariantBuyerPoMapping:
      type: object
      required:
      - orderBuyerPo
      - variant
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        lockedQuantity:
          type: integer
          format: int64
        orderBuyerPo:
          $ref: '#/components/schemas/OrderBuyerPo'
        quantity:
          type: integer
          format: int64
        variant:
          $ref: '#/components/schemas/Variant'
      title: VariantBuyerPoMapping
    UpdateOrderStepBulkCombinePayload:
      type: object
      properties:
        comment:
          type: string
        doc_id:
          type: integer
          format: int64
      title: UpdateOrderStepBulkCombinePayload
    OrderDetailViewDto:
      type: object
      properties:
        assignee_id:
          type: integer
          format: int64
        brand_id:
          type: integer
          format: int64
        brand_response:
          $ref: '#/components/schemas/BrandResponse'
        buyer_days:
          type: integer
          format: int64
        buyer_eta_date:
          type: string
          format: date-time
        buyer_handover_date:
          type: integer
          format: int64
        buyer_payment_type:
          type: string
        buyer_po_list:
          type: array
          items:
            $ref: '#/components/schemas/OrderDetailBuyerPODocResponseDto'
        catalouge_id:
          type: integer
          format: int64
        change_tna_request:
          $ref: '#/components/schemas/CreateTnaResponsePayload'
        client_id:
          type: integer
          format: int64
        company:
          $ref: '#/components/schemas/CompanyDTO'
        confirmation_date:
          type: string
          format: date-time
        confirmation_mail_doc_list:
          type: array
          items:
            $ref: '#/components/schemas/OrderDocDto'
        conversion_rate:
          type: number
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        currency:
          type: string
        currency_conversion_date:
          type: string
          format: date-time
        current_amount:
          type: number
        eta_date:
          type: string
          format: date-time
        eta_date_change_reason:
          type: string
        eta_date_change_reason_document:
          type: string
        factory_conversion:
          type: number
        factory_conversion_date:
          type: string
          format: date-time
        factory_currency:
          type: string
        factory_eta_date:
          type: string
          format: date-time
        factory_handover_date:
          type: integer
          format: int64
        factory_payment_type:
          type: string
        factory_po_doc:
          $ref: '#/components/schemas/OrderDocDto'
        financial_status:
          type: string
        hashed_order_id:
          type: string
        hsn_code:
          type: string
        is_legacy_order:
          type: boolean
        lead:
          $ref: '#/components/schemas/LeadPageDTO'
        lead_contact:
          type: string
        lead_email:
          type: string
        lead_id:
          type: integer
          format: int64
        lead_name:
          type: string
        lead_projection_id:
          type: integer
          format: int64
        manufacturer_days:
          type: integer
          format: int64
        manufacturer_id:
          type: integer
          format: int64
        manufacturer_name:
          type: string
        measurement_charts:
          type: array
          items:
            $ref: '#/components/schemas/OrderDocDto'
        ops_assignee_id:
          type: integer
          format: int64
        order_additional_doc_list:
          type: array
          items:
            $ref: '#/components/schemas/OrderDocDto'
        order_id:
          type: integer
          format: int64
        order_status:
          type: string
        order_type:
          type: string
        packaging_complete:
          type: boolean
        parent_financial_status:
          type: string
        parent_order_id:
          type: integer
          format: int64
        parents_buyer_po_list:
          type: array
          items:
            $ref: '#/components/schemas/OrderDetailBuyerPODocResponseDto'
        payment_doc:
          $ref: '#/components/schemas/OrderDocDto'
        payment_type:
          type: string
        pi_history:
          type: array
          items:
            $ref: '#/components/schemas/PiHistoryResponsePayloadDto'
        pi_no:
          type: integer
          format: int64
        pi_status:
          type: string
        po:
          $ref: '#/components/schemas/CreatePoRequestPayload'
        po_doc:
          $ref: '#/components/schemas/OrderDocDto'
        po_no:
          type: string
        pre_order_id:
          type: integer
          format: int64
        pre_order_quantity:
          type: integer
          format: int64
        price:
          type: number
        qr_url:
          type: string
        quantity:
          type: integer
          format: int64
        rm_id:
          type: integer
          format: int64
        rm_name:
          type: string
        selected_currency:
          type: string
        selected_currency_price:
          type: number
        selected_currency_value:
          type: number
        selected_dollar_price:
          type: number
        selected_dollar_value:
          type: number
        selected_hand_over_date:
          type: integer
          format: int64
        shipment_packaging_complete:
          type: boolean
        show_size_chart_in_po:
          type: boolean
        sku_data:
          $ref: '#/components/schemas/ProductSkuDto'
        sku_id:
          type: string
        split_from_order_id:
          type: integer
          format: int64
        style_code:
          type: string
        tech_pack_id:
          type: integer
          format: int64
        tech_pack_name:
          type: string
        tna_finalized:
          type: boolean
        total_audit_failed:
          type: integer
          format: int64
        total_audit_passed:
          type: integer
          format: int64
        total_audit_pending:
          type: integer
          format: int64
        total_audits:
          type: integer
          format: int64
        uom:
          type: string
        updated_at:
          type: string
          format: date-time
        wf_template_id:
          type: integer
          format: int64
        workflow_status:
          type: string
      title: OrderDetailViewDto
    SkuManufacturerDataRequest:
      type: object
      properties:
        skus:
          type: array
          items:
            type: string
      title: SkuManufacturerDataRequest
    QcStage:
      type: object
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        name:
          type: string
      title: QcStage
    MessageResponse:
      type: object
      properties:
        message:
          type: string
      title: MessageResponse
    PiResponsePayloadDto:
      type: object
      properties:
        acc_no:
          $ref: '#/components/schemas/PiMapPayloadDto'
        account_holder_name:
          $ref: '#/components/schemas/PiMapPayloadDto'
        bank_address:
          $ref: '#/components/schemas/PiMapPayloadDto'
        bank_details:
          $ref: '#/components/schemas/PiMapPayloadDto'
        bank_name:
          $ref: '#/components/schemas/PiMapPayloadDto'
        bill_to:
          $ref: '#/components/schemas/PiMapPayloadDto'
        brand:
          $ref: '#/components/schemas/PiMapPayloadDto'
        buyer_currency:
          $ref: '#/components/schemas/PiMapPayloadDto'
        buyer_gst_in:
          $ref: '#/components/schemas/PiMapPayloadDto'
        buyer_po_list:
          $ref: '#/components/schemas/PiMapPayloadDto'
        buyer_po_no:
          $ref: '#/components/schemas/PiMapPayloadDto'
        buyer_po_received_date:
          $ref: '#/components/schemas/PiMapPayloadDto'
        buyer_terms_condition:
          $ref: '#/components/schemas/PiMapPayloadDto'
        compliance_list:
          type: array
          items:
            $ref: '#/components/schemas/PiComplianceResponsePayloadDto'
        geniemode_entity_name:
          $ref: '#/components/schemas/PiMapPayloadDto'
        insurance_charges:
          $ref: '#/components/schemas/PiMapPayloadDto'
        other_charges:
          type: array
          items:
            $ref: '#/components/schemas/piOtherChargeResponsePayloadDto'
        pi_date:
          $ref: '#/components/schemas/PiMapPayloadDto'
        pi_no:
          $ref: '#/components/schemas/PiMapPayloadDto'
        reason:
          $ref: '#/components/schemas/PiMapPayloadDto'
        single_pi_response:
          $ref: '#/components/schemas/PiListingResponsePayload'
        sku_list:
          type: array
          items:
            $ref: '#/components/schemas/PiSkuResponsePayloadDto'
        sum_of_all_other_charges:
          $ref: '#/components/schemas/PiMapPayloadDto'
        sum_of_quantity:
          $ref: '#/components/schemas/PiMapPayloadDto'
        sum_of_tax_amount:
          $ref: '#/components/schemas/PiMapPayloadDto'
        sum_of_taxable_value:
          $ref: '#/components/schemas/PiMapPayloadDto'
        sum_of_total_value:
          $ref: '#/components/schemas/PiMapPayloadDto'
        supplier_gst_in:
          $ref: '#/components/schemas/PiMapPayloadDto'
        total_cgst_amount:
          $ref: '#/components/schemas/PiMapPayloadDto'
        total_gst_amount:
          $ref: '#/components/schemas/PiMapPayloadDto'
        total_igst_amount:
          $ref: '#/components/schemas/PiMapPayloadDto'
        total_invoice_value:
          $ref: '#/components/schemas/PiMapPayloadDto'
        total_sgst_amount:
          $ref: '#/components/schemas/PiMapPayloadDto'
        total_tax_amount:
          $ref: '#/components/schemas/PiMapPayloadDto'
      title: PiResponsePayloadDto
    PoVariantRequestPayload:
      type: object
      properties:
        hsn_code:
          type: string
        purchase_cgst:
          type: number
        purchase_igst:
          type: number
        purchase_sgst:
          type: number
        selling_cgst:
          type: number
        selling_igst:
          type: number
        selling_sgst:
          type: number
        variant_id:
          type: integer
          format: int64
      title: PoVariantRequestPayload
    OrderLeadsDetailsRequestPayload:
      type: object
      properties:
        client_id:
          type: integer
          format: int64
        company_name:
          type: string
        order_ids:
          type: array
          uniqueItems: true
          items:
            type: integer
            format: int64
      title: OrderLeadsDetailsRequestPayload
    OrderCostDetailsDto:
      type: object
      properties:
        buyer_currency:
          type: string
        changed_shipment_mode:
          type: string
        cm_cost:
          type: number
        company_name:
          type: string
        docs_mandatory:
          type: boolean
        fabric_cost:
          type: array
          items:
            $ref: '#/components/schemas/FabricCostDto'
        factory_currency:
          type: string
        factory_margin_amount:
          type: number
        factory_margin_percentage:
          type: number
        finance_approval_date:
          type: string
          format: date-time
        finishing_charges:
          type: number
        handling_charges:
          type: number
        margin_amount:
          type: number
        margin_percentage:
          type: number
        order_id:
          type: integer
          format: int64
        overhead_cost:
          type: number
        packaging_charges:
          type: number
        planned_shipment_mode:
          type: string
        preferred_factory:
          $ref: '#/components/schemas/ManufacturerDetailMiniDto'
        preferred_factory_costing:
          type: number
        preferred_factory_costing_docs:
          type: array
          items:
            type: string
[...]
