openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Authorisation API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: authorisation
  description: Authorisation
paths:
  /api/auth/ForgotPassword:
    post:
      tags:
      - authorisation
      summary: forgotPassword
      operationId: forgotPasswordUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForgetResetPasswordResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequestPayload'
        description: payload
        required: true
  /api/auth/ResetPassword:
    post:
      tags:
      - authorisation
      summary: resetPassword
      operationId: resetPasswordUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForgetResetPasswordResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequestPayload'
        description: payload
        required: true
  /api/auth/login:
    get:
      tags:
      - authorisation
      summary: login
      operationId: loginUsingGET
      parameters:
      - name: encodedAuthString
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorisationResponsePayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
components:
  schemas:
    AuthorisationResponsePayload:
      type: object
      properties:
        access_token:
          type: string
        is_tnc_accepted:
          type: string
        is_tnc_mail_sent:
          type: string
        is_tnc_page_visble:
          type: string
        refresh_token:
          type: string
        roles:
          type: array
          items:
            type: string
        token:
          type: string
        user_id:
          type: integer
          format: int64
        user_name:
          type: string
      title: AuthorisationResponsePayload
    ForgotPasswordRequestPayload:
      type: object
      properties:
        email:
          type: string
      title: ForgotPasswordRequestPayload
    ResetPasswordRequestPayload:
      type: object
      properties:
        confirm_password:
          type: string
        password:
          type: string
        token:
          type: string
      title: ResetPasswordRequestPayload
    ForgetResetPasswordResponse:
      type: object
      properties:
        msg:
          type: string
      title: ForgetResetPasswordResponse
