openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Qc Controller API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: qc-controller
  description: QC Controller
paths:
  /api/v1/path/generic_qc/:
    get:
      tags:
      - qc-controller
      summary: get_all_qc
      operationId: get_all_qcUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/GetAllQcRm:
    post:
      tags:
      - qc-controller
      summary: getAllQcRm
      operationId: getAllQcRmUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QCSearchRequestPayload'
        description: qcearchRequestPayload
        required: true
  /api/v1/path/generic_qc/UpdateQcItems:
    put:
      tags:
      - qc-controller
      summary: update_qc_items
      operationId: update_qc_itemsUsingPUT
      parameters:
      - name: additional-data
        in: query
        description: additional-data
        required: false
        schema:
          type: string
      - name: data
        in: query
        description: data
        required: true
        schema:
          type: string
      - name: images
        in: query
        description: images
        required: true
        schema:
          items:
            type: object
            additionalProperties:
              type: string
      - name: qc-id
        in: query
        description: qc-id
        required: false
        schema:
          type: integer
          format: int64
      - name: qc-passed
        in: query
        description: qc-passed
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericMessageResponsePayload'
  /api/v1/path/generic_qc/addNewFabricInspectionQuestion:
    post:
      tags:
      - qc-controller
      summary: addNewFabricInspectionQuestion
      operationId: addNewFabricInspectionQuestionUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericMessageResponsePayload'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddNewFabricQuestionDto'
        description: requestPayload
        required: true
  /api/v1/path/generic_qc/addNewQcToAdditionalInspection:
    post:
      tags:
      - qc-controller
      summary: addNewQcToAdditionalInspection
      operationId: addNewQcToAdditionalInspectionUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQcForAdditionalInspectionRequest'
        description: request
        required: true
  /api/v1/path/generic_qc/allQcStatus:
    get:
      tags:
      - qc-controller
      summary: allQcStatus
      operationId: allQcStatusUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  enum:
                  - ABORTED
                  - DEAD
                  - DELAYED
                  - HOLD
                  - NOT_ASSIGNED
                  - REJECTED
                  - SCHEDULED
                  - SUCCESS
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/checkForAdditionalInspection:
    get:
      tags:
      - qc-controller
      summary: checkForAdditionalInspection
      operationId: checkForAdditionalInspectionUsingGET
      parameters:
      - name: orderId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stepName
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/completeQcStep:
    put:
      tags:
      - qc-controller
      summary: completeQcStep
      operationId: completeQcStepUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQCRequestPayload'
        description: requestPayload
        required: true
  /api/v1/path/generic_qc/createTemplate:
    post:
      tags:
      - qc-controller
      summary: createTemplate
      operationId: createTemplateUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
        description: request
        required: true
  /api/v1/path/generic_qc/getCalenderCount:
    get:
      tags:
      - qc-controller
      summary: getCalenderCount
      operationId: getCalenderCountUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CalenderCountResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/getCalenderCountData:
    get:
      tags:
      - qc-controller
      summary: getCalenderCountData
      operationId: getCalenderCountDataUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CalenderCountResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/getCalenderData:
    get:
      tags:
      - qc-controller
      summary: getCalenderData
      operationId: getCalenderDataUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/getFilterList:
    get:
      tags:
      - qc-controller
      summary: getFilterList
      operationId: getFilterListUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcFiltersDTO'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/getFilterListNew:
    get:
      tags:
      - qc-controller
      summary: getFilterListNew
      operationId: getFilterListNewUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcFilterListNewDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/getFinalInspectionDocType:
    get:
      tags:
      - qc-controller
      summary: getFinalInspectionDocType
      operationId: getFinalInspectionDocTypeUsingGET
      parameters:
      - name: templateId
        in: query
        description: templateId
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/getManufactureIdsForQC:
    post:
      tags:
      - qc-controller
      summary: get_manufacturers
      operationId: get_manufacturersUsingPOST
      responses:
        '410':
          description: No longer supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQcManufactuersResponse'
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QCSearchRequestPayload'
        description: qcearchRequestPayload
        required: true
  /api/v1/path/generic_qc/getManufacturerCityStateList:
    get:
      tags:
      - qc-controller
      summary: getManufacturerCityStateList
      operationId: getManufacturerCityStateListUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcManufacturerStateCityListNewDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/getOrderIdsForQC:
    post:
      tags:
      - qc-controller
      summary: get_orders
      operationId: get_ordersUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQcOrdersResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QCSearchRequestPayload'
        description: qcearchRequestPayload
        required: true
  /api/v1/path/generic_qc/getQcAssigneeList:
    get:
      tags:
      - qc-controller
      summary: QcAssigneeListNewDto
      operationId: QcAssigneeListNewDtoUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcAssigneeListNewDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/getQcStepOrder:
    get:
      tags:
      - qc-controller
      summary: getQcStepOrder
      operationId: getQcStepOrderUsingGET
      parameters:
      - name: orderId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: orderStepId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcTemplateId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: rmId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQcStepOrderResponsePayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/getRmsForQC:
    post:
      tags:
      - qc-controller
      summary: get_Rms
      operationId: get_RmsUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetQcRmResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QCSearchRequestPayload'
        description: qcearchRequestPayload
        required: true
  /api/v1/path/generic_qc/getStableAppVersion:
    get:
      tags:
      - qc-controller
      summary: getQcCuePoints
      operationId: getQcCuePointsUsingGET_2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/getStatusCount:
    get:
      tags:
      - qc-controller
      summary: getStatusCount
      operationId: getStatusCountUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: integer
                    format: int64
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/getStatusCountNew:
    get:
      tags:
      - qc-controller
      summary: getStatusCountNew
      operationId: getStatusCountNewUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: integer
                    format: int64
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/getStepMapList:
    get:
      tags:
      - qc-controller
      summary: stepCountList
      operationId: stepCountListUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcStepCountListNewDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/listing_qc:
    get:
      tags:
      - qc-controller
      summary: listing_qc
      operationId: listing_qcUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/manufacturer/buyer/compliance/index:
    get:
      tags:
      - qc-controller
      summary: index
      operationId: indexUsingGET_26
      parameters:
      - name: pageType
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          pattern: ^(approved|pending|rejected)$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/manufacturer/buyer/compliance/{manufacturerUnitBuyerComplianceId}:
    put:
      tags:
      - qc-controller
      summary: changeManufactuerBuyerComplianceStatus
      operationId: changeManufactuerBuyerComplianceStatusUsingPUT
      parameters:
      - name: manufacturerUnitBuyerComplianceId
        in: path
        description: manufacturerUnitBuyerComplianceId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManufacturerApprovalRequestPayload'
        description: manufacturerApprovalPayload
        required: true
  /api/v1/path/generic_qc/markQcReportEditable:
    put:
      tags:
      - qc-controller
      summary: markQcReportEditable
      operationId: markQcReportEditableUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkQcEditableRequest'
        description: request
        required: true
  /api/v1/path/generic_qc/moveToDead:
    put:
      tags:
      - qc-controller
      summary: moveToDead
      operationId: moveToDeadUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveToDead'
        description: request
        required: true
  /api/v1/path/generic_qc/old-listing:
    get:
      tags:
      - qc-controller
      summary: oldListing
      operationId: oldListingUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/orderAssignee/{qcIdOrEncryptId}:
    get:
      tags:
      - qc-controller
      summary: getOrderAssigneeData
      operationId: getOrderAssigneeDataUsingGET
      parameters:
      - name: qcIdOrEncryptId
        in: path
        description: qcIdOrEncryptId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcGetOrderAssigneesData'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/orderFactoryUsers/{qcIdOrEncryptId}:
    get:
      tags:
      - qc-controller
      summary: QcGetOrderFactoryUsersData
      operationId: QcGetOrderFactoryUsersDataUsingGET
      parameters:
      - name: qcIdOrEncryptId
        in: path
        description: qcIdOrEncryptId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcGetOrderFactoryUsersData'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/ppm/inHouseItemName:
    get:
      tags:
      - qc-controller
      summary: getPpmInHouseItemNames
      operationId: getPpmInHouseItemNamesUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QCPpmInHouseItemNameResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/ppm/inHouseItemsName:
    post:
      tags:
      - qc-controller
      summary: createPpmInHouseItemsName
      operationId: createPpmInHouseItemsNameUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QcPpmInHouseItemsNameCreateRequest'
        description: requestPayload
        required: true
  /api/v1/path/generic_qc/ppm/jobOptions:
    get:
      tags:
      - qc-controller
      summary: getPpmJobOptions
      operationId: getPpmJobOptionsUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QCPpmJobOptionValueResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    post:
      tags:
      - qc-controller
      summary: createPpmJobOptions
      operationId: createPpmJobOptionsUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcJobOptionsResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QcPpmJobOptionsCreateRequestPayload'
        description: requestPayload
        required: true
  /api/v1/path/generic_qc/ppm/orderData/{qcIdOrEncryptId}:
    get:
      tags:
      - qc-controller
      summary: getPpmOrderData
      operationId: getPpmOrderDataUsingGET
      parameters:
      - name: qcIdOrEncryptId
        in: path
        description: qcIdOrEncryptId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcPpmGetOrderDataPayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/ppm/v2/add-question:
    post:
      tags:
      - qc-controller
      summary: submitPpmV2Question
      operationId: submitPpmV2QuestionUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QcPpmV2QuestionRequestPayload'
        description: requestPayload
        required: true
  /api/v1/path/generic_qc/ppm/v2/withoutId/{qcIdOrEncryptId}:
    get:
      tags:
      - qc-controller
      summary: getPpmV2WithoutId
      operationId: getPpmV2WithoutIdUsingGET
      parameters:
      - name: qcIdOrEncryptId
        in: path
        description: qcIdOrEncryptId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcPpmV2WithoutIdGetResponsePayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/ppm/v2/{qcIdOrEncryptId}:
    get:
      tags:
      - qc-controller
      summary: getPpmV2
      operationId: getPpmV2UsingGET
      parameters:
      - name: qcIdOrEncryptId
        in: path
        description: qcIdOrEncryptId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcPpmV2WithIdGetResponsePayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/ppm/v2/{qcId}:
    post:
      tags:
      - qc-controller
      summary: submitPpmV2
      operationId: submitPpmV2UsingPOST
      parameters:
      - name: qcId
        in: path
        description: qcId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcPpmV2WithIdGetResponsePayload'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QcPpmV2SubmitRequestPayload'
        description: requestPayload
        required: true
  /api/v1/path/generic_qc/ppm/{qcId}:
    get:
      tags:
      - qc-controller
      summary: getPpm
      operationId: getPpmUsingGET
      parameters:
      - name: orderId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIdOrEncryptId
        in: path
        description: qcIdOrEncryptId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcPpmGetRequestPayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    post:
      tags:
      - qc-controller
      summary: createPpm
      operationId: createPpmUsingPOST
      parameters:
      - name: qcId
        in: path
        description: qcId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QcPpmCreateRequestPayload'
        description: requestPayload
        required: true
    put:
      tags:
      - qc-controller
      summary: updatePpm
      operationId: updatePpmUsingPUT
      parameters:
      - name: qcId
        in: path
        description: qcId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QcPpmUpdateRequestPayload'
        description: requestPayload
        required: true
  /api/v1/path/generic_qc/qc-excel-query:
    get:
      tags:
      - qc-controller
      summary: getQcExcelQuery
      operationId: getQcExcelQueryUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: stepIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: stepsList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: zoneOffset
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/path/generic_qc/qcAssigneeHistory:
    get:
      tags:
      - qc-controller
      summary: qcAssigneeHistory
      operationId: qcAssigneeHistoryUsingGET
      parameters:
      - name: calendarDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: cityList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: endDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: externalReport
        in: query
        required: false
        schema:
          type: boolean
      - name: forRm
        in: query
        required: false
        schema:
          type: boolean
      - name: isActivityRecorded
        in: query
        required: false
        schema:
          type: boolean
      - name: isDelayed
        in: query
        required: false
        schema:
          type: boolean
      - name: isReportEditable
        in: query
        required: false
        schema:
          type: boolean
      - name: jobName
        in: query
        required: false
        schema:
          type: string
      - name: leadIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: location
        in: query
        required: false
        schema:
          type: boolean
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerIdList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: orderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcCompletionDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcCompletionDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateEnd
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDateStart
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcDelayDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcExecutiveIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: qcId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: qcIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: rmId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: startDueDate
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: stateList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
[...]
