openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Order V 2 Controller API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: order-v-2-controller
  description: Order V 2 Controller
paths:
  /api/v2/new/orders/CreateOrder:
    post:
      tags:
      - order-v-2-controller
      summary: createOrderV2
      operationId: createOrderV2UsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEntireOrderResponseDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderV2RequestPayload'
        description: orderRequestPayload
        required: true
    put:
      tags:
      - order-v-2-controller
      summary: createExtendedOrderV2
      operationId: createExtendedOrderV2UsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponsePayload'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderV2RequestPayload'
        description: orderRequestPayload
        required: true
  /api/v2/new/orders/GetHistory/{orderId}/{type}:
    get:
      tags:
      - order-v-2-controller
      summary: getOrderDocTypeHistory
      operationId: getOrderDocTypeHistoryUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      - name: type
        in: path
        description: type
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderDocTypeHistoryResponsePayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/GetOrder:
    post:
      tags:
      - order-v-2-controller
      summary: getOrder
      operationId: getOrderUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponsePayload'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrderRequestPayload'
        description: requestPayload
        required: true
  /api/v2/new/orders/GetOrderMargin/{orderId}:
    get:
      tags:
      - order-v-2-controller
      summary: getOrderMargin
      operationId: getOrderMarginUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderMarginDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/UpdateOrder:
    put:
      tags:
      - order-v-2-controller
      summary: updateOrderV2
      operationId: updateOrderV2UsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponsePayload'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderV2RequestPayload'
        description: orderRequestPayload
        required: true
  /api/v2/new/orders/UpdateOrderDates:
    put:
      tags:
      - order-v-2-controller
      summary: UpdateOrderDates
      operationId: UpdateOrderDatesUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatesSubOrderRequestPayload'
        description: requestPayload
        required: true
  /api/v2/new/orders/addComment:
    put:
      tags:
      - order-v-2-controller
      summary: addComment
      operationId: addCommentUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WfStepOrderMapDtoV1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCommentRequestPayload'
        description: payload
        required: true
  /api/v2/new/orders/address/{orderId}:
    get:
      tags:
      - order-v-2-controller
      summary: getOrderAddresses
      operationId: getOrderAddressesUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/buyer/pos/{orderId}:
    get:
      tags:
      - order-v-2-controller
      summary: getBuyerPos
      operationId: getBuyerPosUsingGET_2
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderDetailBuyerPODocWithOrdersDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/cancel:
    put:
      tags:
      - order-v-2-controller
      summary: cancelMultipleOrders
      operationId: cancelMultipleOrdersUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelResponsePayload'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRequestPayload'
        description: cancelRequestPayload
        required: true
  /api/v2/new/orders/cancel/{orderId}:
    put:
      tags:
      - order-v-2-controller
      summary: cancelOrder
      operationId: cancelOrderUsingPUT
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      - name: shouldCancelSubOrder
        in: path
        description: shouldCancelSubOrder
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v2/new/orders/cancel/{orderId}/{shouldCancelSubOrder}:
    put:
      tags:
      - order-v-2-controller
      summary: cancelOrder
      operationId: cancelOrderUsingPUT_1
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      - name: shouldCancelSubOrder
        in: path
        description: shouldCancelSubOrder
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v2/new/orders/change-order-sku:
    post:
      tags:
      - order-v-2-controller
      summary: changeOrderSku
      operationId: changeOrderSkuUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponsePayload'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeOrderSkuRequestPayload'
        description: requestPayload
        required: true
  /api/v2/new/orders/change-visibility/{orderEventId}:
    put:
      tags:
      - order-v-2-controller
      summary: changeVisibilityOrderEvent
      operationId: changeVisibilityOrderEventUsingPUT
      parameters:
      - name: orderEventId
        in: path
        description: orderEventId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeVisibilityOrderEventRequest'
        description: requestPayload
        required: true
  /api/v2/new/orders/changeWorkFlow:
    post:
      tags:
      - order-v-2-controller
      summary: changeWorkFlow
      operationId: changeWorkFlowUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeWorkFlowRequest'
        description: request
        required: true
  /api/v2/new/orders/checkTnaDateValidations:
    post:
      tags:
      - order-v-2-controller
      summary: checkTnaDateValidations
      operationId: checkTnaDateValidationsUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveTnaDatesOnOrderRequest'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveTnaDatesOnOrderRequest'
        description: saveTnaDatesOnOrderRequest
        required: true
  /api/v2/new/orders/copy:
    post:
      tags:
      - order-v-2-controller
      summary: copyOrder
      operationId: copyOrderUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEntireOrderResponseDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopyOrderRequestPayload'
        description: payload
        required: true
  /api/v2/new/orders/copyStepStateFromAnother/{oldWfStepOrderMapId}/{newWfStepOrderMapId}:
    post:
      tags:
      - order-v-2-controller
      summary: copyStepStateFromAnother
      operationId: copyStepStateFromAnotherUsingPOST
      parameters:
      - name: newWfStepOrderMapId
        in: path
        description: newWfStepOrderMapId
        required: true
        schema:
          type: integer
          format: int64
      - name: oldWfStepOrderMapId
        in: path
        description: oldWfStepOrderMapId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v2/new/orders/createOrdersFromExcel:
    get:
      tags:
      - order-v-2-controller
      summary: crateOrdersFromExcel
      operationId: crateOrdersFromExcelUsingGET
      parameters:
      - name: doc
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: url
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponsePayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/deleteDocOnStep:
    delete:
      tags:
      - order-v-2-controller
      summary: deleteDocOnStep
      operationId: deleteDocOnStepUsingDELETE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDocOnStepRequestPayload'
        description: requestPayload
        required: true
  /api/v2/new/orders/deleteSteps/{orderId}:
    put:
      tags:
      - order-v-2-controller
      summary: deleteSteps
      operationId: deleteStepsUsingPUT
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v2/new/orders/fetchOrdersForSimilarCostingDetails:
    post:
      tags:
      - order-v-2-controller
      summary: fetchOrdersForSimilarCostingDetails
      operationId: fetchOrdersForSimilarCostingDetailsUsingPOST
      parameters:
      - name: search
        in: query
        description: search
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchSimilarCostingOrderListRequest'
        description: fetchSimilarCostingOrderListRequest
        required: true
  /api/v2/new/orders/fix-variant-identifier-by-order-id/{orderId}:
    post:
      tags:
      - order-v-2-controller
      summary: fixVariantIdentifierByOrderId
      operationId: fixVariantIdentifierByOrderIdUsingPOST
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v2/new/orders/fix/order/margin:
    put:
      tags:
      - order-v-2-controller
      summary: fixOrderMargin
      operationId: fixOrderMarginUsingPUT
      parameters:
      - name: fixCurrencyConversion
        in: path
        description: fixCurrencyConversion
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpDashboardOrderViewDto'
        description: payload
        required: true
  /api/v2/new/orders/fix/order/margin/{fixCurrencyConversion}:
    put:
      tags:
      - order-v-2-controller
      summary: fixOrderMargin
      operationId: fixOrderMarginUsingPUT_1
      parameters:
      - name: fixCurrencyConversion
        in: path
        description: fixCurrencyConversion
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpDashboardOrderViewDto'
        description: payload
        required: true
  /api/v2/new/orders/get-similar-orders:
    get:
      tags:
      - order-v-2-controller
      summary: getSimilarOrders
      operationId: getSimilarOrdersUsingGET
      parameters:
      - name: leadId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: manufacturerId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: orderId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: skus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/getBulkUpdateOrdersList:
    get:
      tags:
      - order-v-2-controller
      summary: getBulkUpdateOrdersList
      operationId: getBulkUpdateOrdersListUsingGET
      parameters:
      - name: orderId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBulkUpdateOrderListResponsePayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/getMasterOrderFinanceCumulative:
    get:
      tags:
      - order-v-2-controller
      summary: getMasterOrderFinanceCumulative
      operationId: getMasterOrderFinanceCumulativeUsingGET_2
      parameters:
      - name: orderIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/GetMasterOrderFinanceCumulativeResponsePayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/getMasterOrderFinanceCumulative/{orderId}:
    get:
      tags:
      - order-v-2-controller
      summary: getMasterOrderFinanceCumulative
      operationId: getMasterOrderFinanceCumulativeUsingGET_1
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMasterOrderFinanceCumulativeResponsePayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/getOrderComments:
    post:
      tags:
      - order-v-2-controller
      summary: getOrderComments
      operationId: getOrderCommentsUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetOrderCommentsDTO'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrderRequestPayload'
        description: getOrderRequestPayload
        required: true
  /api/v2/new/orders/getOrderTnaBeforeCreation:
    post:
      tags:
      - order-v-2-controller
      summary: getOrderTnaBeforeCreation
      operationId: getOrderTnaBeforeCreationUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderTnaBeforeCreateResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrderTnaBeforeCreateRequest'
        description: getOrderTnaBeforeCreateRequest
        required: true
  /api/v2/new/orders/getSkuOrderCostings/{sku}:
    get:
      tags:
      - order-v-2-controller
      summary: getSkuOrderCostings
      operationId: getSkuOrderCostingsUsingGET
      parameters:
      - name: sku
        in: path
        description: sku
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderCostDetailsDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/having-costings/{sku}:
    get:
      tags:
      - order-v-2-controller
      summary: getCostings
      operationId: getCostingsUsingGET
      parameters:
      - name: sku
        in: path
        description: sku
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/logistics/details:
    put:
      tags:
      - order-v-2-controller
      summary: updateMultiLogisticsDetails
      operationId: updateMultiLogisticsDetailsUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderLogisticsDetailRequestPayload'
        description: requestPayload
        required: true
  /api/v2/new/orders/margin-formulas:
    get:
      tags:
      - order-v-2-controller
      summary: getOrderMarginFormula
      operationId: getOrderMarginFormulaUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarginFormulaDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/markSampleDead:
    post:
      tags:
      - order-v-2-controller
      summary: markSampleDead
      operationId: markSampleDeadUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkSampleDeadRequestPayload'
        description: requestPayload
        required: true
  /api/v2/new/orders/migrateMultipleBuyerPo:
    post:
      tags:
      - order-v-2-controller
      summary: migrateMultipleBuyerPo
      operationId: migrateMultipleBuyerPoUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v2/new/orders/moveOrderFromDraftToVp/{orderId}:
    post:
      tags:
      - order-v-2-controller
      summary: moveOrderFromDraft
      operationId: moveOrderFromDraftUsingPOST
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v2/new/orders/moveOrderToFinancePending/{orderId}:
    post:
      tags:
      - order-v-2-controller
      summary: moveOrderToFinancePending
      operationId: moveOrderToFinancePendingUsingPOST
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v2/new/orders/orderCostOptions:
    get:
      tags:
      - order-v-2-controller
      summary: getOrderCostOptions
      operationId: getOrderCostOptionsUsingGET
      parameters:
      - name: field
        in: query
        description: field
        required: true
        schema:
          type: string
      - name: search
        in: query
        description: search
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/po/types:
    get:
      tags:
      - order-v-2-controller
      summary: indexPoTypes
      operationId: indexPoTypesUsingGET
      parameters:
      - name: search
        in: query
        description: search
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/qc-docs/{orderId}:
    get:
      tags:
      - order-v-2-controller
      summary: getQcDocsOnOrder
      operationId: getQcDocsOnOrderUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QcDocsOnOrderUpdateResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    put:
      tags:
      - order-v-2-controller
      summary: updateQcDocsOnOrder
      operationId: updateQcDocsOnOrderUsingPUT
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QcDocsOnOrderUpdateRequest'
        description: requestPayload
        required: true
  /api/v2/new/orders/restore/{orderId}:
    put:
      tags:
      - order-v-2-controller
      summary: restoreOrder
      operationId: restoreOrderUsingPUT
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v2/new/orders/sample/{leadId}/{skuId}:
    get:
      tags:
      - order-v-2-controller
      summary: getSamples
      operationId: getSamplesUsingGET
      parameters:
      - name: leadId
        in: path
        description: leadId
        required: true
        schema:
          type: integer
          format: int64
      - name: skuId
        in: path
        description: skuId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int64
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/saveTnaDatesOnOrder/{orderId}:
    post:
      tags:
      - order-v-2-controller
      summary: saveTnaDatesOnOrder
      operationId: saveTnaDatesOnOrderUsingPOST
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveTnaDatesOnOrderRequest'
        description: saveTnaDatesOnOrderRequest
        required: true
  /api/v2/new/orders/sku/{sku}/checkApprovalStatus:
    get:
      tags:
      - order-v-2-controller
      summary: checkApprovalStatusForSku
      operationId: checkApprovalStatusForSkuUsingGET
      parameters:
      - name: sku
        in: path
        description: sku
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/sku/{sku}/updateApprovalStatus:
    put:
      tags:
      - order-v-2-controller
      summary: updateApprovalStatusForSku
      operationId: updateApprovalStatusForSkuUsingPUT
      parameters:
      - name: sku
        in: path
        description: sku
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v2/new/orders/split/{orderId}:
    post:
      tags:
      - order-v-2-controller
      summary: splitOrder
      operationId: splitOrderUsingPOST
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEntireOrderResponseDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitOrderRequestPayload'
        description: splitOrderRequestPayload
        required: true
  /api/v2/new/orders/unmarkSampleDead:
    post:
      tags:
      - order-v-2-controller
      summary: unmarkSampleDead
      operationId: unmarkSampleDeadUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnmarkSampleDeadRequestPayload'
        description: requestPayload
        required: true
  /api/v2/new/orders/updateStyleCode:
    put:
      tags:
      - order-v-2-controller
      summary: updateStyleCode
      operationId: updateStyleCodeUsingPUT
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderUpdateDTO'
        description: orderUpdateDTO
        required: true
  /api/v2/new/orders/{orderId}/additional-po-documents:
    get:
      tags:
      - order-v-2-controller
      summary: getAdditionalPoDocuments
      operationId: getAdditionalPoDocumentsUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderDocDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/{orderId}/allow-shipment:
    get:
      tags:
      - order-v-2-controller
      summary: allowShipment
      operationId: allowShipmentUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/{orderId}/convert-to-sub-order:
    put:
      tags:
      - order-v-2-controller
      summary: convertMasterOrderToSubOrder
      operationId: convertMasterOrderToSubOrderUsingPUT
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericMessageResponsePayload'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertToSubOrderRequestPayload'
        description: payload
        required: true
  /api/v2/new/orders/{orderId}/costing-pdf-data:
    get:
      tags:
      - order-v-2-controller
      summary: getCostingPdfData
      operationId: getCostingPdfDataUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCostPdfDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/{orderId}/get-qr:
    get:
      tags:
      - order-v-2-controller
      summary: getQr
      operationId: getQrUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/{orderId}/getOrderCostDetails:
    get:
      tags:
      - order-v-2-controller
      summary: getOrderCostDetailsDto
      operationId: getOrderCostDetailsDtoUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCostDetailsDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/{orderId}/logisticCostConsideration:
    get:
      tags:
      - order-v-2-controller
      summary: getLogisticCostConsideration
      operationId: getLogisticCostConsiderationUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/{orderId}/logistics/details:
    get:
      tags:
      - order-v-2-controller
      summary: updateLogisticsDetails
      operationId: updateLogisticsDetailsUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderLogisticsDetailDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    put:
      tags:
      - order-v-2-controller
      summary: updateLogisticsDetails
      operationId: updateLogisticsDetailsUsingPUT
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderLogisticsDetailDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderLogisticsDetailDto'
        description: requestPayload
        required: true
  /api/v2/new/orders/{orderId}/logistics/details/approval/view:
    get:
      tags:
      - order-v-2-controller
      summary: getLogisticsDetailApprovalView
      operationId: getLogisticsDetailApprovalViewUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderLogisticsDetailsVpFinanceViewDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/{orderId}/manufacturer/agreement/details:
    get:
      tags:
      - order-v-2-controller
      summary: getAgreementRelatedManufacturerDetails
      operationId: getAgreementRelatedManufacturerDetailsUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementRelatedManufacturerDetailsDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    put:
      tags:
      - order-v-2-controller
      summary: updateAgreementRelatedManufacturerDetails
      operationId: updateAgreementRelatedManufacturerDetailsUsingPUT
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementRelatedManufacturerDetailsDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgreementRelatedManufacturerDetailsDto'
        description: relatedManufacturerDetailsDto
        required: true
  /api/v2/new/orders/{orderId}/manufacturer/type/options:
    get:
      tags:
      - order-v-2-controller
      summary: getAgreementRelatedManufacturerTypeOptions
      operationId: getAgreementRelatedManufacturerTypeOptionsUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgreementRelatedManufacturerTypesDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v2/new/orders/{orderId}/raw/material/cost:
    put:
      tags:
      - order-v-2-controller
      summary: updateRawMaterialCost
      operationId: updateRawMaterialCostUsingPUT
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v2/new/orders/{orderId}/update/billing/address:
    put:
      tags:
      - order-v-2-controller
      summary: updateBillingAddress
      operationId: updateBillingAddressUsingPUT
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressSubmitResponsePayload'
  /api/v2/new/orders/{orderId}/updateOrderCostDetails:
    put:
      tags:
      - order-v-2-controller
      summary: updateSampleCosting
      operationId: updateSampleCostingUsingPUT
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCostDetailsDto'
        description: orderCostDetails
        required: true
  /api/v2/new/orders/{orderId}/updateVariantPackagingStatus:
    post:
      tags:
      - order-v-2-controller
      summary: updateVariantPackagingStatus
      operationId: updateVariantPackagingStatusUsingPOST
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    ChangeWorkFlowRequest:
      type: object
      properties:
        due_date:
          type: integer
          format: int64
        order_ids:
          type: array
          items:
            type: integer
            format: int64
        wf_template_id:
          type: integer
          format: int64
      title: ChangeWorkFlowRequest
    ProcessStepsDto:
      type: object
      properties:
        advance_percentage_comments:
          type: string
        approval_status:
          type: string
        audit_status:
          type: string
        buffer_date:
          type: string
          format: date-time
        buyer_advance_payment:
          type: integer
          format: int64
        buyer_advance_percentage:
          type: integer
          format: int64
        comments:
          type: object
        completion_date:
          type: string
          format: date-time
        copy_state_as_master:
          type: boolean
        due_date:
          type: string
          format: date-time
        factory_advance_payment:
          type: integer
          format: int64
        factory_advance_percentage:
          type: integer
          format: int64
        initial_due_date:
          type: integer
          format: int64
        is_tna_update:
          type: boolean
        is_valid:
          type: boolean
        order_id:
          type: integer
          format: int64
        pending:
          type: boolean
        pending_buffer_date:
          type: integer
          format: int64
        qc:
          type: boolean
        qc_payload:
          type: object
        require_approval:
          type: string
        require_due_date:
          type: string
        status:
          type: string
        step_display_order:
          type: integer
          format: int32
        step_name:
          type: string
        step_success_criteria:
          type: string
        step_template_id:
          type: integer
          format: int64
        validation_failure_reasons:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              additionalProperties:
                type: object
        visible_to_client:
          type: string
        visible_to_manufacturer:
          type: string
        wf_template_id:
          type: integer
          format: int64
        workflow_step_order_map_id:
          type: integer
          format: int64
      title: ProcessStepsDto
    QcAbortDocDto:
      type: object
      properties:
        alias:
          type: string
        id:
          type: integer
          format: int64
        url:
          type: string
      title: QcAbortDocDto
    ManufacturerDirectorDto:
      type: object
      properties:
        aadhar_no:
          type: string
        aadhar_no_doc:
          $ref: '#/components/schemas/DocDetailsDto'
        aadhar_no_doc_id:
          type: integer
          format: int64
        din:
          type: string
        dpin:
          type: string
        father_name:
          type: string
        id:
          type: integer
          format: int64
        is_primary:
          type: boolean
        name:
          type: string
        pan:
          type: string
        pan_doc:
          $ref: '#/components/schemas/DocDetailsDto'
        pan_doc_id:
          type: integer
          format: int64
        passport_no:
          type: string
      title: ManufacturerDirectorDto
    UnmarkSampleDeadRequestPayload:
      type: object
      properties:
        sample_ids:
          type: array
          items:
            type: integer
            format: int64
      title: UnmarkSampleDeadRequestPayload
    UpdateDatesSubOrderRequestPayload:
      type: object
      properties:
        buyer_handover_date:
          type: integer
          format: int64
        confirmation_date:
          type: string
          format: date-time
        copy_dates_on_suborder_list:
          type: array
          items:
            type: integer
            format: int64
        eta_date:
          type: string
          format: date-time
        eta_date_change_reason:
          type: string
        eta_date_change_reason_document:
          type: string
        factory_eta_date:
          type: string
          format: date-time
        factory_handover_date:
          type: integer
          format: int64
        master_order_id:
          type: integer
          format: int64
      title: UpdateDatesSubOrderRequestPayload
    PiChangeDataDto:
      type: object
      properties:
        previous_value:
          type: string
      title: PiChangeDataDto
    BrandVpDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        vp_email:
          type: string
        vp_id:
          type: integer
          format: int64
        vp_name:
          type: string
      title: BrandVpDto
    PoChangeTypeDto:
      type: object
      properties:
        added:
          $ref: '#/components/schemas/PoChangeDataDto'
        modify:
          $ref: '#/components/schemas/PoChangeDataDto'
        subtracted:
          $ref: '#/components/schemas/PoChangeDataDto'
      title: PoChangeTypeDto
    QCLineDetailsDto:
      type: object
      properties:
        allowed_values:
          type: array
          items:
            type: string
        allowed_values_v2:
          type: array
          items:
            type: string
        comment:
          type: string
        doc_alias:
          type: string
        doc_details:
          $ref: '#/components/schemas/DocDetailsDto'
        doc_id:
          type: integer
          format: int64
        doc_mandatory:
          type: string
        doc_required:
          type: boolean
        doc_type:
          type: string
        input_value:
          type: string
        is_template_question:
          type: boolean
        name:
          type: string
        parent_question:
          type: integer
          format: int64
        phase:
          type: string
        phase_rank:
          type: integer
          format: int64
        qc_line_item_id:
          type: integer
          format: int64
        qc_line_template_id:
          type: integer
          format: int64
        question:
          type: string
        show_on_value:
          type: string
        uploaded_doc_type:
          type: string
        value_type:
          type: string
        video_enabled:
          type: boolean
      title: QCLineDetailsDto
    GeniemodeEntityTags:
      type: object
      required:
      - geniemodeEntity
      - tag
      properties:
        createdBy:
          type: string
        geniemodeEntity:
          $ref: '#/components/schemas/GeniemodeEntity'
        id:
          type: integer
          format: int64
        tag:
          type: string
      title: GeniemodeEntityTags
    QcSamplingItemDto:
      type: object
      properties:
        alias:
          type: string
        cue_point:
          $ref: '#/components/schemas/QcCuePointDto'
        id:
          type: integer
          format: int64
        image_url:
          type: string
        kind_of_defect:
          type: string
        other_defect:
          type: string
        other_visual_defect:
          type: string
        packing_defect_type:
          type: string
        reason_for_failure:
          type: string
        status:
          type: string
        type_of_defect:
          type: string
        visual_defect_category:
          type: string
        visual_defect_desc:
          type: string
      title: QcSamplingItemDto
    OrderRmLogisticsCostResponsePayload:
      type: object
      properties:
        acceptable_cost_of:
          type: string
        currency:
          type: string
        currency_price:
          type: number
        delivery_charges:
          type: number
        dollar_price:
          type: number
        factory_dollar_price:
          type: number
        freight_cost:
          type: number
        logistic_cost:
          type: number
        logistic_cost_per_piece:
          type: number
        logistic_cost_type:
          type: string
        order_id:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
      title: OrderRmLogisticsCostResponsePayload
    PacketVariants:
      type: object
      required:
      - packet
      - variant
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        locked:
          type: boolean
        packet:
          $ref: '#/components/schemas/Packet'
        quantity:
          type: integer
          format: int64
        variant:
          $ref: '#/components/schemas/Variant'
      title: PacketVariants
    ManufacturerAgreementDetails:
      type: object
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        indiaEntityBuySellModelAgreementApprovalDate:
          type: integer
          format: int64
        indiaEntityBuySellModelAgreementDocUrl:
          type: string
        indiaEntityBuySellModelAgreementJson:
          type: string
        indiaEntityBuySellModelAgreementLocation:
          type: string
        indiaEntityBuySellModelAgreementSignatureDocUrl:
          type: string
        indiaEntityCommissionModelAgreementApprovalDate:
          type: integer
          format: int64
        indiaEntityCommissionModelAgreementDocUrl:
          type: string
        indiaEntityCommissionModelAgreementJson:
          type: string
        indiaEntityCommissionModelAgreementLocation:
          type: string
        indiaEntityCommissionModelAgreementSignatureDocUrl:
          type: string
        manufacturerDetail:
          $ref: '#/components/schemas/Manufacturer'
        ukEntityBuySellModelAgreementApprovalDate:
          type: integer
          format: int64
        ukEntityBuySellModelAgreementDocUrl:
          type: string
        ukEntityBuySellModelAgreementJson:
          type: string
        ukEntityBuySellModelAgreementLocation:
          type: string
        ukEntityBuySellModelAgreementSignatureDocUrl:
          type: string
        ukEntityCommissionModelAgreementApprovalDate:
          type: integer
          format: int64
        ukEntityCommissionModelAgreementDocUrl:
          type: string
        ukEntityCommissionModelAgreementJson:
          type: string
        ukEntityCommissionModelAgreementLocation:
          type: string
        ukEntityCommissionModelAgreementSignatureDocUrl:
          type: string
        usEntityBuySellModelAgreementApprovalDate:
          type: integer
          format: int64
        usEntityBuySellModelAgreementDocUrl:
          type: string
        usEntityBuySellModelAgreementJson:
          type: string
        usEntityBuySellModelAgreementLocation:
          type: string
        usEntityBuySellModelAgreementSignatureDocUrl:
          type: string
        usEntityCommissionModelAgreementApprovalDate:
          type: integer
          format: int64
        usEntityCommissionModelAgreementDocUrl:
          type: string
        usEntityCommissionModelAgreementJson:
          type: string
        usEntityCommissionModelAgreementLocation:
          type: string
        usEntityCommissionModelAgreementSignatureDocUrl:
          type: string
      title: ManufacturerAgreementDetails
    VariantBuyerPoMapping:
      type: object
      required:
      - orderBuyerPo
      - variant
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        lockedQuantity:
          type: integer
          format: int64
        orderBuyerPo:
          $ref: '#/components/schemas/OrderBuyerPo'
        quantity:
          type: integer
          format: int64
        variant:
          $ref: '#/components/schemas/Variant'
      title: VariantBuyerPoMapping
    UpdateOrderStepBulkCombinePayload:
      type: object
      properties:
        comment:
          type: string
        doc_id:
          type: integer
          format: int64
      title: UpdateOrderStepBulkCombinePayload
    OrderConversionDto:
      type: object
      properties:
        conversion_rate:
          type: number
        currency:
          type: string
        currency_conversion_date:
          type: string
          format: date-time
        factory_conversion:
          type: number
        factory_conversion_date:
          type: string
          format: date-time
        factory_currency:
          type: string
        order_id:
          type: integer
          format: int64
        style_code:
          type: string
      title: OrderConversionDto
    FinalInvoiceInInvoiceDto:
      type: object
      properties:
        comment:
          type: string
        discount:
          $ref: '#/components/schemas/FinalInvoiceDiscountDto'
        grn_doc_url:
          type: string
        grn_status:
          type: string
        id:
          type: integer
          format: int64
        invoice_doc_url:
          type: string
        invoice_no:
          type: string
        pod_doc_url:
          type: string
        raised_on_timestamp:
          type: integer
          format: int64
        status:
          type: string
        total_amount:
          type: number
      title: FinalInvoiceInInvoiceDto
    QcStage:
      type: object
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        name:
          type: string
      title: QcStage
    PiResponsePayloadDto:
      type: object
      properties:
        acc_no:
          $ref: '#/components/schemas/PiMapPayloadDto'
        account_holder_name:
          $ref: '#/components/schemas/PiMapPayloadDto'
        bank_address:
          $ref: '#/components/schemas/PiMapPayloadDto'
        bank_details:
          $ref: '#/components/schemas/PiMapPayloadDto'
        bank_name:
          $ref: '#/components/schemas/PiMapPayloadDto'
        bill_to:
          $ref: '#/components/schemas/PiMapPayloadDto'
        brand:
          $ref: '#/components/schemas/PiMapPayloadDto'
        buyer_currency:
          $ref: '#/components/schemas/PiMapPayloadDto'
        buyer_gst_in:
          $ref: '#/components/schemas/PiMapPayloadDto'
        buyer_po_list:
          $ref: '#/components/schemas/PiMapPayloadDto'
        buyer_po_no:
          $ref: '#/components/schemas/PiMapPayloadDto'
        buyer_po_received_date:
          $ref: '#/components/schemas/PiMapPayloadDto'
        buyer_terms_condition:
          $ref: '#/components/schemas/PiMapPayloadDto'
        compliance_list:
          type: array
          items:
            $ref: '#/components/schemas/PiComplianceResponsePayloadDto'
        geniemode_entity_name:
          $ref: '#/components/schemas/PiMapPayloadDto'
        insurance_charges:
          $ref: '#/components/schemas/PiMapPayloadDto'
        other_charges:
          type: array
          items:
            $ref: '#/components/schemas/piOtherChargeResponsePayloadDto'
        pi_date:
          $ref: '#/components/schemas/PiMapPayloadDto'
        pi_no:
          $ref: '#/components/schemas/PiMapPayloadDto'
        reason:
          $ref: '#/components/schemas/PiMapPayloadDto'
        single_pi_response:
          $ref: '#/components/schemas/PiListingResponsePayload'
        sku_list:
          type: array
          items:
            $ref: '#/components/schemas/PiSkuResponsePayloadDto'
        sum_of_all_other_charges:
          $ref: '#/components/schemas/PiMapPayloadDto'
        sum_of_quantity:
          $ref: '#/components/schemas/PiMapPayloadDto'
        sum_of_tax_amount:
          $ref: '#/components/schemas/PiMapPayloadDto'
        sum_of_taxable_value:
          $ref: '#/components/schemas/PiMapPayloadDto'
        sum_of_total_value:
          $ref: '#/components/schemas/PiMapPayloadDto'
        supplier_gst_in:
          $ref: '#/components/schemas/PiMapPayloadDto'
        total_cgst_amount:
          $ref: '#/components/schemas/PiMapPayloadDto'
        total_gst_amount:
          $ref: '#/components/schemas/PiMapPayloadDto'
        total_igst_amount:
          $ref: '#/components/schemas/PiMapPayloadDto'
        total_invoice_value:
          $ref: '#/components/schemas/PiMapPayloadDto'
        total_sgst_amount:
          $ref: '#/components/schemas/PiMapPayloadDto'
        total_tax_amount:
          $ref: '#/components/schemas/PiMapPayloadDto'
      title: PiResponsePayloadDto
    OrderCostDetailsDto:
      type: object
      properties:
        buyer_currency:
          type: string
        changed_shipment_mode:
          type: string
        cm_cost:
          type: number
        company_name:
          type: string
        docs_mandatory:
          type: boolean
        fabric_cost:
          type: array
          items:
            $ref: '#/components/schemas/FabricCostDto'
        factory_currency:
          type: string
        factory_margin_amount:
          type: number
        factory_margin_percentage:
          type: number
        finance_approval_date:
          type: string
          format: date-time
        finishing_charges:
          type: number
        handling_charges:
          type: number
        margin_amount:
          type: number
        margin_percentage:
          type: number
        order_id:
          type: integer
          format: int64
        overhead_cost:
          type: number
        packaging_charges:
          type: number
        planned_shipment_mode:
          type: string
        preferred_factory:
          $ref: '#/components/schemas/ManufacturerDetailMiniDto'
        preferred_factory_costing:
          type: number
        preferred_factory_costing_docs:
          type: array
          items:
            type: string
        preferred_factory_id:
          type: integer
          format: int64
        print_embroidery_cost:
          type: array
          items:
            $ref: '#/components/schemas/OrderCostItemDto'
        testing_charges:
          type: number
        total_fabric_cost:
          type: number
        trim_cost:
          type: array
          items:
            $ref: '#/components/schemas/OrderCostItemDto'
        washing_cost:
          type: array
          items:
            $ref: '#/components/schemas/OrderCostItemDto'
      title: OrderCostDetailsDto
    ManufacturerEligibleCategories:
      type: object
      properties:
        category:
          type: string
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        manufacturer:
          $ref: '#/components/schemas/Manufacturer'
      title: ManufacturerEligibleCategories
    OrderWiseApprovalReason:
      type: object
      properties:
        approval_reasons:
          type: array
          items:
            type: string
        order_id:
          type: integer
          format: int64
      title: OrderWiseApprovalReason
    SingleQcDocsOnOrderUpdateResponse:
      type: object
      properties:
        doc:
          $ref: '#/components/schemas/DocDto'
        doc_type:
          type: string
      title: SingleQcDocsOnOrderUpdateResponse
    ShipmentHopDto:
      type: object
      properties:
        actual_date:
          type: integer
          format: int64
        delay:
          type: integer
          format: int64
        hide:
          type: boolean
        id:
          type: integer
          format: int64
        last_modified_at:
          type: integer
          format: int64
        position:
          type: integer
          format: int32
        projection_date:
          type: integer
          format: int64
        remark:
          type: string
        shipment_docs:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentDocDto'
        status:
          type: string
          enum:
          - booked
          - complete
          - deliveryDate
          - paymentFollowup
          - preplanned
          - shipped
        status_change_date:
          type: integer
          format: int64
      title: ShipmentHopDto
    WfTemplateDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        workflow_name:
          type: string
      title: WfTemplateDto
    ShipmentVariantBuyerPoMappingDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        locked:
          type: boolean
        quantity:
          type: integer
          format: int64
        variant_buyer_mapping_id:
          type: integer
          format: int64
        variant_buyer_po_mapping:
          $ref: '#/components/schemas/VariantBuyerPoMappingRequestPayload'
        variant_id:
          type: integer
          format: int64
      title: ShipmentVariantBuyerPoMappingDto
    SingleOnlineQcInspectionResponse:
      type: object
      properties:
        alias:
          type: string
        comment:
          type: string
        id:
          type: integer
          format: int64
        url:
          type: string
      title: SingleOnlineQcInspectionResponse
    GetOrderRequestPayload:
      type: object
      properties:
        base_date:
          type: string
        check_ex_factory:
          type: boolean
        check_order_confirmation:
          type: boolean
        line_variables:
          type: boolean
        order_id:
          type: integer
          format: int64
        step_name:
          type: string
      title: GetOrderRequestPayload
    OrderManufacturerAssignee:
      type: object
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        manufacturerAssigneeId:
          type: integer
          format: int64
        order:
          $ref: '#/components/schemas/OrderDetail'
      title: OrderManufacturerAssignee
    VpDashboardOrderCostDetailsDto:
      type: object
      properties:
        changed_shipment_mode:
          type: string
        cm_cost:
          type: number
        factory_margin_amount:
          type: number
        factory_margin_percentage:
          type: number
        final_price_quoted_to_buyer_in_buyer_currency:
          type: number
        final_price_quoted_to_buyer_in_factory_currency:
          type: number
        finishing_charges:
          type: number
        handling_charges:
          type: number
        margin_amount:
          type: number
        margin_percentage:
          type: number
        order_id:
          type: integer
          format: int64
        overhead_cost:
          type: number
        packaging_charges:
          type: number
        planned_shipment_mode:
          type: string
        sku:
          type: string
        sku_img:
          type: array
          items:
            $ref: '#/components/schemas/SkuIdUrlResponse'
        testing_charges:
          type: number
        total_direct_cost:
          type: number
        total_fabric_cost:
          type: number
        total_factory_cost:
          type: number
        total_factory_price:
          type: number
        total_print_embroidery_cost:
          type: number
        total_trim_cost:
          type: number
        total_washing_cost:
          type: number
      title: VpDashboardOrderCostDetailsDto
    OrderAddressDto:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/AddressResponsePayload'
        address_id:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
      title: OrderAddressDto
    OrderAudit:
      type: object
      properties:
        created_by:
          type: string
        id:
          type: integer
          format: int64
        order:
          $ref: '#/components/schemas/OrderDetail'
        total_audit_failed:
          type: integer
          format: int64
        total_audit_passed:
          type: integer
          format: int64
      title: OrderAudit
    QcDocsOnOrderUpdateRequest:
      type: object
      properties:
        docs:
          type: array
          items:
            $ref: '#/components/schemas/SingleQcDocsOnOrderUpdateRequest'
      title: QcDocsOnOrderUpdateRequest
    CancelResponsePayload:
      type: object
      properties:
        failed_orders:
          type: array
          items:
            type: integer
            format: int64
        failure_reason:
          type: object
          additionalProperties:
            type: string
        success_orders:
          type: array
          items:
            type: integer
            format: int64
      title: CancelResponsePayload
    Pair_string_string:
      type: object
      properties:
        key:
          type: string
        left:
          type: string
        right:
          type: string
        value:
          type: string
      title: Pair«string,string»
    OnlineQcInspectionResponse:
      type: object
      properties:
        inspection_list:
          type: array
          items:
            $ref: '#/components/schemas/SingleOnlineQcInspectionResponse'
      title: OnlineQcInspectionResponse
    PoSkusMapping:
      type: object
      properties:
        buyer_po_number:
          $ref: '#/components/schemas/PoMapPayloadDto'
        id:
          $ref: '#/components/schemas/PoMapPayloadDto'
        quantity:
          $ref: '#/components/schemas/PoMapPayloadDto'
      title: PoSkusMapping
    PoListDeliveryAddressDto:
      type: object
      properties:
        address_id:
          type: integer
          format: int64
        delivery_address:
          $ref: '#/components/schemas/PoMapPayloadDto'
        delivery_contact:
          $ref: '#/components/schemas/PoMapPayloadDto'
      title: PoListDeliveryAddressDto
    ShipmentDocDto:
      type: object
      properties:
        document_type:
          type: string
        document_url:
          type: string
        id:
          type: integer
          format: int64
      title: ShipmentDocDto
    ChangeOrderSkuRequestPayload:
      type: object
      properties:
        order_id:
          type: integer
          format: int64
        sku:
          type: string
      title: ChangeOrderSkuRequestPayload
    QcDetailResponseDto:
      type: object
      properties:
        address_id:
          type: integer
          format: int64
        assignee_data:
          $ref: '#/components/schemas/UMSUserResponsePayload'
        assignee_id:
          type: integer
          format: int64
        buyer_days:
          type: integer
          format: int64
        buyer_pos:
          type: array
          items:
            $ref: '#/components/schemas/OrderDetailBuyerPODocWithOrdersDto'
        change_tna_request:
          $ref: '#/components/schemas/CreateTnaResponsePayload'
        city:
          type: string
        company_name:
          type: string
        confirmation_date:
          type: string
          format: date-time
        created_by:
          type: string
        date_created:
          type: string
          format: date-time
        date_update:
          type: string
          format: date-time
        delivery_date:
          type: string
          format: date-time
        description:
          type: string
        due_date:
          type: string
          format: date-time
        financial_status:
          type: string
        images:
          type: array
          items:
            type: string
        initial_due_date:
          type: string
          format: date-time
        lead_page_dto:
          $ref: '#/components/schemas/LeadPageDTO'
        manufacturer_days:
          type: integer
          format: int64
        manufacturer_id:
          type: integer
          format: int64
        manufacturer_name:
          type: string
        margin_data:
          $ref: '#/components/schemas/OrderMargin'
        name:
          type: string
        ops_assignee_data:
          $ref: '#/components/schemas/UMSUserResponsePayload'
        ops_assignee_id:
          type: integer
          format: int64
        order_id:
          type: integer
          format: int64
        order_status:
          type: string
        order_type:
          type: string
        parent_order_id:
          type: integer
          format: int64
        payment_doc:
          $ref: '#/components/schemas/OrderDocDto'
        po:
          $ref: '#/components/schemas/CreatePoRequestPayload'
        po_doc:
          $ref: '#/components/schemas/OrderDocDto'
        price:
          type: number
        product_description:
          type: string
        quantity:
          type: integer
          format: int64
        request_time:
          type: string
          format: date-time
        rm_name:
          type: string
        shipment_mode:
          type: string
        sku_data:
          type: object
        sku_id:
          type: string
        state:
          type: string
        status:
          type: string
        step_name:
          type: string
        style_code:
          type: string
        total_no_of_styles:
          type: integer
          format: int64
        variants:
          type: array
          items:
            $ref: '#/components/schemas/VariantResponseInQcPayload'
        wf_template_id:
          type: integer
          format: int64
        workflow_status:
          type: string
      title: QcDetailResponseDto
    GetLeadBuyerRiskResponse:
      type: object
      properties:
        approval_status:
          type: string
        approved_amount:
          type: number
        company_name:
          type: string
        lms_projection:
          type: number
        order_amount:
          type: number
      title: GetLeadBuyerRiskResponse
    SampleOrderMapping:
      type: object
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        order:
          $ref: '#/components/schemas/OrderDetail'
        sample:
          $ref: '#/components/schemas/OrderDetail'
      title: SampleOrderMapping
    CopyOrderRequestPayload:
      type: object
      properties:
        copy_from_order_id:
          type: integer
          format: int64
        parent_order_id:
          type: integer
          format: int64
        steps:
          type: array
          items:
            $ref: '#/components/schemas/ProcessStepsDto'
      title: CopyOrderRequestPayload
    PoMapPayloadDto:
      type: object
      properties:
        change_type:
          $ref: '#/components/schemas/PoChangeTypeDto'
        value:
          type: string
      title: PoMapPayloadDto
    WfTemplate:
      type: object
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        rmId:
          type: integer
          format: int64
        type:
          type: string
        workflowName:
          type: string
      title: WfTemplate
    FabricCostDto:
      type: object
      properties:
        cost:
          type: number
        product_fabric_id:
          type: integer
          format: int64
        product_fabric_mill_name:
          type: string
        product_fabric_name:
          type: string
        product_fabric_price:
          type: number
        product_fabric_source:
          type: string
        product_fabric_source_order_id:
          type: integer
          format: int64
        product_fabric_yield:
          type: number
        product_fabric_yield_uom:
          type: string
      title: FabricCostDto
    VariantBuyerPoMappingResponsePayload:
      type: object
      properties:
        created_at:
          type: integer
          format: int64
        created_by:
          type: string
        id:
          type: integer
          format: int64
        last_modified_at:
          type: integer
          format: int64
        last_modified_by:
          type: string
        locked_quantity:
          type: integer
          format: int64
        order_buyer_po:
          $ref: '#/components/schemas/OrderBuyerPoBaseDto'
        po_no:
          type: string
        quantity:
          type: integer
          format: int64
      title: VariantBuyerPoMappingResponsePayload
    OrderWiseMarginPayload:
      type: object
      properties:
        net_margin:
          type: number
        order_id:
          type: integer
          format: int64
        sku:
          type: string
        style_code:
          type: string
      title: OrderWiseMarginPayload
    GeniemodeEntityAddress:
      type: object
      required:
      - geniemodeEntity
      properties:
        addressId:
          type: integer
          format: int64
        createdBy:
          type: string
        geniemodeEntity:
          $ref: '#/components/schemas/GeniemodeEntity'
        id:
          type: integer
          format: int64
        type:
          type: string
      title: GeniemodeEntityAddress
    GetOrderTnaBeforeCreateResponse:
      type: object
      properties:
        step_date_data:
          type: array
          items:
            $ref: '#/components/schemas/GetStepDateData'
      title: GetOrderTnaBeforeCreateResponse
    LeadProjectionDTO:
      type: object
      properties:
        achieved_business_value:
          type: number
        amount:
          type: integer
          format: int64
        business_size:
          type: number
        id:
          type: integer
          format: int64
        lead_probability:
          type: integer
          format: int32
        probable_completion_date:
          type: integer
          format: int64
      title: LeadProjectionDTO
    DeleteDocOnStepRequestPayload:
      type: object
      properties:
        doc_id:
          type: integer
          format: int64
        order_event_id:
          type: integer
          format: int64
      title: DeleteDocOnStepRequestPayload
    QcSamplingDataResponse:
      type: object
      properties:
        aql_type:
          type: string
        id:
          type: integer
          format: int64
        sample_size:
          type: integer
          format: int64
        total_no_of_pass:
          type: integer
          format: int64
        total_no_of_reject:
          type: integer
          format: int64
      title: QcSamplingDataResponse
    CourierPartner:
      type: object
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        name:
          type: string
      title: CourierPartner
    OrderLogisticDetails:
      type: object
      properties:
        created_by:
          type: string
        ctns:
          type: string
        id:
          type: integer
          format: int64
        logistics_cost_by_logistics:
          $ref: '#/components/schemas/OrderLogisticCosts'
        management_approval_url:
          type: string
        order:
          $ref: '#/components/schemas/OrderDetail'
        order_logistic_docs_list:
          type: array
          items:
            $ref: '#/components/schemas/OrderLogisticDocs'
        packaging_list_url:
          type: string
        port_of_discharge:
          type: string
        port_of_loading:
          type: string
        remarks:
          type: string
        total_cbm:
          type: number
        total_ctns:
          type: number
        total_gross_weight:
          type: number
        total_net_weight:
          type: number
        total_volumetric_weight:
          type: number
      title: OrderLogisticDetails
    OrderDetailBuyerPODocResponseDto:
      type: object
      properties:
        buyer_doc:
          $ref: '#/components/schemas/OrderDocDto'
        buyer_po_id:
          type: integer
          format: int64
        buyer_po_no:
          type: string
        id:
          type: integer
          format: int64
        po_type:
          type: string
      title: OrderDetailBuyerPODocResponseDto
    AddressSubmitResponsePayload:
      type: object
      properties:
        address_line1:
          type: string
        address_line2:
          type: string
        city:
          type: string
        contact_person_name:
          type: string
        contact_person_number:
          type: string
        country:
          type: string
        entity_id:
          type: integer
          format: int64
        entity_type:
          type: string
        id:
          type: integer
          format: int64
        landmark:
          type: string
        name:
          type: string
        pincode:
          type: string
        state:
          type: string
        type:
          type: string
      title: AddressSubmitResponsePayload
    BusinessOwner:
      type: object
      properties:
        active:
          type: boolean
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        name:
          type: string
      title: BusinessOwner
    piOtherChargeResponsePayloadDto:
      type: object
      properties:
        charge:
          $ref: '#/components/schemas/PiMapPayloadDto'
        charge_type:
          $ref: '#/components/schemas/PiMapPayloadDto'
        id:
          type: integer
          format: int64
      title: piOtherChargeResponsePayloadDto
    LeadGenerationLiteResponse:
      type: object
      properties:
        brand:
          $ref: '#/components/schemas/BrandResponse'
        client_id:
          type: integer
          format: int64
        company:
          $ref: '#/components/schemas/CompanyDTO'
        country:
          type: string
        country_code:
          type: string
        created_at:
          type: string
          format: date-time
        creator_id:
          type: integer
          format: int64
        email:
          type: string
        first_name:
          type: string
        id:
          type: integer
          format: int64
        last_name:
          type: string
        lead_projection_list:
          type: array
          items:
            $ref: '#/components/schemas/LeadProjectionMiniDTO'
        name:
          type: string
        phone:
          type: string
      title: LeadGenerationLiteResponse
    OrderDetailBuyerPODocWithOrdersDto:
      type: object
      properties:
        buyer_doc:
          $ref: '#/components/schemas/OrderDocDto'
        buyer_po_id:
          type: integer
          format: int64
        buyer_po_no:
          type: string
        id:
          type: integer
          format: int64
        order_ids:
          type: array
          uniqueItems: true
          items:
            type: integer
            format: int64
        po_type:
          type: string
      title: OrderDetailBuyerPODocWithOrdersDto
    ManufacturerDocs:
      type: object
      properties:
        auditStatus:
          type: string
        auditTs:
          type: integer
          format: int64
        auditorId:
          type: integer
          format: int64
        createdBy:
          type: string
        docCategory:
          type: string
        docExpiry:
          type: integer
          format: int64
        docSubCategory:
          type: string
        docUrl:
          type: string
        id:
          type: integer
          format: int64
        manufacturer:
          $ref: '#/components/schemas/Manufacturer'
        manufacturerUnit:
          $ref: '#/components/schemas/ManufacturerUnit'
      title: ManufacturerDocs
    GeniemodeEntity:
      type: object
      properties:
        addressId:
          type: integer
          format: int64
        addressList:
          type: array
          items:
            $ref: '#/components/schemas/GeniemodeEntityAddress'
        allowManualInvoiceNo:
          type: boolean
        compliance:
          type: string
        createdBy:
          type: string
        currency:
          type: string
        id:
          type: integer
          format: int64
        invoiceDeclaration:
          type: string
        label:
          type: string
        legalName:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/GeniemodeEntityTags'
        tallyCurrency:
          type: string
        value:
          type: string
      title: GeniemodeEntity
    WfStepOrderMapDtoV1:
      type: object
      properties:
        advance_percentage_comments:
          type: string
        approval_status:
          type: string
        audit_status:
          type: string
        buffer_date:
          type: string
          format: date-time
        buyer_advance_payment:
          type: integer
          format: int64
        comments:
          type: array
          items:
            $ref: '#/components/schemas/GetOrderCommentsDTO'
        completion_date:
          type: string
          format: date-time
        due_date:
          type: string
          format: date-time
        factory_advance_payment:
          type: integer
          format: int64
        initial_due_date:
          type: string
          format: date-time
        order_id:
          type: integer
          format: int64
        pending:
          type: string
          format: date-time
        pending_buffer_date:
          type: string
          format: date-time
        qc:
          type: boolean
        qc_payload:
          type: array
          items:
            $ref: '#/components/schemas/QCResponsePayload'
        require_approval:
          type: string
        require_due_date:
          type: string
        status:
          type: string
        step_display_order:
          type: integer
          format: int64
        step_name:
          type: string
        step_success_criteria:
          type: string
        step_template_id:
          type: integer
          format: int64
        visible_to_client:
          type: string
        visible_to_manufacturer:
          type: string
        wf_template_id:
          type: integer
          format: int64
        workflow_step_order_map_id:
          type: integer
          format: int64
      title: WfStepOrderMapDtoV1
    AgreementRelatedManufacturerTypesDto:
      type: object
      properties:
        label:
          type: string
        value:
          type: string
      title: AgreementRelatedManufacturerTypesDto
    OrderLogisticsDetailDto:
      type: object
      required:
      - total_ctns
      - total_gross_weight
      properties:
        changed_shipment_mode:
          type: string
        ctns:
          type: string
        order_id:
          type: integer
          format: int64
        packaging_list_url:
          type: string
        port_of_discharge:
          type: string
        port_of_loading:
          type: string
        remarks:
          type: string
        shipment_mode:
          type: string
        total_cbm:
          type: number
        total_ctns:
          type: number
        total_gross_weight:
          type: number
        total_net_weight:
          type: number
        total_volumetric_weight:
          type: number
      title: OrderLogisticsDetailDto
    GetMasterOrderFinanceCumulativeResponsePayload:
      type: object
      properties:
        buyer_currency:
          type: string
        buyer_currency_conversion:
          type: number
        buyer_net_margin_percent_cumulative:
          type: number
        buyer_order_value_in_buyer_currency_sum:
          type: number
        buyer_order_value_in_dollar_sum:
          type: number
        buyer_order_value_in_factory_currency_total:
          type: number
        buyer_risk:
          $ref: '#/components/schemas/GetLeadBuyerRiskResponse'
        cumulative_discount_charges:
          type: number
        cumulative_discount_charges_percent:
          type: number
        cumulative_factory_discount_charges:
          type: number
        cumulative_factory_discount_charges_percent:
          type: number
        custom_duty_cumulative_amount:
          type: number
        custom_duty_cumulative_amount_logistic:
          type: number
        custom_duty_cumulative_amount_rm:
          type: number
        custom_duty_cumulative_percent:
          type: number
        custom_duty_cumulative_percent_logistic:
          type: number
        custom_duty_cumulative_percent_rm:
          type: number
        delivery_charges_cumulative_amount:
          type: number
        delivery_charges_cumulative_amount_logistic:
          type: number
        delivery_charges_cumulative_amount_rm:
          type: number
        factory_currency:
          type: string
        factory_currency_conversion:
          type: number
        factory_net_margin_percent_cumulative:
          type: number
        factory_order_value_in_buyer_currency_sum:
          type: number
        factory_order_value_in_dollar_sum:
          type: number
        factory_order_value_in_factory_currency_sum:
          type: number
        freight_cost_cumulative_amount:
          type: number
        freight_cost_cumulative_amount_logistic:
          type: number
        freight_cost_cumulative_amount_rm:
          type: number
        gross_margin_sum:
          type: number
        harbor_merchandise_fee_cumulative:
          type: number
        is_vp_reason_required:
          type: boolean
        logistic_cost_cumulative_amount:
          type: number
        logistic_cost_cumulative_amount_logistic:
          type: number
        logistic_cost_cumulative_amount_rm:
          type: number
        logistic_cost_cumulative_percent:
          type: number
        logistic_cost_cumulative_percent_logistic:
          type: number
        logistic_cost_cumulative_percent_rm:
          type: number
        logistic_cost_with_custom_duty_cumulative_amount:
          type: number
        logistic_cost_with_custom_duty_cumulative_amount_logistic:
          type: number
        logistic_cost_with_custom_duty_cumulative_amount_rm:
          type: number
        logistic_cost_with_custom_duty_cumulative_percent:
          type: number
        logistic_cost_with_custom_duty_cumulative_percent_logistic:
          type: number
        logistic_cost_with_custom_duty_cumulative_percent_rm:
          type: number
        margin_approval_doc:
          type: string
        margin_approval_doc_required:
          type: boolean
        margin_threshold:
          type: number
        model_type:
          type: string
        net_margin_percent_cumulative:
          type: number
        net_margin_percent_cumulative_logistic:
          type: number
        net_margin_percent_cumulative_rm:
          type: number
        net_margin_sum:
          type: number
        net_margin_sum_logistic:
          type: number
        net_margin_sum_rm:
          type: number
        order_conversions:
          type: array
          items:
            $ref: '#/components/schemas/OrderConversionDto'
        order_custom_duty_costs:
          type: array
          items:
            $ref: '#/components/schemas/OrderCustomDuty'
        order_hierarchy_string:
          type: string
        order_logistics_costs:
          type: array
          items:
            $ref: '#/components/schemas/OrderRmLogisticsCostResponsePayload'
        order_wise_approval_reasons:
          type: array
          items:
            $ref: '#/components/schemas/OrderWiseApprovalReason'
        order_wise_discount_charges:
          type: array
          items:
            $ref: '#/components/schemas/OrderDiscountCharges'
        order_wise_margin_payloads:
          type: array
          items:
            $ref: '#/components/schemas/OrderWiseMarginPayload'
        reason_for_margin_approval:
          type: string
        reciprocal_tariff_cumulative_amount:
          type: number
        reciprocal_tariff_cumulative_amount_logistic:
          type: number
        reciprocal_tariff_cumulative_amount_rm:
          type: number
        show_freight_keyword:
          type: boolean
        total_cbm_cumulative:
          type: number
        total_custom_duty_cumulative_amount:
          type: number
        total_custom_duty_cumulative_amount_logistic:
          type: number
        total_custom_duty_cumulative_amount_rm:
          type: number
        total_custom_duty_cumulative_percent:
          type: number
        total_custom_duty_cumulative_percent_logistic:
          type: number
        total_custom_duty_cumulative_percent_rm:
          type: number
        total_gross_weight_cumulative:
          type: number
        total_net_weight_cumulative:
          type: number
        total_proposed_quantity:
          type: integer
          format: int64
        total_quantity:
          type: integer
          format: int64
        total_volumetric_weight_cumulative:
          type: number
      title: GetMasterOrderFinanceCumulativeResponsePayload
    ManufacturerUnitOrderResponsePayload:
      type: object
      properties:
        failed_compliances:
          type: array
          uniqueItems: true
          items:
            type: string
        failure_reasons:
          type: array
          uniqueItems: true
          items:
            type: string
        id:
          type: integer
          format: int64
        is_selectable:
          type: boolean
        name:
          type: string
        passed_compliances:
          type: array
          uniqueItems: true
          items:
            type: string
        rag_rating:
          type: string
      title: ManufacturerUnitOrderResponsePayload
    OrderManufacturerAssigneeDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        manufacturer_assignee_id:
          type: integer
          format: int64
        user:
          $ref: '#/components/schemas/UMSUserResponseDTO'
      title: OrderManufacturerAssigneeDto
    ShipmentVariantBuyerPoMapping:
      type: object
      required:
      - shipmentVariant
      - variantBuyerPoMapping
      properties:
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        locked:
          type: boolean
        quantity:
          type: integer
          format: int64
        shipmentVariant:
          $ref: '#/components/schemas/ShipmentVariant'
        variantBuyerPoMapping:
          $ref: '#/components/schemas/VariantBuyerPoMapping'
      title: ShipmentVariantBuyerPoMapping
    CreateTnaResponsePayload:
      type: object
      properties:
        approval_doc:
          $ref: '#/components/schemas/DocDto'
        change_date_doc:
          $ref: '#/components/schemas/DocDto'
        comment:
          type: string
        finance_approval_status:
          type: string
        id:
          type: integer
          format: int64
        initiated_by:
          type: string
        order_id:
          type: integer
          format: int64
        penalty:
          type: string
        sub_order_tna_requests:
          type: array
          items:
            $ref: '#/components/schemas/CreateTnaResponsePayload'
        type:
          type: string
        vp_approval_status:
          type: string
      title: CreateTnaResponsePayload
    QcFinalInspectionThirdPartyResponseDto:
      type: object
      properties:
        final_report:
          $ref: '#/components/schemas/QcDocDto'
        final_report_doc_alias:
          type: string
        qc_id:
          type: integer
          format: int64
        remark:
          type: string
        temporary_doc:
          $ref: '#/components/schemas/QcDocDto'
        temporary_doc_alias:
          type: string
        variant_list:
          type: array
          items:
            $ref: '#/components/schemas/VariantRequestPayload'
      title: QcFinalInspectionThirdPartyResponseDto
    ManufacturerUnit:
      type: object
      properties:
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/ManufacturerAddress'
        auditComplete:
          type: boolean
        createdBy:
          type: string
        id:
          type: integer
          format: int64
        manufacturer:
          $ref: '#/components/schemas/Manufacturer'
        manufacturerBase:
          $ref: '#/components/schemas/ManufacturerBase'
        manufacturerDocs:
          type: array
          items:
            $ref: '#/components/schemas/ManufacturerDocs'
        noOfMachines:
          type: integer
          format: int64
        noOfWorkers:
          type: integer
          format: int64
        preferredFactory:
          type: boolean
        ragRating:
          type: string
        workerType:
          type: string
      title: ManufacturerUnit
    QcDocsOnOrderUpdateResponse:
      type: object
      properties:
        docs:
          type: array
          items:
            $ref: '#/components/schemas/SingleQcDocsOnOrderUpdateResponse'
      title: QcDocsOnOrderUpdateResponse
    VariantResponsePayload:
      type: object
      properties:
        buying_price:
          type: number
        color:
          type: string
        currency_price:
          type: number
        factory_currency_price:
          type: number
        factory_dollar_price:
          type: number
        final_currency_price:
          type: number
        final_price:
          type: number
        id:
          type: integer
          format: int64
        identifier:
          type: string
        is_quantity_same_to_proposed:
          type: boolean
        last_quantity_editor:
          type: string
        locked_quantity:
          type: integer
          format: int64
        order:
          $ref: '#/components/schemas/OrderMinifiedDto'
        packaging_status:
          type: string
          enum:
          - over_packed
          - packed
          - partially_packed
          - unpacked
        price:
          type: number
        price_locked:
          type: boolean
        proposed_quantity:
          type: integer
          format: int64
        qc_quantity:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
        quantity_finalized:
          type: boolean
        ship_qty_negative_tolerance:
          type: integer
          format: int64
        ship_qty_positive_tolerance:
          type: integer
          format: int64
        size:
          type: string
        uom:
          type: string
        variant_buyer_po_mappings:
          type: array
          items:
            $ref: '#/components/schemas/VariantBuyerPoMappingResponsePayload'
      title: VariantResponsePayload
    SkuIdUrlResponse:
      type: object
[...]
