openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Shipment Controller API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: shipment-controller
  description: Shipment Controller
paths:
  /api/v1/order/shipments/assign/bulk/shipments/{userId}:
    put:
      tags:
      - shipment-controller
      summary: assignBulkShipments
      operationId: assignBulkShipmentsUsingPUT
      parameters:
      - name: userId
        in: path
        description: userId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkShipmentAssignmentRequestPayload'
        description: bulkShipmentAssignmentRequestPayload
        required: true
  /api/v1/order/shipments/assign/{entityType}/{entityId}/{userId}:
    put:
      tags:
      - shipment-controller
      summary: getOrderShipments
      operationId: getOrderShipmentsUsingPUT_1
      parameters:
      - name: entityId
        in: path
        description: entityId
        required: true
        schema:
          type: integer
          format: int64
      - name: entityType
        in: path
        description: entityType
        required: true
        schema:
          type: string
      - name: userId
        in: path
        description: userId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v1/order/shipments/auditor-list:
    get:
      tags:
      - shipment-controller
      summary: getShipmentAuditorList
      operationId: getShipmentAuditorListUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/order/shipments/backfill/{type}:
    get:
      tags:
      - shipment-controller
      summary: backfill
      operationId: backfillUsingGET
      parameters:
      - name: type
        in: path
        description: type
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/order/shipments/checkForInvoice:
    post:
      tags:
      - shipment-controller
      summary: checkForInvoice
      operationId: checkForInvoiceUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckForInvoiceRequestPayload'
        description: checkForInvoiceRequestPayload
        required: true
  /api/v1/order/shipments/dashboard/docs:
    get:
      tags:
      - shipment-controller
      summary: getShipmentDashboardDocs
      operationId: getShipmentDashboardDocsUsingGET
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: isInvoiceId
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/OrderDocDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/order/shipments/dashboard/invoice/{invoiceId}:
    get:
      tags:
      - shipment-controller
      summary: getInvoiceShipment
      operationId: getInvoiceShipmentUsingGET
      parameters:
      - name: invoiceId
        in: path
        description: invoiceId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogisticsDashboardInvoiceShipmentResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/order/shipments/doc-types:
    get:
      tags:
      - shipment-controller
      summary: getPossibleShipmentDocTypes
      operationId: getPossibleShipmentDocTypesUsingGET
      parameters:
      - name: finalInvoiceId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: orderIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: shipmentId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentDocTypeResponsePayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/order/shipments/docs/{orderId}:
    get:
      tags:
      - shipment-controller
      summary: getShipmentDocs
      operationId: getShipmentDocsUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentHopDocsDTO'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/order/shipments/find-similar-shipment-hops:
    get:
      tags:
      - shipment-controller
      summary: findSimilarShipmentHops
      operationId: findSimilarShipmentHopsUsingGET
      parameters:
      - name: hopId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/order/shipments/hop/{docId}/removeDoc:
    put:
      tags:
      - shipment-controller
      summary: removeDocFromShipment
      operationId: removeDocFromShipmentUsingPUT
      parameters:
      - name: docId
        in: path
        description: docId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v1/order/shipments/hop/{shipmentId}/audit/{hopId}:
    put:
      tags:
      - shipment-controller
      summary: updateShipmentHopAudit
      operationId: updateShipmentHopAuditUsingPUT
      parameters:
      - name: hopId
        in: path
        description: hopId
        required: true
        schema:
          type: integer
          format: int64
      - name: shipmentId
        in: path
        description: shipmentId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShipmentHopAuditRequestPayload'
        description: updateAuditRequestPayload
        required: true
  /api/v1/order/shipments/hops/audit:
    get:
      tags:
      - shipment-controller
      summary: getShipmentHopsForAudit
      operationId: getShipmentHopsForAuditUsingGET
      parameters:
      - name: auditorList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: auditStatusList
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: documentInsertionDate
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/order/shipments/invoice/{invoiceId}/hops:
    put:
      tags:
      - shipment-controller
      summary: editInvoiceShipmentHop
      operationId: editInvoiceShipmentHopUsingPUT
      parameters:
      - name: invoiceId
        in: path
        description: invoiceId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceShipmentHopRequestPayload'
        description: invoiceShipmentHopDto
        required: true
  /api/v1/order/shipments/logistics/cost:
    get:
      tags:
      - shipment-controller
      summary: getShipmentLogisticsCost
      operationId: getShipmentLogisticsCostUsingGET
      parameters:
      - name: shipmentIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentLogisticCostsResponsePayload'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/order/shipments/partners:
    get:
      tags:
      - shipment-controller
      summary: getShipmentPartners
      operationId: getShipmentPartnersUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentPartnersDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/order/shipments/pos:
    get:
      tags:
      - shipment-controller
      summary: getPos
      operationId: getPosUsingGET
      parameters:
      - name: shipmentIds
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PoMinDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/order/shipments/unassign/bulk/shipments/{userId}:
    put:
      tags:
      - shipment-controller
      summary: unassignBulkShipments
      operationId: unassignBulkShipmentsUsingPUT
      parameters:
      - name: userId
        in: path
        description: userId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkShipmentAssignmentRequestPayload'
        description: bulkShipmentAssignmentRequestPayload
        required: true
  /api/v1/order/shipments/unassign/{entityType}/{entityId}:
    put:
      tags:
      - shipment-controller
      summary: unassignShipmentEntity
      operationId: unassignShipmentEntityUsingPUT
      parameters:
      - name: entityId
        in: path
        description: entityId
        required: true
        schema:
          type: integer
          format: int64
      - name: entityType
        in: path
        description: entityType
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/v1/order/shipments/{orderId}:
    get:
      tags:
      - shipment-controller
      summary: getShipments
      operationId: getShipmentsUsingGET
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
    post:
      tags:
      - shipment-controller
      summary: createShipments
      operationId: createShipmentsUsingPOST
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentsRequestPayload'
        description: shipmentsRequestPayload
        required: true
    put:
      tags:
      - shipment-controller
      summary: updateShipments
      operationId: updateShipmentsUsingPUT
      parameters:
      - name: orderId
        in: path
        description: orderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShipmentDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentsRequestPayload'
        description: shipmentsRequestPayload
        required: true
  /api/v1/order/shipments/{shipmentId}/dashboard:
    get:
      tags:
      - shipment-controller
      summary: getShipment
      operationId: getShipmentUsingGET
      parameters:
      - name: shipmentId
        in: path
        description: shipmentId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogisticsDashboardShipmentResponse'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/order/shipments/{shipmentId}/hops:
    post:
      tags:
      - shipment-controller
      summary: addShipmentHop
      operationId: addShipmentHopUsingPOST
      parameters:
      - name: shipmentId
        in: path
        description: shipmentId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentHopDto'
        description: shipmentHopDto
        required: true
    put:
      tags:
      - shipment-controller
      summary: editShipmentHop
      operationId: editShipmentHopUsingPUT
      parameters:
      - name: shipmentId
        in: path
        description: shipmentId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentHopRequestPayload'
        description: shipmentHopDto
        required: true
  /api/v1/order/shipments/{shipmentId}/refresh/hops:
    put:
      tags:
      - shipment-controller
      summary: refreshHops
      operationId: refreshHopsUsingPUT_1
      parameters:
      - name: shipmentId
        in: path
        description: shipmentId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    ShipmentSingleDocTypeResponsePayload:
      type: object
      properties:
        doc_type:
          type: string
        mandatory:
          type: boolean
        name:
          type: string
      title: ShipmentSingleDocTypeResponsePayload
    ShipmentHopRequestPayload:
      type: object
      properties:
        actual_date:
          type: integer
          format: int64
        actual_shipment_mode:
          type: string
          enum:
          - Air
          - Courier
          - Land
          - Sea
        bl_date:
          type: integer
          format: int64
        bl_doc:
          type: string
        bl_number:
          type: string
        booking_no:
          type: string
        by_pass_checks:
          type: boolean
        courier_partner_name:
          type: string
        eta:
          type: integer
          format: int64
        etd:
          type: integer
          format: int64
        factory_invoice_docs:
          type: array
          items:
            type: string
        factory_invoice_no:
          type: string
        id:
          type: integer
          format: int64
        invoice_doc_url:
          type: string
        other_shipment_hops:
          type: array
          items:
            type: integer
            format: int64
        packing_list_docs:
          type: array
          items:
            type: string
        pod_date:
          type: integer
          format: int64
        pod_number:
          type: string
        projection_date:
          type: integer
          format: int64
        remark:
          type: string
        shipment_docs:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentDocDto'
        shipping_bill_doc:
          type: string
        status:
          type: string
          enum:
          - booked
          - complete
          - deliveryDate
          - paymentFollowup
          - preplanned
          - shipped
        tracking_id:
          type: string
        vessel:
          type: string
      title: ShipmentHopRequestPayload
    CheckForInvoiceRequestPayload:
      type: object
      properties:
        shipment_ids:
          type: array
          items:
            type: integer
            format: int64
      title: CheckForInvoiceRequestPayload
    LeadGenerationLiteResponse:
      type: object
      properties:
        brand:
          $ref: '#/components/schemas/BrandResponse'
        client_id:
          type: integer
          format: int64
        company:
          $ref: '#/components/schemas/CompanyDTO'
        country:
          type: string
        country_code:
          type: string
        created_at:
          type: string
          format: date-time
        creator_id:
          type: integer
          format: int64
        email:
          type: string
        first_name:
          type: string
        id:
          type: integer
          format: int64
        last_name:
          type: string
        lead_projection_list:
          type: array
          items:
            $ref: '#/components/schemas/LeadProjectionMiniDTO'
        name:
          type: string
        phone:
          type: string
      title: LeadGenerationLiteResponse
    ShipmentsRequestPayload:
      type: object
      properties:
        shipments:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentRequestPayload'
      title: ShipmentsRequestPayload
    BrandVpDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        vp_email:
          type: string
        vp_id:
          type: integer
          format: int64
        vp_name:
          type: string
      title: BrandVpDto
    OrderRmLogisticsCostResponsePayload:
      type: object
      properties:
        acceptable_cost_of:
          type: string
        currency:
          type: string
        currency_price:
          type: number
        delivery_charges:
          type: number
        dollar_price:
          type: number
        factory_dollar_price:
          type: number
        freight_cost:
          type: number
        logistic_cost:
          type: number
        logistic_cost_per_piece:
          type: number
        logistic_cost_type:
          type: string
        order_id:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
      title: OrderRmLogisticsCostResponsePayload
    VariantBuyerPoMappingRequestPayload:
      type: object
      properties:
        id:
          type: integer
          format: int64
        locked_quantity:
          type: integer
          format: int64
        order_buyer_po:
          $ref: '#/components/schemas/OrderBuyerPoBaseDto'
        po_no:
          type: string
        quantity:
          type: integer
          format: int64
      title: VariantBuyerPoMappingRequestPayload
    OrderDocDto:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        doc_no:
          type: string
        doc_type:
          type: string
        docs:
          $ref: '#/components/schemas/DocDto'
        id:
          type: integer
          format: int64
        is_additional_doc:
          type: boolean
        order_id:
          type: integer
          format: int64
        s3_path:
          type: string
      title: OrderDocDto
    InvoiceVariantBuyerPoMappingDto:
      type: object
      properties:
        buyer_currency_price_total:
          type: number
        commission_amount_buyer_currency:
          type: number
        commission_amount_geniemode_currency:
          type: number
        currency_price_total:
          type: number
        factory_currency_price_total:
          type: number
        geniemode_currency_price_total:
          type: number
        id:
          type: integer
          format: int64
        locked_quantity:
          type: integer
          format: int64
        order_buyer_po:
          $ref: '#/components/schemas/OrderBuyerPoBaseDto'
        quantity:
          type: integer
          format: int64
      title: InvoiceVariantBuyerPoMappingDto
    FinalInvoiceInInvoiceDto:
      type: object
      properties:
        comment:
          type: string
        discount:
          $ref: '#/components/schemas/FinalInvoiceDiscountDto'
        grn_doc_url:
          type: string
        grn_status:
          type: string
        id:
          type: integer
          format: int64
        invoice_doc_url:
          type: string
        invoice_no:
          type: string
        pod_doc_url:
          type: string
        raised_on_timestamp:
          type: integer
          format: int64
        status:
          type: string
        total_amount:
          type: number
      title: FinalInvoiceInInvoiceDto
    PoMinDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        order_id:
          type: integer
          format: int64
        rejected_reason:
          type: string
        status:
          type: string
        status_change_time:
          type: integer
          format: int64
      title: PoMinDto
    OrderBuyerPoBaseDto:
      type: object
      properties:
        buyer_po_no:
          type: string
        id:
          type: integer
          format: int64
      title: OrderBuyerPoBaseDto
    VariantRequestPayload:
      type: object
      properties:
        buying_price:
          type: number
        color:
          type: string
        currency_price:
          type: number
        factory_currency_price:
          type: number
        factory_dollar_price:
          type: number
        final_currency_price:
          type: number
        final_price:
          type: number
        id:
          type: integer
          format: int64
        identifier:
          type: string
        price:
          type: number
        qc_quantity:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
        size:
          type: string
        through_qc:
          type: boolean
        uom:
          type: string
        variant_buyer_po_mappings:
          type: array
          items:
            $ref: '#/components/schemas/VariantBuyerPoMappingRequestPayload'
      title: VariantRequestPayload
    ShipmentInvoiceDto:
      type: object
      properties:
        final_invoice:
          $ref: '#/components/schemas/FinalInvoiceInInvoiceDto'
        id:
          type: integer
          format: int64
        invoice_no:
          type: string
        invoice_status:
          type: string
        is_system_invoice_final:
          type: boolean
        shipments:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceShipmentsResponsePayload'
      title: ShipmentInvoiceDto
    UpdateShipmentHopAuditRequestPayload:
      type: object
      properties:
        audit_actual_date:
          type: integer
          format: int64
        audit_status:
          type: string
      title: UpdateShipmentHopAuditRequestPayload
    ShipmentHopDto:
      type: object
      properties:
        actual_date:
          type: integer
          format: int64
        delay:
          type: integer
          format: int64
        hide:
          type: boolean
        id:
          type: integer
          format: int64
        last_modified_at:
          type: integer
          format: int64
        position:
          type: integer
          format: int32
        projection_date:
          type: integer
          format: int64
        remark:
          type: string
        shipment_docs:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentDocDto'
        status:
          type: string
          enum:
          - booked
          - complete
          - deliveryDate
          - paymentFollowup
          - preplanned
          - shipped
        status_change_date:
          type: integer
          format: int64
      title: ShipmentHopDto
    GeniemodeEntityDto:
      type: object
      properties:
        address:
          type: object
        address_id:
          type: integer
          format: int64
        address_list:
          type: array
          items:
            $ref: '#/components/schemas/AddressSubmitResponsePayload'
        compliance:
          type: string
        currency:
          type: string
        id:
          type: integer
          format: int64
        invoice_declaration:
          type: string
        label:
          type: string
        legal_name:
          type: string
        tally_currency:
          type: string
        value:
          type: string
      title: GeniemodeEntityDto
    DocDto:
      type: object
      properties:
        doc_display_name:
          type: string
        id:
          type: integer
          format: int64
        s3_path:
          type: string
        s3_version:
          type: integer
          format: int64
      title: DocDto
    ShipmentDocTypeResponsePayload:
      type: object
      properties:
        booked:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ShipmentSingleDocTypeResponsePayload'
        complete:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ShipmentSingleDocTypeResponsePayload'
        delivery_date:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ShipmentSingleDocTypeResponsePayload'
        is_delivery_date_step_required:
          type: boolean
        is_payment_followup_step_required:
          type: boolean
        payment_followup:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ShipmentSingleDocTypeResponsePayload'
        preplanned:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ShipmentSingleDocTypeResponsePayload'
        shipped:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ShipmentSingleDocTypeResponsePayload'
      title: ShipmentDocTypeResponsePayload
    InvoiceShipmentsResponsePayload:
      type: object
      properties:
        id:
          type: integer
          format: int64
        shipment:
          $ref: '#/components/schemas/ShipmentInInvoiceDto'
      title: InvoiceShipmentsResponsePayload
    ShipmentLogisticCostsResponsePayload:
      type: object
      properties:
        buyer_currency:
          type: string
        order_custom_duty_costs:
          type: array
          items:
            $ref: '#/components/schemas/OrderCustomDuty'
        order_logistics_costs:
          type: array
          items:
            $ref: '#/components/schemas/OrderRmLogisticsCostResponsePayload'
        total_custom_duty:
          type: number
        total_logistics_cost:
          type: number
      title: ShipmentLogisticCostsResponsePayload
    ShipmentDto:
      type: object
      properties:
        actual_shipment_mode:
          type: string
          enum:
          - Air
          - Courier
          - Land
          - Sea
        address:
          $ref: '#/components/schemas/AddressSubmitResponsePayload'
        address_id:
          type: integer
          format: int64
        cancellation_date:
          type: integer
          format: int64
        current_status:
          type: string
          enum:
          - booked
          - complete
          - deliveryDate
          - paymentFollowup
          - preplanned
          - shipped
        ex_factory_date:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
        inco_term:
          type: string
        invoice:
          $ref: '#/components/schemas/ShipmentInvoiceDto'
        invoice_approval_lock:
          type: boolean
        invoice_id:
          type: integer
          format: int64
        locked:
          type: boolean
        planned_shipment_mode:
          type: string
          enum:
          - Air
          - Courier
          - Land
          - Sea
        shipment_hops:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentHopDto'
        shipment_packets:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentPacketsDto'
        shipment_ready:
          type: boolean
        shipment_variant_buyer_po_mappings:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentVariantBuyerPoMappingDto'
        shipment_variants:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentVariantDto'
      title: ShipmentDto
    CompanyDTO:
      type: object
      properties:
        ask_buyer_wip_on_order:
          type: boolean
        company_name:
          type: string
        compliances:
          type: array
          items:
            type: string
        id:
          type: integer
          format: int64
        min_buy_sell_margin:
          type: number
        min_commission_margin:
          type: number
        min_trading_margin:
          type: number
      title: CompanyDTO
    BrandCategoryDto:
      type: object
      properties:
        category_id:
          type: integer
          format: int64
        category_name:
          type: string
        id:
          type: integer
          format: int64
      title: BrandCategoryDto
    ShipmentVariantBuyerPoMappingDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        locked:
          type: boolean
        quantity:
          type: integer
          format: int64
        variant_buyer_mapping_id:
          type: integer
          format: int64
        variant_buyer_po_mapping:
          $ref: '#/components/schemas/VariantBuyerPoMappingRequestPayload'
        variant_id:
          type: integer
          format: int64
      title: ShipmentVariantBuyerPoMappingDto
    FinalInvoiceDiscountDto:
      type: object
      properties:
        discount_amount:
          type: number
        discount_percentage:
          type: number
        type:
          type: string
      title: FinalInvoiceDiscountDto
    LogisticsDashboardInvoiceShipmentResponse:
      type: object
      properties:
        carrier_number:
          type: string
        carrier_type:
          type: string
        clearance_charges:
          type: number
        comment:
          type: string
        custom_duty:
          type: number
        final_destination:
          type: string
        final_invoice:
          $ref: '#/components/schemas/FinalInvoiceInInvoiceDto'
        grn_doc_url:
          type: string
        grn_status:
          type: string
        id:
          type: integer
          format: int64
        invoice_hops:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentHopMiniDto'
        invoice_no:
          type: string
        invoice_status:
          type: string
        is_buy_and_sell_model:
          type: boolean
        is_domestic_buyer:
          type: boolean
        is_domestic_shipment:
          type: boolean
        is_system_invoice_final:
          type: boolean
        local_freight:
          type: number
        manual_invoice_no:
          type: string
        order_ids:
          type: array
          uniqueItems: true
          items:
            type: integer
            format: int64
        pod_doc_url:
          type: string
        port_of_discharge:
          type: string
        port_of_loading:
          type: string
        pre_carriage_by:
          type: string
        sea_freight:
          type: number
        shipment_order_ids:
          type: array
          uniqueItems: true
          items:
            type: integer
            format: int64
        shipment_status:
          type: string
          enum:
          - booked
          - complete
          - deliveryDate
          - paymentFollowup
          - preplanned
          - shipped
        shipments:
          type: array
          items:
            $ref: '#/components/schemas/LogisticsDashboardShipmentResponse'
        total_shipping_cost:
          type: number
        warehouse:
          type: string
        wh_charges:
          type: number
      title: LogisticsDashboardInvoiceShipmentResponse
    ShipmentPartnersDto:
      type: object
      properties:
        display_name:
          type: string
        id:
          type: string
      title: ShipmentPartnersDto
    LeadProjectionMiniDTO:
      type: object
      properties:
        amount:
          type: integer
          format: int64
        business_size:
          type: number
          format: float
        id:
          type: integer
          format: int64
        lead_probability:
          type: integer
          format: int32
        probable_completion_date:
          type: integer
          format: int64
      title: LeadProjectionMiniDTO
    BulkShipmentAssignmentRequestPayload:
      type: object
      properties:
        lead_ids:
          type: array
          items:
            type: integer
            format: int64
      title: BulkShipmentAssignmentRequestPayload
    ShipmentDocDto:
      type: object
      properties:
        document_type:
          type: string
        document_url:
          type: string
        id:
          type: integer
          format: int64
      title: ShipmentDocDto
    ShipmentInInvoiceOrderDto:
      type: object
      properties:
        assignee_id:
          type: integer
          format: int64
        bill_address_id:
          type: integer
          format: int64
        bill_to_address:
          type: object
        buyer_days:
          type: integer
          format: int64
        buyer_payment_type:
          type: string
        buyer_shipment_type:
          type: string
        buyer_type:
          type: string
        factory_payment_type:
          type: string
        geniemode_entity:
          $ref: '#/components/schemas/GeniemodeEntityDto'
        id:
          type: integer
          format: int64
        lead_data:
          $ref: '#/components/schemas/LeadGenerationLiteResponse'
        lead_id:
          type: integer
          format: int64
        manufacturer_days:
          type: integer
          format: int64
        model_type:
          type: string
        sku_data:
          type: object
        sku_id:
          type: string
        style_code:
          type: string
        tolerance_approval_doc:
          type: string
      title: ShipmentInInvoiceOrderDto
    LogisticsDashboardShipmentResponse:
      type: object
      properties:
        actual_shipment_mode:
          type: string
          enum:
          - Air
          - Courier
          - Land
          - Sea
        assignee_name:
          type: string
        bd_assignee:
          type: string
        bd_assignee_id:
          type: string
        bl_date:
          type: integer
          format: int64
        bl_doc:
          type: string
        bl_number:
          type: string
        buyer_payment_type:
          type: string
        buyer_shipment_term:
          type: string
        cancellation_dates:
          type: array
          items:
            type: integer
            format: int64
        courier_partner_name:
          type: string
        current_status:
          type: string
          enum:
          - booked
          - complete
          - deliveryDate
          - paymentFollowup
          - preplanned
          - shipped
        disable_reason:
          type: string
        disabled_for_logistics:
          type: boolean
        ex_factory_dates:
          type: array
          items:
            type: integer
            format: int64
        factory_invoice_docs:
          type: array
          items:
            type: string
        factory_invoice_no:
          type: string
        factory_invoice_no_remark:
          type: string
        factory_payment_type:
          type: string
        factory_shipment_term:
          type: string
        finance_approval_dates:
          type: array
          items:
            type: string
            format: date-time
        from_address_id:
          type: integer
          format: int64
        grn_comment:
          type: string
        grn_doc_url:
          type: string
        grn_status:
          type: string
        id:
          type: integer
          format: int64
        invoice_id:
          type: integer
          format: int64
        invoice_no:
          type: string
        invoice_status:
          type: string
        is_domestic_shipment:
          type: boolean
        is_invoice_shipment:
          type: boolean
        lead_id:
          type: integer
          format: int64
        lead_info:
          type: object
        manufacturer_name:
          type: string
        manufacturer_region:
          type: string
        margin_model_type:
          type: string
        ops_assignee:
          type: string
        ops_assignee_id:
          type: string
        order_ids:
          type: array
          uniqueItems: true
          items:
            type: integer
            format: int64
        packing_list_docs:
          type: array
          items:
            type: string
        payment_type:
          type: string
        pieces:
          type: integer
          format: int64
        planned_order_shipment_mode:
          type: string
        planned_shipment_mode:
          type: string
          enum:
          - Air
          - Courier
          - Land
          - Sea
        pod_date:
          type: integer
          format: int64
        pod_doc_url:
          type: string
        pod_number:
          type: string
        rm:
          type: string
        shipment_assignee_id:
          type: string
        shipment_creation_dates:
          type: array
          items:
            type: string
            format: date-time
        shipment_hops:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentHopDto'
        shipment_ids:
          type: array
          items:
            type: integer
            format: int64
        shipment_inco_term:
          type: string
        shipment_order_ids:
          type: array
          uniqueItems: true
          items:
            type: integer
            format: int64
        shipment_term:
          type: string
        shipping_bill_doc:
          type: string
        to_address_id:
          type: integer
          format: int64
        total_price:
          type: number
        tracking_id:
          type: string
      title: LogisticsDashboardShipmentResponse
    InvoiceShipmentHopRequestPayload:
      type: object
      properties:
        actual_date:
          type: integer
          format: int64
        actual_shipment_mode:
          type: string
          enum:
          - Air
          - Courier
          - Land
          - Sea
        bl_date:
          type: integer
          format: int64
        bl_number:
          type: string
        booking_no:
          type: string
        by_pass_checks:
          type: boolean
        courier_partner_name:
          type: string
        eta:
          type: integer
          format: int64
        etd:
          type: integer
          format: int64
        factory_invoice_url:
          type: string
        invoice_doc_url:
          type: string
        invoice_id:
          type: integer
          format: int64
        packing_list_url:
          type: string
        pod_date:
          type: integer
          format: int64
        pod_number:
          type: string
        remark:
          type: string
        shipment_docs:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentDocDto'
        status:
          type: string
          enum:
          - booked
          - complete
          - deliveryDate
          - paymentFollowup
          - preplanned
          - shipped
        tracking_id:
          type: string
        vessel:
          type: string
      title: InvoiceShipmentHopRequestPayload
    ShipmentPacketsDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        locked:
          type: boolean
        packet_id:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
      title: ShipmentPacketsDto
    InvoiceVariantsDto:
      type: object
      properties:
        buyer_currency:
          type: string
        color:
          type: string
        currency_price:
          type: number
        currency_price_total:
          type: number
        custom_fields:
          type: object
        factory_currency:
          type: string
        factory_currency_price:
          type: number
        factory_currency_price_total:
          type: number
        hsn_code:
          type: string
        hts_code:
          type: string
        id:
          type: integer
          format: int64
        order_id:
          type: integer
          format: int64
        order_variant_quantity:
          type: integer
          format: int64
        parent_order_id:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
        size:
          type: string
        sku:
          type: string
        sku_data:
          type: object
        style_code:
          type: string
        uom:
          type: string
        variant_buyer_po_mappings:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceVariantBuyerPoMappingDto'
        variant_id:
          type: integer
          format: int64
      title: InvoiceVariantsDto
    OrderCustomDuty:
      type: object
      properties:
        acceptable_cost_of:
          type: string
        currency:
          type: string
        currency_price:
          type: number
        custom_duty:
          type: number
        custom_duty_cost_type:
          type: string
        custom_duty_per_piece:
          type: number
        dollar_price:
          type: number
        factory_dollar_price:
          type: number
        order_id:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
        reciprocal_tariff:
          type: number
        reciprocal_tariff_cost_type:
          type: string
        reciprocal_tariff_per_piece:
          type: number
        total_custom_duty:
          type: number
      title: OrderCustomDuty
    BrandResponse:
      type: object
      properties:
        address_list:
          type: array
          items:
            $ref: '#/components/schemas/AddressSubmitResponsePayload'
        ask_buyer_wip_on_order:
          type: boolean
        billing_address:
          $ref: '#/components/schemas/AddressSubmitResponsePayload'
        brand_name:
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/BrandCategoryDto'
        compliances:
          type: array
          items:
            type: string
        created_by:
          type: string
        id:
          type: integer
          format: int64
        legal_address:
          $ref: '#/components/schemas/AddressSubmitResponsePayload'
        legal_address_response:
          type: string
        legal_name:
          type: string
        vp_details:
          type: array
          items:
            $ref: '#/components/schemas/BrandVpDto'
        vps:
          type: array
          items:
            type: integer
            format: int64
      title: BrandResponse
    ShipmentInInvoiceDto:
      type: object
      properties:
        actual_shipment_mode:
          type: string
          enum:
          - Air
          - Courier
          - Land
          - Sea
        address_id:
          type: integer
          format: int64
        buyer_currency:
          type: string
        current_status:
          type: string
          enum:
          - booked
          - complete
          - deliveryDate
          - paymentFollowup
          - preplanned
          - shipped
        ex_factory_date:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
        inco_term:
          type: string
        order:
          $ref: '#/components/schemas/ShipmentInInvoiceOrderDto'
        planned_shipment_mode:
          type: string
          enum:
          - Air
          - Courier
          - Land
          - Sea
        ship_to_address:
          type: object
        total_shipment_currency_price:
          type: number
        total_shipment_factory_currency_price:
          type: number
        total_shipment_quantity:
          type: integer
          format: int64
        variants:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceVariantsDto'
      title: ShipmentInInvoiceDto
    ShipmentHopDocsDTO:
      type: object
      properties:
        shipment_docs:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/ShipmentHopDto'
      title: ShipmentHopDocsDTO
    ShipmentRequestPayload:
      type: object
      properties:
        address_id:
          type: integer
          format: int64
        cancellation_date:
          type: integer
          format: int64
        ex_factory_date:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
        inco_term:
          type: string
        invoice_approval_lock:
          type: boolean
        planned_shipment_mode:
          type: string
          enum:
          - Air
          - Courier
          - Land
          - Sea
        shipment_packets:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentPacketsDto'
        shipment_ready:
          type: boolean
        shipment_variant_buyer_po_mappings:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentVariantBuyerPoMappingDto'
        shipment_variants:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentVariantDto'
      title: ShipmentRequestPayload
    ShipmentHopMiniDto:
      type: object
      properties:
        actual_date:
          type: integer
          format: int64
        delay:
          type: integer
          format: int64
        hide:
          type: boolean
        last_modified_at:
          type: integer
          format: int64
        position:
          type: integer
          format: int32
        projection_date:
          type: integer
          format: int64
        remark:
          type: string
        status:
          type: string
          enum:
          - booked
          - complete
          - deliveryDate
          - paymentFollowup
          - preplanned
          - shipped
      title: ShipmentHopMiniDto
    ShipmentVariantDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        locked:
          type: boolean
        quantity:
          type: integer
          format: int64
        shipment_variant_buyer_po_mappings:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentVariantBuyerPoMappingDto'
        variant:
          $ref: '#/components/schemas/VariantRequestPayload'
        variant_id:
          type: integer
          format: int64
      title: ShipmentVariantDto
    AddressSubmitResponsePayload:
      type: object
      properties:
        address_line1:
          type: string
        address_line2:
          type: string
        city:
          type: string
        contact_person_name:
          type: string
        contact_person_number:
          type: string
        country:
          type: string
        entity_id:
          type: integer
          format: int64
        entity_type:
          type: string
        id:
          type: integer
          format: int64
        landmark:
          type: string
        name:
          type: string
        pincode:
          type: string
        state:
          type: string
        type:
          type: string
      title: AddressSubmitResponsePayload
