openapi: 3.2.0
info:
  description: Cataloguing API.
  version: API V
  title: Cataloguing Pre Order Rm Controller API
  termsOfService: Terms of service
  contact:
    name: Mani Bhushan
    url: www.geniemode.com
    email: mani.kumar@geniemode.com
  license:
    name: License of API
    url: API license URL
servers:
- url: https://portal.geniemode.com
tags:
- name: pre-order-rm-controller
  description: Pre Order Rm Controller
paths:
  /api/v1/pre-orders/rm:
    get:
      tags:
      - pre-order-rm-controller
      summary: index
      operationId: indexUsingGET_25
      parameters:
      - name: orderCreated
        in: query
        required: false
        schema:
          type: boolean
      - name: rmId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: search
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
                additionalProperties:
                  type: object
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/pre-orders/rm/{id}:
    get:
      tags:
      - pre-order-rm-controller
      summary: getById
      operationId: getByIdUsingGET_2
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PreOrderDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/pre-orders/rm/{id}/orders:
    get:
      tags:
      - pre-order-rm-controller
      summary: getOrdersById
      operationId: getOrdersByIdUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderStatusInterface'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/pre-orders/rm/{id}/style-codes:
    get:
      tags:
      - pre-order-rm-controller
      summary: getStyleCodesById
      operationId: getStyleCodesByIdUsingGET
      parameters:
      - name: id
        in: path
        description: id
        required: true
        schema:
          type: integer
          format: int64
      - name: splitStyleCodes
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PreOrderToOrderDto'
        '403':
          description: Forbidden!!!!!
        '500':
          description: 500 message
  /api/v1/pre-orders/rm/{preOrderId}/create-order:
    post:
      tags:
      - pre-order-rm-controller
      summary: createOrder
      operationId: createOrderUsingPOST
      parameters:
      - name: preOrderId
        in: path
        description: preOrderId
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateEntireOrderResponseDto'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderFromPreOrderRequestPayload'
        description: payload
        required: true
components:
  schemas:
    PreOrderToOrderMappingDto:
      type: object
      properties:
        currency:
          type: string
        currency_price:
          type: number
        id:
          type: integer
          format: int64
        order_id:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
        sku:
          type: string
        style_code:
          type: string
      title: PreOrderToOrderMappingDto
    PoTypeDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      title: PoTypeDto
    PreOrderStyleVariantData:
      type: object
      properties:
        color:
          type: string
        currency_price:
          type: number
        po_quantity:
          type: object
          additionalProperties:
            type: integer
            format: int64
        quantity:
          type: integer
          format: int64
        size:
          type: string
      title: PreOrderStyleVariantData
    PreOrderPoDto:
      type: object
      properties:
        buyer_handover_date:
          type: integer
          format: int64
        buyer_po_no:
          type: string
        buyer_shipment_type:
          type: string
        created_at:
          type: integer
          format: int64
        created_by:
          type: string
        currency:
          type: string
        currency_price:
          type: number
        factory_handover_date:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
        po_date:
          type: integer
          format: int64
        po_doc_url:
          type: string
        po_type:
          $ref: '#/components/schemas/PoTypeDto'
        po_type_id:
          type: integer
          format: int64
        pre_order_po_styles:
          type: array
          items:
            $ref: '#/components/schemas/PreOrderPoStyleDto'
        quantity:
          type: integer
          format: int64
      title: PreOrderPoDto
    OrderBuyerAssigneeDto:
      type: object
      properties:
        buyer_assignee_id:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
        user:
          $ref: '#/components/schemas/UMSUserResponseDTO'
      title: OrderBuyerAssigneeDto
    CreateOrderV2ResponseDto:
      type: object
      properties:
        identifier:
          type: string
        order_id:
          type: integer
          format: int64
        parent_order_id:
          type: integer
          format: int64
        sku:
          type: string
        style_code:
          type: string
      title: CreateOrderV2ResponseDto
    CreateOrderFromPreOrderRequestPayload:
      type: object
      properties:
        assignee_id:
          type: integer
          format: int64
        business_owner_id:
          type: integer
          format: int64
        buyer_assignees:
          type: array
          items:
            $ref: '#/components/schemas/OrderBuyerAssigneeDto'
        buyer_handover_date:
          type: integer
          format: int64
        confirmation_date:
          type: integer
          format: int64
        eta_date:
          type: string
          format: date-time
        factory_eta_date:
          type: string
          format: date-time
        factory_handover_date:
          type: integer
          format: int64
        lead_id:
          type: integer
          format: int64
        lead_projection_id:
          type: integer
          format: int64
        manufacturer_assignees:
          type: array
          items:
            $ref: '#/components/schemas/OrderManufacturerAssigneeDto'
        manufacturer_id:
          type: integer
          format: int64
        manufacturer_unit_id:
          type: integer
          format: int64
        ops_assignee_id:
          type: integer
          format: int64
        split_style_codes:
          type: array
          items:
            type: string
        style_sku_mappings:
          type: object
          additionalProperties:
            type: string
        uom:
          type: string
        wf_template_id:
          type: integer
          format: int64
      title: CreateOrderFromPreOrderRequestPayload
    PreOrderPoMappingDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        pre_order_po:
          $ref: '#/components/schemas/PreOrderPoDto'
      title: PreOrderPoMappingDto
    UMSUserResponseDTO:
      type: object
      properties:
        active:
          type: boolean
        country_code:
          type: string
        created_at:
          type: string
          format: date-time
        first_name:
          type: string
        id:
          type: integer
          format: int64
        last_modified_at:
          type: string
          format: date-time
        last_name:
          type: string
        manager_username:
          type: string
        phone_number:
          type: string
        roles:
          type: array
          items:
            type: string
        username:
          type: string
      title: UMSUserResponseDTO
    CreateEntireOrderResponseDto:
      type: object
      properties:
        child_orders:
          type: array
          items:
            $ref: '#/components/schemas/CreateOrderV2ResponseDto'
        order_id:
          type: integer
          format: int64
        parent_order_id:
          type: integer
          format: int64
        sku:
          type: string
        style_code:
          type: string
      title: CreateEntireOrderResponseDto
    OrderManufacturerAssigneeDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        manufacturer_assignee_id:
          type: integer
          format: int64
        user:
          $ref: '#/components/schemas/UMSUserResponseDTO'
      title: OrderManufacturerAssigneeDto
    PreOrderPoStyleVariantDto:
      type: object
      properties:
        color:
          type: string
        id:
          type: integer
          format: int64
        price:
          type: number
        quantity:
          type: integer
          format: int64
        size:
          type: string
      title: PreOrderPoStyleVariantDto
    OrderStatusInterface:
      type: object
      properties:
        financial_status:
          type: string
        id:
          type: integer
          format: int64
      title: OrderStatusInterface
    PreOrderToOrderDto:
      type: object
      properties:
        buyer_po_no:
          type: string
        currency:
          type: string
        currency_price:
          type: number
        po_map:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PreOrderStylePoData'
        quantity:
          type: integer
          format: int64
        style_code:
          type: string
        variant_map:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PreOrderStyleVariantData'
      title: PreOrderToOrderDto
    PreOrderPoStyleDto:
      type: object
      properties:
        currency_price:
          type: number
        id:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
        style_code:
          type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/PreOrderPoStyleVariantDto'
      title: PreOrderPoStyleDto
    BusinessOwnerDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      title: BusinessOwnerDto
    PreOrderDto:
      type: object
      properties:
        assignee:
          type: integer
          format: int64
        assignee_data:
          $ref: '#/components/schemas/UMSUserResponseDTO'
        business_owner:
          $ref: '#/components/schemas/BusinessOwnerDto'
        business_owner_id:
          type: integer
          format: int64
        buyer_days:
          type: integer
          format: int64
        buyer_handover_date:
          type: integer
          format: int64
        buyer_payment_type:
          type: string
        confirmation_date:
          type: integer
          format: int64
        created_at:
          type: integer
          format: int64
        created_by:
          type: string
        currency_conversion_date:
          type: integer
          format: int64
        currency_conversion_rate:
          type: number
        factory_handover_date:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
        model_type:
          type: string
        name:
          type: string
        ops_assignee:
          type: integer
          format: int64
        ops_assignee_data:
          $ref: '#/components/schemas/UMSUserResponseDTO'
        order_created:
          type: boolean
        pre_order_po_mappings:
          type: array
          items:
            $ref: '#/components/schemas/PreOrderPoMappingDto'
        pre_order_to_order_mappings:
          type: array
          items:
            $ref: '#/components/schemas/PreOrderToOrderMappingDto'
      title: PreOrderDto
    PreOrderStylePoData:
      type: object
      properties:
        currency_price:
          type: number
        quantity:
          type: integer
          format: int64
      title: PreOrderStylePoData
