{"swagger":"2.0","info":{"description":"Cataloguing API.","version":"API V","title":"Cataloguing API","termsOfService":"Terms of service","contact":{"name":"Mani Bhushan","url":"www.geniemode.com","email":"mani.kumar@geniemode.com"},"license":{"name":"License of API","url":"API license URL"}},"host":"portal.geniemode.com","tags":[{"name":"admin","description":"Admin"},{"name":"admin-controller","description":"Admin Controller"},{"name":"admin-qc-audio-recording-controller","description":"Admin QC Audio Recording Controller"},{"name":"audit-controller","description":"Audit Controller"},{"name":"audit-order-product-attribution-controller","description":"Audit Order Product Attribution Controller"},{"name":"authorisation","description":"Authorisation"},{"name":"back-fill-controller","description":"Back Fill Controller"},{"name":"bank-controller","description":"Bank Controller"},{"name":"business-owner-controller","description":"Business Owner Controller"},{"name":"carton-controller","description":"Carton Controller"},{"name":"change-tna-request-controller","description":"Change Tna Request Controller"},{"name":"client-controller","description":"Client Controller"},{"name":"commission-invoice-controller","description":"Commission Invoice Controller"},{"name":"courier-budget-controller","description":"Courier Budget Controller"},{"name":"courier-controller","description":"Courier Controller"},{"name":"courier-entity-controller","description":"Courier Entity Controller"},{"name":"courier-partner-controller","description":"Courier Partner Controller"},{"name":"currency-conversion-controller","description":"Currency Conversion Controller"},{"name":"dashboard-controller","description":"Dashboard Controller"},{"name":"designer-controller","description":"Designer Controller"},{"name":"documents-controller","description":"Documents Controller"},{"name":"dpr-controller","description":"Dpr Controller"},{"name":"edi-monitoring-controller","description":"Edi Monitoring Controller"},{"name":"excel-controller","description":"Excel Controller"},{"name":"factory-controller","description":"Factory Controller"},{"name":"factory-finance-controller","description":"Factory Finance Controller"},{"name":"factory-raw-material-controller","description":"Factory Raw Material Controller"},{"name":"factory-wip-controller","description":"Factory Wip Controller"},{"name":"final-invoice-controller","description":"Final Invoice Controller"},{"name":"finance-dashboard-controller","description":"Finance Dashboard Controller"},{"name":"ftp-client-controller","description":"Ftp Client Controller"},{"name":"generic-utils-controller","description":"Generic Utils Controller"},{"name":"geniemode-entity-controller","description":"Geniemode Entity Controller"},{"name":"hts-code-duty-controller","description":"Hts Code Duty Controller"},{"name":"indexer-service-controller","description":"Indexer Service Controller"},{"name":"invoice-controller","description":"Invoice Controller"},{"name":"invoice-finance-controller","description":"Invoice Finance Controller"},{"name":"invoice-logistics-controller","description":"Invoice Logistics Controller"},{"name":"invoice-payments-controller","description":"Invoice Payments Controller"},{"name":"kpi-controller","description":"Kpi Controller"},{"name":"lead-controller","description":"Lead Controller"},{"name":"loginless-tn-a-controller","description":"Loginless Tn A Controller"},{"name":"logistics-dashboard-controller","description":"Logistics Dashboard Controller"},{"name":"manufacturer-brand-approval-controller","description":"Manufacturer Brand Approval Controller"},{"name":"manufacturer-controller","description":"Manufacturer Controller"},{"name":"manufacturer-v-2-controller","description":"Manufacturer V 2 Controller"},{"name":"manufacturer-v-2-login-less-controller","description":"Manufacturer V 2 Login Less Controller"},{"name":"margin-controller","description":"Margin Controller"},{"name":"mill-controller","description":"Mill Controller"},{"name":"mill-details-controller","description":"Mill Details Controller"},{"name":"order-carton-controller","description":"Order Carton Controller"},{"name":"order-controller","description":"Order Controller"},{"name":"order-dna-summary-controller","description":"Order Dna Summary Controller"},{"name":"order-finance-controller","description":"Order Finance Controller"},{"name":"order-generic-utils-controller","description":"Order Generic Utils Controller"},{"name":"order-group-finance-controller","description":"Order Group Finance Controller"},{"name":"order-group-founder-controller","description":"Order Group Founder Controller"},{"name":"order-handling-controller","description":"Order Handling Controller"},{"name":"order-product-attribution-controller","description":"Order Product Attribution Controller"},{"name":"order-risk-controller","description":"Order Risk Controller"},{"name":"order-risk-founder-controller","description":"Order Risk Founder Controller"},{"name":"order-status-history-controller","description":"Order Status History Controller"},{"name":"order-traceability-controller","description":"Order Traceability Controller"},{"name":"order-v-2-controller","description":"Order V 2 Controller"},{"name":"order-v-3-controller","description":"Order V 3 Controller"},{"name":"packaging-controller","description":"Packaging Controller"},{"name":"payment-calendar-controller","description":"Payment Calendar Controller"},{"name":"pi-controller","description":"Pi Controller"},{"name":"pi-finance-controller","description":"Pi Finance Controller"},{"name":"po-controller","description":"Po Controller"},{"name":"possible-shipments-controller","description":"Possible Shipments Controller"},{"name":"pre-order-finance-controller","description":"Pre Order Finance Controller"},{"name":"pre-order-po-finance-controller","description":"Pre Order Po Finance Controller"},{"name":"pre-order-rm-controller","description":"Pre Order Rm Controller"},{"name":"qc-audit-controller","description":"QC Audit Controller"},{"name":"qc-controller","description":"QC Controller"},{"name":"qc-dump-controller","description":"Qc Dump Controller"},{"name":"qc-file-check-list-controller","description":"QC File Check List Controller"},{"name":"qc-tech-controller","description":"QC Tech Controller"},{"name":"quality-defects-controller","description":"Quality Defects Controller"},{"name":"rm-controller","description":"RM Controller"},{"name":"shipment-controller","description":"Shipment Controller"},{"name":"shipment-tracking-controller","description":"Shipment Tracking Controller"},{"name":"tna-dashboard-controller","description":"Tna Dashboard Controller"},{"name":"user","description":"User"},{"name":"user-qc-audio-recording-controller","description":"User QC Audio Recording Controller"},{"name":"user-tnc-controller","description":"User Tnc Controller"},{"name":"users-controller","description":"Users Controller"},{"name":"vapi-call-controller","description":"Vapi Call Controller"},{"name":"variant-controller","description":"Variant Controller"},{"name":"vp-dashboard-controller","description":"Vp Dashboard Controller"},{"name":"web-engage-controller","description":"Web Engage Controller"},{"name":"workflow-controller","description":"Workflow Controller"},{"name":"workflow-step-controller","description":"Workflow Step Controller"},{"name":"workflow-step-order-map-controller","description":"Workflow Step Order Map Controller"}],"paths":{"/api/audit/order/product/attribution/index":{"get":{"tags":["audit-order-product-attribution-controller"],"summary":"index","operationId":"indexUsingGET","produces":["application/json"],"parameters":[{"name":"assigneeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"attributionAttached","in":"query","required":false,"type":"boolean"},{"name":"attributionStatus","in":"query","required":false,"type":"string"},{"name":"brandIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"businessOwnerIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"confirmationDateFrom","in":"query","required":false,"type":"integer","format":"int64"},{"name":"confirmationDateSort","in":"query","required":false,"type":"string"},{"name":"confirmationDateTo","in":"query","required":false,"type":"integer","format":"int64"},{"name":"createdBy","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"documentsAttached","in":"query","required":false,"type":"boolean"},{"name":"financialStatus","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"modelTypes","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"orderId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"pendingDaysMax","in":"query","required":false,"type":"integer","format":"int64"},{"name":"pendingDaysMin","in":"query","required":false,"type":"integer","format":"int64"},{"name":"sources","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"styleCode","in":"query","required":false,"type":"string"},{"name":"tab","in":"query","required":false,"type":"string"},{"name":"types","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/audit/order/product/attribution/orders":{"get":{"tags":["audit-order-product-attribution-controller"],"summary":"orders","operationId":"ordersUsingGET","produces":["application/json"],"parameters":[{"name":"sku","in":"query","description":"sku","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/audit/order/product/attribution/sku-attribution-audit-pending-days":{"get":{"tags":["audit-order-product-attribution-controller"],"summary":"skuAttributionAuditPendingDays","operationId":"skuAttributionAuditPendingDaysUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/audit/order/product/attribution/sku-order-count":{"get":{"tags":["audit-order-product-attribution-controller"],"summary":"skuOrderCount","operationId":"skuOrderCountUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/audit/order/product/attribution/tab-counts":{"get":{"tags":["audit-order-product-attribution-controller"],"summary":"tabCounts","operationId":"tabCountsUsingGET","produces":["application/json"],"parameters":[{"name":"assigneeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"attributionAttached","in":"query","required":false,"type":"boolean"},{"name":"attributionStatus","in":"query","required":false,"type":"string"},{"name":"brandIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"businessOwnerIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"confirmationDateFrom","in":"query","required":false,"type":"integer","format":"int64"},{"name":"confirmationDateSort","in":"query","required":false,"type":"string"},{"name":"confirmationDateTo","in":"query","required":false,"type":"integer","format":"int64"},{"name":"createdBy","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"documentsAttached","in":"query","required":false,"type":"boolean"},{"name":"financialStatus","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"modelTypes","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"orderId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"pendingDaysMax","in":"query","required":false,"type":"integer","format":"int64"},{"name":"pendingDaysMin","in":"query","required":false,"type":"integer","format":"int64"},{"name":"sources","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"styleCode","in":"query","required":false,"type":"string"},{"name":"tab","in":"query","required":false,"type":"string"},{"name":"types","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AttributionTabCountsResponsePayload"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/auth/ForgotPassword":{"post":{"tags":["authorisation"],"summary":"forgotPassword","operationId":"forgotPasswordUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"$ref":"#/definitions/ForgotPasswordRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ForgetResetPasswordResponse"}}}}},"/api/auth/ResetPassword":{"post":{"tags":["authorisation"],"summary":"resetPassword","operationId":"resetPasswordUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"payload","description":"payload","required":true,"schema":{"$ref":"#/definitions/ResetPasswordRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ForgetResetPasswordResponse"}}}}},"/api/auth/login":{"get":{"tags":["authorisation"],"summary":"login","operationId":"loginUsingGET","produces":["application/json"],"parameters":[{"name":"encodedAuthString","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuthorisationResponsePayload"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/calendar/Get":{"get":{"tags":["payment-calendar-controller"],"summary":"get_payment_term","operationId":"get_payment_termUsingGET_1","produces":["application/json"],"parameters":[{"name":"fromDate","in":"query","required":false,"type":"string"},{"name":"toDate","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetPaymentCalendarResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/calendar/GetAll":{"get":{"tags":["payment-calendar-controller"],"summary":"get_tna_request","operationId":"get_tna_requestUsingGET_1","produces":["application/json"],"parameters":[{"name":"fromDate","in":"query","required":false,"type":"string"},{"name":"toDate","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAllPaymentCalendarResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/client/CreateClient":{"post":{"tags":["client-controller"],"summary":"create_client","operationId":"create_clientUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"requestPayload","description":"requestPayload","required":true,"schema":{"$ref":"#/definitions/CreateClientDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreateClientResponse"}}}}},"/api/client/GetAllClient":{"post":{"tags":["client-controller"],"summary":"getAllClients","operationId":"getAllClientsUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClientDetailsResponse"}}}}},"/api/client/get-buyer-pending-steps":{"get":{"tags":["client-controller"],"summary":"getBuyerPendingSteps","operationId":"getBuyerPendingStepsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardData":{"post":{"tags":["dashboard-controller"],"summary":"getDashboardData","operationId":"getDashboardDataUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DashboardDataDto"}}}}},"/api/dashboard/GetDashboardLeads":{"get":{"tags":["dashboard-controller"],"summary":"GetDashboardLeads","operationId":"GetDashboardLeadsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LeadDetailsResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardLeads/paginated":{"get":{"tags":["dashboard-controller"],"summary":"GetDashboardLeadsPaginated","operationId":"GetDashboardLeadsPaginatedUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«LeadsUnderVpResponse»"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardManufacturers":{"get":{"tags":["dashboard-controller"],"summary":"get_dashboard_manufacturer","operationId":"get_dashboard_manufacturerUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetDashboardManufacturersResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardManufacturers/paginated":{"get":{"tags":["dashboard-controller"],"summary":"GetDashboardManufacturersPaginated","operationId":"GetDashboardManufacturersPaginatedUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«ManufacturerDetailInOrderListingDto»"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardOpsUnderManager/paginated":{"get":{"tags":["dashboard-controller"],"summary":"getDashboardOpsUnderManagerPaginated","operationId":"getDashboardOpsUnderManagerPaginatedUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«UmsUserManagerResponse»"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardOrders":{"get":{"tags":["dashboard-controller"],"summary":"get_dashboard_orders","operationId":"get_dashboard_ordersUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DashboardOrderDetailsResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardOrdersAggregatedCount":{"get":{"tags":["dashboard-controller"],"summary":"get_dashboard_orders_summary","operationId":"get_dashboard_orders_summaryUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DashboardOrderDetailsSummaryResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardOrdersPage":{"get":{"tags":["dashboard-controller"],"summary":"get_dashboard_orders_page","operationId":"get_dashboard_orders_pageUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DashboardOrderDetailsResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardOrdersSummary":{"get":{"tags":["dashboard-controller"],"summary":"get_dashboard_orders_summary","operationId":"get_dashboard_orders_summaryUsingGET_1","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DashboardOrderDetailsSummaryResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardOrdersSummaryGroupByReportee":{"get":{"tags":["dashboard-controller"],"summary":"GetDashboardOrdersSummaryGroupByReportee","operationId":"GetDashboardOrdersSummaryGroupByReporteeUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DashboardOrderDetailsSummaryResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardOrdersV2":{"get":{"tags":["dashboard-controller"],"summary":"get_dashboard_orders","operationId":"get_dashboard_ordersUsingGET_1","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DashboardOrderDetailsResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardRms":{"get":{"tags":["dashboard-controller"],"summary":"get_dashboard_rms","operationId":"get_dashboard_rmsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RMResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardUsersUnderManger/paginated":{"get":{"tags":["dashboard-controller"],"summary":"getDashboardUsersUnderManagerPaginated2","operationId":"getDashboardUsersUnderManagerPaginated2UsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«UmsUserManagerResponse»"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetDashboardUsersUnderSuperManger":{"get":{"tags":["dashboard-controller"],"summary":"getDashboardUsersUnderSuperManager","operationId":"getDashboardUsersUnderSuperManagerUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UmsUserManagerResponse"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}},"deprecated":true}},"/api/dashboard/GetDashboardUsersUnderSuperManger/paginated":{"get":{"tags":["dashboard-controller"],"summary":"getDashboardUsersUnderSuperManagerPaginated","operationId":"getDashboardUsersUnderSuperManagerPaginatedUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/GetTotalNoOfCompleteOrders":{"post":{"tags":["dashboard-controller"],"summary":"get_num_completed_order","operationId":"get_num_completed_orderUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderCountDto"}}}}},"/api/dashboard/GetTotalNoOfOpenOrders":{"post":{"tags":["dashboard-controller"],"summary":"get_num_open_order","operationId":"get_num_open_orderUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderCountDto"}}}}},"/api/dashboard/GetTotalNoOfOrders":{"post":{"tags":["dashboard-controller"],"summary":"get_num_order","operationId":"get_num_orderUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderCountDto"}}}}},"/api/dashboard/GetUserDelayedOrders":{"get":{"tags":["dashboard-controller"],"summary":"GetUserDelayedOrders","operationId":"GetUserDelayedOrdersUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetUserDelayedOrdersResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/dashboard/clone/GetDashboardOrdersSummary":{"get":{"tags":["dashboard-controller"],"summary":"clone_get_dashboard_orders_summary","operationId":"clone_get_dashboard_orders_summaryUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DashboardOrderDetailsSummaryResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/documents/AddDocument":{"post":{"tags":["documents-controller"],"summary":"addDocument","operationId":"addDocumentUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"uploadResponsePayload","description":"uploadResponsePayload","required":true,"schema":{"$ref":"#/definitions/UploadResponsePayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UploadDocumentResponsePayload"}}}}},"/api/documents/GetAllDocument":{"post":{"tags":["documents-controller"],"summary":"get_all","operationId":"get_allUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"documentSearchRequestPayload","description":"documentSearchRequestPayload","required":true,"schema":{"$ref":"#/definitions/DocumentSearchRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"/api/documents/GetDocument":{"post":{"tags":["documents-controller"],"summary":"get_document","operationId":"get_documentUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"documentRequestPayload","description":"documentRequestPayload","required":true,"schema":{"$ref":"#/definitions/GetDocumentRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocDetailsDto"}}}}},"/api/documents/GetOnlyDocument":{"post":{"tags":["documents-controller"],"summary":"get_other_document","operationId":"get_other_documentUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"documentRequestPayload","description":"documentRequestPayload","required":true,"schema":{"$ref":"#/definitions/GetDocumentRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DocDetailsDto"}}}}},"/api/documents/UploadDocument":{"post":{"tags":["documents-controller"],"summary":"upload_document","operationId":"upload_documentUsingPOST","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"file_content","description":"file_content","required":false,"schema":{"type":"string","format":"binary"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UploadDocumentResponsePayload"}}}}},"/api/factory/Create":{"post":{"tags":["factory-controller"],"summary":"create","operationId":"createUsingPOST_3","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"factoryCreateRequestPayload","description":"factoryCreateRequestPayload","required":true,"schema":{"$ref":"#/definitions/FactoryCreateRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}}}}},"/api/factory/all_enums":{"get":{"tags":["factory-controller"],"summary":"getAllEnums","operationId":"getAllEnumsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAllEnumsResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/factory/delete":{"delete":{"tags":["factory-controller"],"summary":"deleteFactory","operationId":"deleteFactoryUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetFactoryResponsePayload"}}}}},"/api/factory/get":{"get":{"tags":["factory-controller"],"summary":"getFactory","operationId":"getFactoryUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetFactoryResponsePayload"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/factory/get_all":{"get":{"tags":["factory-controller"],"summary":"index","operationId":"indexUsingGET_7","produces":["*/*"],"parameters":[{"name":"agentUserId","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"factoryId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"search","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/factory/send-mail":{"post":{"tags":["factory-controller"],"summary":"sendMail","operationId":"sendMailUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"sendEmailRequest","description":"sendEmailRequest","required":true,"schema":{"$ref":"#/definitions/SendEmailRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/factory/update":{"put":{"tags":["factory-controller"],"summary":"updateFactory","operationId":"updateFactoryUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"factoryCreateRequestPayload","description":"factoryCreateRequestPayload","required":true,"schema":{"$ref":"#/definitions/FactoryCreateRequestPayload"}},{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetFactoryResponsePayload"}}}}},"/api/factory_finance/Create":{"post":{"tags":["factory-finance-controller"],"summary":"create","operationId":"createUsingPOST_4","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"factoryFinanceRequestPayload","description":"factoryFinanceRequestPayload","required":true,"schema":{"$ref":"#/definitions/CreateFactoryFinanceRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetFactoryFinanceResponse"}}}}},"/api/factory_finance/delete":{"delete":{"tags":["factory-finance-controller"],"summary":"deleteFactory","operationId":"deleteFactoryUsingDELETE_1","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/factory_finance/get":{"get":{"tags":["factory-finance-controller"],"summary":"getFactoryFinance","operationId":"getFactoryFinanceUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetFactoryFinanceResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/factory_finance/update":{"put":{"tags":["factory-finance-controller"],"summary":"updateFactoryFinance","operationId":"updateFactoryFinanceUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"createFactoryFinanceRequestPayload","description":"createFactoryFinanceRequestPayload","required":true,"schema":{"$ref":"#/definitions/CreateFactoryFinanceRequestPayload"}},{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetFactoryFinanceResponse"}}}}},"/api/factory_raw_material/Create":{"post":{"tags":["factory-raw-material-controller"],"summary":"create","operationId":"createUsingPOST_5","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"createFactoryRawMaterialRequest","description":"createFactoryRawMaterialRequest","required":true,"schema":{"$ref":"#/definitions/CreateFactoryRawMaterialRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/GetFactoryRawMaterialResponse"}}}}}},"/api/factory_raw_material/delete":{"delete":{"tags":["factory-raw-material-controller"],"summary":"deleteFactoryMaterial","operationId":"deleteFactoryMaterialUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/factory_raw_material/get":{"get":{"tags":["factory-raw-material-controller"],"summary":"getFactoryMaterial","operationId":"getFactoryMaterialUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/GetFactoryRawMaterialResponse"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/factory_raw_material/update":{"put":{"tags":["factory-raw-material-controller"],"summary":"updateFactoryMaterial","operationId":"updateFactoryMaterialUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"query","description":"id","required":false,"type":"integer","format":"int64"},{"in":"body","name":"updateFactoryRawMaterialRequest","description":"updateFactoryRawMaterialRequest","required":true,"schema":{"$ref":"#/definitions/UpdateFactoryRawMaterialRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/GetFactoryRawMaterialResponse"}}}}}},"/api/founder/risk/order/autoApprove/{type}":{"put":{"tags":["order-risk-founder-controller"],"summary":"autoApprove","operationId":"autoApproveUsingPUT_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"orderRiskStatusRequestPayload","description":"orderRiskStatusRequestPayload","required":true,"schema":{"$ref":"#/definitions/OrderRiskStatusRequestPayload"}},{"name":"type","in":"path","description":"type","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/founder/risk/order/index":{"get":{"tags":["order-risk-founder-controller"],"summary":"getFounderRiskOrderListing","operationId":"getFounderRiskOrderListingUsingGET","produces":["application/json"],"parameters":[{"name":"brandIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"companyIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"geniemodeEntityIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"pageType","in":"query","required":false,"type":"string"},{"name":"riskStatus","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"string","pattern":"^(approved|pending|rejected|autoApproved)$"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/founder/risk/order/{orderId}":{"get":{"tags":["order-risk-founder-controller"],"summary":"getOrderRiskDetails","operationId":"getOrderRiskDetailsUsingGET_1","produces":["application/json"],"parameters":[{"name":"orderId","in":"path","description":"orderId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderRiskResponsePayload"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/founder/risk/order/{orderId}/{status}":{"put":{"tags":["order-risk-founder-controller"],"summary":"updateRiskStatus","operationId":"updateRiskStatusUsingPUT_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"orderId","in":"path","description":"orderId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"orderRiskStatusRequestPayload","description":"orderRiskStatusRequestPayload","required":true,"schema":{"$ref":"#/definitions/OrderRiskStatusRequestPayload"}},{"name":"status","in":"path","description":"status","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/founder/risk/order/{status}":{"put":{"tags":["order-risk-founder-controller"],"summary":"updateMultiRiskStatus","operationId":"updateMultiRiskStatusUsingPUT_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"orderRiskStatusRequestPayload","description":"orderRiskStatusRequestPayload","required":true,"schema":{"$ref":"#/definitions/OrderRiskStatusRequestPayload"}},{"name":"status","in":"path","description":"status","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/gen/SendApprovalEmail":{"post":{"tags":["generic-utils-controller"],"summary":"send_approval_email","operationId":"send_approval_emailUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"requestPayload","description":"requestPayload","required":true,"schema":{"$ref":"#/definitions/SendApprovalEmailRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/gen/VpOfRm":{"get":{"tags":["generic-utils-controller"],"summary":"getVpForAllRm","operationId":"getVpForAllRmUsingGET","produces":["application/json"],"parameters":[{"name":"rmId","in":"query","description":"rmId","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/VpRmDto"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/gen/allRoles":{"get":{"tags":["generic-utils-controller"],"summary":"index","operationId":"indexUsingGET_9","produces":["application/json"],"parameters":[{"name":"clientIdList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"count","in":"query","required":false,"type":"boolean"},{"name":"financeImpact","in":"query","required":false,"type":"boolean"},{"name":"financeStatus","in":"query","required":false,"type":"string"},{"name":"leadIdList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"manufacturerIdList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"rmIdList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/gen/createDemo":{"post":{"tags":["generic-utils-controller"],"summary":"createDemo","operationId":"createDemoUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"createDemoRequest","description":"createDemoRequest","required":true,"schema":{"$ref":"#/definitions/CreateDemoRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreateDemoResponse"}}}}},"/api/gen/getTncDetails":{"post":{"tags":["generic-utils-controller"],"summary":"get_tnc","operationId":"get_tncUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetTncDetailResponsePayload"}}}}},"/api/gen/tncAccepted":{"post":{"tags":["generic-utils-controller"],"summary":"tnc_accepted","operationId":"tnc_acceptedUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"requestPayload","description":"requestPayload","required":true,"schema":{"$ref":"#/definitions/TncAcceptedRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TncAcceptedResponsePayload"}}}}},"/api/gen/usersUnderUser":{"get":{"tags":["generic-utils-controller"],"summary":"usersUnderUser","operationId":"usersUnderUserUsingGET","produces":["application/json"],"parameters":[{"name":"allRoleList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"ignoreRmFlag","in":"query","required":false,"type":"boolean"},{"name":"roleList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"vpList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ListUserResponseUmsPayload"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/gen/usersUnderUser/paginated":{"get":{"tags":["generic-utils-controller"],"summary":"usersUnderUserPaginated","operationId":"usersUnderUserPaginatedUsingGET","produces":["application/json"],"parameters":[{"name":"allRoleList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"ignoreRmFlag","in":"query","required":false,"type":"boolean"},{"name":"roleList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"vpList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/gen/usersUnderUserPaginated":{"get":{"tags":["generic-utils-controller"],"summary":"usersUnderUserPaginatedOld","operationId":"usersUnderUserPaginatedOldUsingGET","produces":["application/json"],"parameters":[{"name":"allRoleList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"ignoreRmFlag","in":"query","required":false,"type":"boolean"},{"name":"roleList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"vpList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/gen/usersUnderVp":{"get":{"tags":["generic-utils-controller"],"summary":"usersUnderVp","operationId":"usersUnderVpUsingGET","produces":["application/json"],"parameters":[{"name":"allRoleList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"ignoreRmFlag","in":"query","required":false,"type":"boolean"},{"name":"roleList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"vpList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/gen/usersWithRole":{"get":{"tags":["generic-utils-controller"],"summary":"usersWithRole","operationId":"usersWithRoleUsingGET","produces":["application/json"],"parameters":[{"name":"allRoleList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"ignoreRmFlag","in":"query","required":false,"type":"boolean"},{"name":"roleList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"vpList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/indexer-service/generate-doc/es/{entityType}/{entityId}":{"get":{"tags":["indexer-service-controller"],"summary":"esReindexProduct","operationId":"esReindexProductUsingGET","produces":["*/*"],"parameters":[{"name":"entityId","in":"path","description":"entityId","required":true,"type":"string"},{"name":"entityType","in":"path","description":"entityType","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/loginless_tna/GetOrder":{"get":{"tags":["loginless-tn-a-controller"],"summary":"get_order","operationId":"get_orderUsingGET","produces":["application/json"],"parameters":[{"name":"orderId","in":"query","required":false,"type":"string"},{"name":"type","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginLessResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/GetAllManufacturer/lite":{"post":{"tags":["manufacturer-controller"],"summary":"getAllManufacturerLite","operationId":"getAllManufacturerLiteUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ids","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"search","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"/api/manufacturer/GetCategories":{"get":{"tags":["manufacturer-controller"],"summary":"getCategory","operationId":"getCategoryUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetCategoryResponsePayload"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/GetManufacturerDetailsById":{"get":{"tags":["manufacturer-controller"],"summary":"getManufacturerDetailsById","operationId":"getManufacturerDetailsByIdUsingGET","produces":["application/json"],"parameters":[{"name":"gaId","in":"query","required":false,"type":"string"},{"name":"getDocs","in":"query","required":false,"type":"boolean"},{"name":"manufacturerId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"pin","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ManufacturerDetailResponseNew"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/GetManufacturerIdByName":{"get":{"tags":["manufacturer-controller"],"summary":"get_manufacturer_id_by_company_name","operationId":"get_manufacturer_id_by_company_nameUsingGET","produces":["application/json"],"parameters":[{"name":"caseSensitive","in":"query","required":false,"type":"boolean"},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/GetManufacturers/factoryCompliances":{"get":{"tags":["manufacturer-controller"],"summary":"findAllFactoryCompliance","operationId":"findAllFactoryComplianceUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/GetManufacturers/manufacturers":{"get":{"tags":["manufacturer-controller"],"summary":"findAllManufacturers","operationId":"findAllManufacturersUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/GetManufacturers/supplierTypes":{"get":{"tags":["manufacturer-controller"],"summary":"getAllSupplierTypes","operationId":"getAllSupplierTypesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/UploadManufacturerDocs":{"post":{"tags":["manufacturer-controller"],"summary":"uploadManufacturerDocs","operationId":"uploadManufacturerDocsUsingPOST","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"name":"folder","in":"formData","required":false,"type":"string"},{"name":"filename","in":"formData","required":false,"type":"string"},{"name":"gaId","in":"formData","required":false,"type":"string"},{"name":"secured","in":"formData","required":false,"type":"boolean"},{"name":"addRandomKey","in":"formData","required":false,"type":"boolean"},{"in":"body","name":"file","description":"file","required":true,"schema":{"type":"string","format":"binary"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UploadResponsePayload"}}}}},"/api/manufacturer/all/dashboard":{"get":{"tags":["manufacturer-controller"],"summary":"getAllDashboardManufacturers","operationId":"getAllDashboardManufacturersUsingGET","produces":["application/json"],"parameters":[{"name":"categories","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"categoryId","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"city","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"companyName","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"complianceType","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"confirmationDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"contractStatus","in":"query","required":false,"type":"string","enum":["all","completed_signature","pending_signature"]},{"name":"ids","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"leadId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orderStatus","in":"query","required":false,"type":"string","enum":["active_orders","all","completed_orders"]},{"name":"pendingAudits","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"pincode","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"preferredFactory","in":"query","required":false,"type":"boolean"},{"name":"ragRatings","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"regions","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"rmIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"searchTerm","in":"query","required":false,"type":"string"},{"name":"supplierType","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"type","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/auditData/{manufacturerId}":{"get":{"tags":["manufacturer-controller"],"summary":"getManufacturerAuditData","operationId":"getManufacturerAuditDataUsingGET","produces":["application/json"],"parameters":[{"name":"checkDoc","in":"query","required":false,"type":"boolean"},{"name":"manufacturerId","in":"path","description":"manufacturerId","required":true,"type":"integer","format":"int64"},{"name":"status","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ManufacturerAuditDataResponse"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/auditStatus/{manufacturerId}":{"put":{"tags":["manufacturer-controller"],"summary":"updateAuditStatus","operationId":"updateAuditStatusUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"manufacturerId","in":"path","description":"manufacturerId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ManufacturerUpdateAuditRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/manufacturer/buyer/compliance":{"post":{"tags":["manufacturer-brand-approval-controller"],"summary":"create","operationId":"createUsingPOST_9","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"requestPayload","description":"requestPayload","required":true,"schema":{"$ref":"#/definitions/ManufacturerBrandApprovalRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ManufacturerBrandApprovalDto"}}}}},"/api/manufacturer/buyer/compliance/index":{"get":{"tags":["manufacturer-brand-approval-controller"],"summary":"index","operationId":"indexUsingGET_14","produces":["application/json"],"parameters":[{"name":"pageType","in":"query","required":false,"type":"string"},{"name":"status","in":"query","required":false,"type":"string","pattern":"^(approved|pending|rejected)$"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/buyer/compliance/{manufacturerUnitBuyerComplianceId}":{"get":{"tags":["manufacturer-brand-approval-controller"],"summary":"view","operationId":"viewUsingGET","produces":["application/json"],"parameters":[{"name":"manufacturerUnitBuyerComplianceId","in":"path","description":"manufacturerUnitBuyerComplianceId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ManufacturerBrandApprovalDto"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}},"put":{"tags":["manufacturer-brand-approval-controller"],"summary":"update","operationId":"updateUsingPUT_6","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"manufacturerUnitBuyerComplianceId","in":"path","description":"manufacturerUnitBuyerComplianceId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"requestPayload","description":"requestPayload","required":true,"schema":{"$ref":"#/definitions/ManufacturerBrandApprovalRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ManufacturerBrandApprovalDto"}}}}},"/api/manufacturer/cities":{"get":{"tags":["manufacturer-controller"],"summary":"getManufacturerCities","operationId":"getManufacturerCitiesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/get/{manufacturerId}/add-address":{"post":{"tags":["manufacturer-controller"],"summary":"addAddress","operationId":"addAddressUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"addressDTO","description":"addressDTO","required":true,"schema":{"$ref":"#/definitions/AddressSubmitRequestPayload"}},{"name":"manufacturerId","in":"path","description":"manufacturerId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AddressSubmitResponsePayload"}}}}},"/api/manufacturer/getAll":{"get":{"tags":["manufacturer-controller"],"summary":"index","operationId":"indexUsingGET_15","produces":["application/json"],"parameters":[{"name":"categories","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"categoryId","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"city","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"companyName","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"complianceType","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"confirmationDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"contractStatus","in":"query","required":false,"type":"string","enum":["all","completed_signature","pending_signature"]},{"name":"ids","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"leadId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orderStatus","in":"query","required":false,"type":"string","enum":["active_orders","all","completed_orders"]},{"name":"pendingAudits","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"pincode","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"preferredFactory","in":"query","required":false,"type":"boolean"},{"name":"ragRatings","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"regions","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"rmIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"searchTerm","in":"query","required":false,"type":"string"},{"name":"supplierType","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"type","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/getManufacturerAddresses/{manufacturerId}":{"get":{"tags":["manufacturer-controller"],"summary":"getManufacturerAddresses","operationId":"getManufacturerAddressesUsingGET","produces":["application/json"],"parameters":[{"name":"manufacturerId","in":"path","description":"manufacturerId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/getStateCity":{"get":{"tags":["manufacturer-controller"],"summary":"getStateCityByPincode","operationId":"getStateCityByPincodeUsingGET","produces":["application/json"],"parameters":[{"name":"pincode","in":"query","description":"pincode","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CityStateResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/migrate/all":{"post":{"tags":["manufacturer-controller"],"summary":"migrateAll","operationId":"migrateAllUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/manufacturer/migrateAudit":{"post":{"tags":["manufacturer-controller"],"summary":"migrateToAudit","operationId":"migrateToAuditUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/manufacturer/migrateOldManufacturerDocs":{"post":{"tags":["manufacturer-controller"],"summary":"migrateOldManufacturerDocs","operationId":"migrateOldManufacturerDocsUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/manufacturer/mini":{"get":{"tags":["manufacturer-controller"],"summary":"manufacturerMini","operationId":"manufacturerMiniUsingGET","produces":["application/json"],"parameters":[{"name":"categories","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"categoryId","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"city","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"companyName","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"complianceType","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"confirmationDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"contractStatus","in":"query","required":false,"type":"string","enum":["all","completed_signature","pending_signature"]},{"name":"ids","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"leadId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"orderStatus","in":"query","required":false,"type":"string","enum":["active_orders","all","completed_orders"]},{"name":"pendingAudits","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"pincode","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"preferredFactory","in":"query","required":false,"type":"boolean"},{"name":"ragRatings","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"regions","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"rmIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"searchTerm","in":"query","required":false,"type":"string"},{"name":"supplierType","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"type","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ManufacturerMiniResponsePayload"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/orderSummary/{manufacturerId}":{"get":{"tags":["manufacturer-controller"],"summary":"getManufacturerOrderSummary","operationId":"getManufacturerOrderSummaryUsingGET","produces":["application/json"],"parameters":[{"name":"manufacturerId","in":"path","description":"manufacturerId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ManufacturerOrderSummary"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/ragRating/{manufacturerId}/{manufacturerUnitId}/history":{"get":{"tags":["manufacturer-controller"],"summary":"getRagRatingHistory","operationId":"getRagRatingHistoryUsingGET","produces":["application/json"],"parameters":[{"name":"manufacturerId","in":"path","description":"manufacturerId","required":true,"type":"integer","format":"int64"},{"name":"manufacturerUnitId","in":"path","description":"manufacturerUnitId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«RagRatingHistoryDto»"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/manufacturer/ragRating/{manufacturerId}/{manufacturerUnitId}/{ragRating}":{"put":{"tags":["manufacturer-controller"],"summary":"ragRating","operationId":"ragRatingUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"manufacturerId","in":"path","description":"manufacturerId","required":true,"type":"integer","format":"int64"},{"name":"manufacturerUnitId","in":"path","description":"manufacturerUnitId","required":true,"type":"integer","format":"int64"},{"name":"ragRating","in":"path","description":"ragRating","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/manufacturer/refactor/director":{"put":{"tags":["manufacturer-controller"],"summary":"refactorDirector","operationId":"refactorDirectorUsingPUT","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/manufacturer/updateDoc/{manufacturerId}":{"put":{"tags":["manufacturer-controller"],"summary":"updateDoc","operationId":"updateDocUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"manufacturerId","in":"path","description":"manufacturerId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ManufacturerUpdateDocRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/margin/get_all_margin":{"post":{"tags":["margin-controller"],"summary":"get_all_margins","operationId":"get_all_marginsUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetAllMarginResponse"}}}}},"/api/orders/BulkOrderCreation":{"post":{"tags":["order-controller"],"summary":"mapReapExcelDatatoDB","operationId":"mapReapExcelDatatoDBUsingPOST","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"file","description":"file","required":true,"schema":{"type":"string","format":"binary"}},{"name":"sheet","in":"query","description":"sheet","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BulkOrderCreationResponse"}}}}},"/api/orders/ChangeOrderStatus":{"post":{"tags":["order-controller"],"summary":"change_order_status","operationId":"change_order_statusUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"requestPayload","description":"requestPayload","required":true,"schema":{"$ref":"#/definitions/ChangeOrderStatusRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageResponse"}}}}},"/api/orders/CompleteOrder":{"get":{"tags":["order-controller"],"summary":"complete_order","operationId":"complete_orderUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderUpdateMessage"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/CompleteOrderList":{"post":{"tags":["order-controller"],"summary":"CompleteOrderList","operationId":"CompleteOrderListUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"requestPayload","description":"requestPayload","required":true,"schema":{"$ref":"#/definitions/CompleteOrderListRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderUpdateMessage"}}}}},"/api/orders/CreateOrder":{"post":{"tags":["order-controller"],"summary":"create_order","operationId":"create_orderUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"orderRequestPayload","description":"orderRequestPayload","required":true,"schema":{"$ref":"#/definitions/CreateOrderRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreateOrderResponseDto"}}}}},"/api/orders/EncodeOrderId":{"get":{"tags":["order-controller"],"summary":"encode_orderId","operationId":"encode_orderIdUsingGET","produces":["application/json"],"parameters":[{"name":"orderId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EncodeOrderIdResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/GetAllClientOrders/{userName}":{"get":{"tags":["order-controller"],"summary":"clientOrdersLite","operationId":"clientOrdersLiteUsingGET_1","produces":["application/json"],"parameters":[{"name":"approvalStatus","in":"query","required":false,"type":"string"},{"name":"assigneeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"brandIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"businessOwnerIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"buyerExFactoryEndDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"buyerExFactoryStartDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"companyIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"confirmationDateEndDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"confirmationDateStartDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"draftOrders","in":"query","required":false,"type":"boolean"},{"name":"fieldName","in":"query","required":false,"type":"string"},{"name":"filters","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"financeApprovedOnce","in":"query","required":false,"type":"boolean"},{"name":"financialStatus","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"forPo","in":"query","required":false,"type":"boolean"},{"name":"fromDb","in":"query","required":false,"type":"boolean"},{"name":"getDataFor","in":"query","required":false,"type":"string"},{"name":"havingShipmentsOnly","in":"query","required":false,"type":"boolean"},{"name":"inventoryCreated","in":"query","required":false,"type":"boolean"},{"name":"leadIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"manufacturerIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"modelTypes","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"opsAssigneeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"orderIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"parentOrderOnly","in":"query","required":false,"type":"boolean"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"searchList","in":"query","required":false,"type":"array","items":{"type":"object"},"collectionFormat":"multi"},{"name":"skipList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"typeOfDelivery","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userName","in":"path","description":"userName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/GetAllOrder":{"post":{"tags":["order-controller"],"summary":"get_all","operationId":"get_allUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"orderSearchRequestPayload","description":"orderSearchRequestPayload","required":true,"schema":{"$ref":"#/definitions/OrderSearchRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"/api/orders/GetAllOrdersLite":{"get":{"tags":["order-controller"],"summary":"index_light","operationId":"index_lightUsingGET_1","produces":["application/json"],"parameters":[{"name":"approvalStatus","in":"query","required":false,"type":"string"},{"name":"assigneeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"brandIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"businessOwnerIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"buyerExFactoryEndDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"buyerExFactoryStartDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"companyIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"confirmationDateEndDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"confirmationDateStartDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"draftOrders","in":"query","required":false,"type":"boolean"},{"name":"fieldName","in":"query","required":false,"type":"string"},{"name":"filters","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"financeApprovedOnce","in":"query","required":false,"type":"boolean"},{"name":"financialStatus","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"forPo","in":"query","required":false,"type":"boolean"},{"name":"fromDb","in":"query","required":false,"type":"boolean"},{"name":"getDataFor","in":"query","required":false,"type":"string"},{"name":"havingShipmentsOnly","in":"query","required":false,"type":"boolean"},{"name":"inventoryCreated","in":"query","required":false,"type":"boolean"},{"name":"leadIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"manufacturerIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"modelTypes","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"opsAssigneeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"orderIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"parentOrderOnly","in":"query","required":false,"type":"boolean"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"searchList","in":"query","required":false,"type":"array","items":{"type":"object"},"collectionFormat":"multi"},{"name":"skipList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"typeOfDelivery","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}},"post":{"tags":["order-controller"],"summary":"index_light_post","operationId":"index_light_postUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"orderSearchRequestPayload","description":"orderSearchRequestPayload","required":true,"schema":{"$ref":"#/definitions/OrderSearchRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"/api/orders/GetAllParentsOrders":{"get":{"tags":["order-controller"],"summary":"GetAllParentsOrders","operationId":"GetAllParentsOrdersUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"integer","format":"int64"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/GetAllQcSteps":{"get":{"tags":["order-controller"],"summary":"GetAllQcSteps","operationId":"GetAllQcStepsUsingGET","produces":["application/json"],"parameters":[{"name":"orderId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/QcStepFiltersDTO"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/GetOrder":{"post":{"tags":["order-controller"],"summary":"get_order","operationId":"get_orderUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"requestPayload","description":"requestPayload","required":true,"schema":{"$ref":"#/definitions/GetOrderRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetOrderResponsePayload"}}}}},"/api/orders/GetOrder/{orderId}":{"get":{"tags":["order-controller"],"summary":"getOrderView","operationId":"getOrderViewUsingGET","produces":["application/json"],"parameters":[{"name":"baseDate","in":"query","required":false,"type":"string"},{"name":"checkExFactory","in":"query","required":false,"type":"boolean"},{"name":"checkOrderConfirmation","in":"query","required":false,"type":"boolean"},{"name":"lineVariables","in":"query","required":false,"type":"boolean"},{"name":"orderId","in":"path","description":"orderId","required":true,"type":"integer","format":"int64"},{"name":"stepName","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetOrderViewResponsePayload"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/GetOrder/{orderId}/child-orders":{"get":{"tags":["order-controller"],"summary":"getChildOrders","operationId":"getChildOrdersUsingGET","produces":["application/json"],"parameters":[{"name":"baseDate","in":"query","required":false,"type":"string"},{"name":"checkExFactory","in":"query","required":false,"type":"boolean"},{"name":"checkOrderConfirmation","in":"query","required":false,"type":"boolean"},{"name":"lineVariables","in":"query","required":false,"type":"boolean"},{"name":"orderId","in":"path","description":"orderId","required":true,"type":"integer","format":"int64"},{"name":"stepName","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/GetOrdersViewChildDTO"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/GetOrderAndSkuSummaryOfMasterOrder/{orderId}":{"get":{"tags":["order-controller"],"summary":"GetOrderAndSkuSummaryOfMasterOrder","operationId":"GetOrderAndSkuSummaryOfMasterOrderUsingGET","produces":["application/json"],"parameters":[{"name":"orderId","in":"path","description":"orderId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderAndSkuSummaryResponse"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/GetOrderStep/{orderId}/{stepId}":{"get":{"tags":["order-controller"],"summary":"getOrderViewStep","operationId":"getOrderViewStepUsingGET","produces":["application/json"],"parameters":[{"name":"baseDate","in":"query","required":false,"type":"string"},{"name":"checkExFactory","in":"query","required":false,"type":"boolean"},{"name":"checkOrderConfirmation","in":"query","required":false,"type":"boolean"},{"name":"lineVariables","in":"query","required":false,"type":"boolean"},{"name":"orderId","in":"path","description":"orderId","required":true,"type":"integer","format":"int64"},{"name":"stepId","in":"path","description":"stepId","required":true,"type":"integer","format":"int64"},{"name":"stepName","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WfStepOrderViewMapDto"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/GetOrderSteps/{orderId}":{"get":{"tags":["order-controller"],"summary":"getOrderViewSteps","operationId":"getOrderViewStepsUsingGET","produces":["application/json"],"parameters":[{"name":"orderId","in":"path","description":"orderId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WfStepOrderViewMapDto"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/GetSkuSummaryOfMasterOrder/{orderId}":{"get":{"tags":["order-controller"],"summary":"GetSkuSummaryOfMasterOrder","operationId":"GetSkuSummaryOfMasterOrderUsingGET","produces":["application/json"],"parameters":[{"name":"orderId","in":"path","description":"orderId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SkuSummaryDto"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/GetStepDateInfo":{"get":{"tags":["order-controller"],"summary":"GetStepDateInfo","operationId":"GetStepDateInfoUsingGET","produces":["application/json"],"parameters":[{"name":"baseDate","in":"query","required":false,"type":"string"},{"name":"orderId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetStepDateInfo"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/MoveToDraft/{orderId}":{"put":{"tags":["order-controller"],"summary":"move_order_to_draft","operationId":"move_order_to_draftUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"orderId","in":"path","description":"orderId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageResponse"}}}}},"/api/orders/RemovePackage":{"delete":{"tags":["order-controller"],"summary":"removePackageFromOrder","operationId":"removePackageFromOrderUsingDELETE","produces":["*/*"],"parameters":[{"name":"orderid","in":"query","description":"orderid","required":false,"type":"integer","format":"int64"},{"name":"packageid","in":"query","description":"packageid","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/orders/RemovePackageItem":{"delete":{"tags":["order-controller"],"summary":"removePackageItemFromOrder","operationId":"removePackageItemFromOrderUsingDELETE","produces":["*/*"],"parameters":[{"name":"orderid","in":"query","description":"orderid","required":true,"type":"integer","format":"int64"},{"name":"packageid","in":"query","description":"packageid","required":true,"type":"integer","format":"int64"},{"name":"packageitemid","in":"query","description":"packageitemid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/orders/SearchOrder":{"post":{"tags":["order-controller"],"summary":"index","operationId":"indexUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"orderSearchRequestPayload","description":"orderSearchRequestPayload","required":true,"schema":{"$ref":"#/definitions/OrderSearchRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"/api/orders/UpdateManufacturerComments":{"put":{"tags":["order-controller"],"summary":"index","operationId":"indexUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"updateManufacturerCommentRequestPayload","description":"updateManufacturerCommentRequestPayload","required":true,"schema":{"$ref":"#/definitions/UpdateManufacturerCommentRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/orders/UpdateOrder":{"put":{"tags":["order-controller"],"summary":"update_order","operationId":"update_orderUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"orderRequestPayload","description":"orderRequestPayload","required":true,"schema":{"$ref":"#/definitions/UpdateOrderRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreateOrderResponseDto"}}}}},"/api/orders/UpdateOrder/MarkInventoryCreated":{"put":{"tags":["order-controller"],"summary":"markInventoryCreatedForOrder","operationId":"markInventoryCreatedForOrderUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"orderRequestPayload","description":"orderRequestPayload","required":true,"schema":{"$ref":"#/definitions/UpdateOrderRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CreateOrderResponseDto"}}}}},"/api/orders/UpdateOrder/revertCompletedStep":{"put":{"tags":["order-controller"],"summary":"revertCompletedStep","operationId":"revertCompletedStepUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"revertCompletedStepPayload","description":"revertCompletedStepPayload","required":true,"schema":{"$ref":"#/definitions/RevertCompletedStepPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RevertCompletedStepResponsePayload"}}}}},"/api/orders/UpdateOrderGen":{"put":{"tags":["order-controller"],"summary":"update_order_gen","operationId":"update_order_genUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"requestPayload","description":"requestPayload","required":true,"schema":{"$ref":"#/definitions/UpdateOrderGenRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UpdateOrderGenResponse"}}}}},"/api/orders/UpdateOrderStep/bulk":{"put":{"tags":["order-controller"],"summary":"update_order_step_bulk","operationId":"update_order_step_bulkUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"orderStepBulkRequestPayload","description":"orderStepBulkRequestPayload","required":true,"schema":{"$ref":"#/definitions/UpdateOrderStepBulkPayload"}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"/api/orders/UpdateQcSteps":{"put":{"tags":["order-controller"],"summary":"UpdateQcSteps","operationId":"UpdateQcStepsUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"orderId","in":"query","required":false,"type":"integer","format":"int64"},{"in":"body","name":"updateQcStepsRequestPayload","description":"updateQcStepsRequestPayload","required":true,"schema":{"$ref":"#/definitions/UpdateQcStepsRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/orders/add/leads":{"post":{"tags":["order-controller"],"summary":"addOrderLeads","operationId":"addOrderLeadsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"orderLeadsRequestPayload","description":"orderLeadsRequestPayload","required":true,"schema":{"$ref":"#/definitions/OrderLeadsRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/orders/all/lead/{leadId}":{"get":{"tags":["order-controller"],"summary":"clientOrdersLite","operationId":"clientOrdersLiteUsingGET","produces":["application/json"],"parameters":[{"name":"approvalStatus","in":"query","required":false,"type":"string"},{"name":"assigneeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"brandIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"businessOwnerIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"buyerExFactoryEndDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"buyerExFactoryStartDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"companyIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"confirmationDateEndDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"confirmationDateStartDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"draftOrders","in":"query","required":false,"type":"boolean"},{"name":"fieldName","in":"query","required":false,"type":"string"},{"name":"filters","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"financeApprovedOnce","in":"query","required":false,"type":"boolean"},{"name":"financialStatus","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"forPo","in":"query","required":false,"type":"boolean"},{"name":"fromDb","in":"query","required":false,"type":"boolean"},{"name":"getDataFor","in":"query","required":false,"type":"string"},{"name":"havingShipmentsOnly","in":"query","required":false,"type":"boolean"},{"name":"inventoryCreated","in":"query","required":false,"type":"boolean"},{"name":"leadId","in":"path","description":"leadId","required":true,"type":"integer","format":"int64"},{"name":"leadIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"manufacturerIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"modelTypes","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"opsAssigneeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"orderIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"parentOrderOnly","in":"query","required":false,"type":"boolean"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"searchList","in":"query","required":false,"type":"array","items":{"type":"object"},"collectionFormat":"multi"},{"name":"skipList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"typeOfDelivery","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/assignOrder":{"post":{"tags":["order-controller"],"summary":"assign_order","operationId":"assign_orderUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"assignOrderRequestPayload","description":"assignOrderRequestPayload","required":true,"schema":{"$ref":"#/definitions/AssignOrderRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderUpdateMessage"}}}}},"/api/orders/auditorListing":{"get":{"tags":["order-controller"],"summary":"auditorListing","operationId":"auditorListingUsingGET","produces":["application/json"],"parameters":[{"name":"auditorList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"auditStatusList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"bdAssigneeList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"fieldName","in":"query","required":false,"type":"string"},{"name":"filters","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"financialStatus","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"forPo","in":"query","required":false,"type":"boolean"},{"name":"getDataFor","in":"query","required":false,"type":"string"},{"name":"inventoryCreated","in":"query","required":false,"type":"boolean"},{"name":"leadIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"opsAssigneeList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"parentOrderOnly","in":"query","required":false,"type":"boolean"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"searchList","in":"query","required":false,"type":"array","items":{"type":"object"},"collectionFormat":"multi"},{"name":"skipList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/auditorUserList":{"get":{"tags":["order-controller"],"summary":"auditorUserList","operationId":"auditorUserListUsingGET","produces":["application/json"],"parameters":[{"name":"allRoleList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"ignoreRmFlag","in":"query","required":false,"type":"boolean"},{"name":"roleList","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"search","in":"query","required":false,"type":"string"},{"name":"vpList","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/bulkAssignOrder":{"post":{"tags":["order-controller"],"summary":"assign_order","operationId":"assign_orderUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"bulkAssignOrderRequestPayload","description":"bulkAssignOrderRequestPayload","required":true,"schema":{"$ref":"#/definitions/BulkAssignOrderRequestPayload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderUpdateMessage"}}}}},"/api/orders/checkSkuCosting":{"get":{"tags":["order-controller"],"summary":"check_sku_costing","operationId":"check_sku_costingUsingGET","produces":["application/json"],"parameters":[{"name":"sku","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/checkSkuOrder":{"get":{"tags":["order-controller"],"summary":"check_sku_order","operationId":"check_sku_orderUsingGET","produces":["application/json"],"parameters":[{"name":"sku","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/get/stepDates":{"get":{"tags":["order-controller"],"summary":"getStepDates","operationId":"getStepDatesUsingGET","produces":["application/json"],"parameters":[{"name":"baseDate","in":"query","required":false,"type":"string"},{"name":"orderId","in":"query","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderStepDates"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/getAllCurrency":{"get":{"tags":["order-controller"],"summary":"allCurrency","operationId":"allCurrencyUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CurrencyDTO"}},"403":{"description":"Forbidden!!!!!"},"500":{"description":"500 message"}}}},"/api/orders/getForwarderQuotationOrderData":{"get":{"tags":["order-controller"],"summary":"getForwarderQuotationOrderData","operationId":"getForwarderQuotationOrderDataUsingGET","produces":["application/json"],"parameters":[{"name":"approvalStatus","in":"query","required":false,"type":"string"},{"name":"assigneeIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"brandIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"businessOwnerIds","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"buyerExFactoryEndDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"buyerExFactoryStartDate","in":"query","required":false,"type":"integer","format":"int64"},{"name":"companyIds","in":"query","required":false,"type":"array","item
[...]
